Merging

In [2]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in c:\python38\lib\site-packages (0.18.0)

WARNING: Ignoring invalid distribution - (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python38\lib\site-packages)

Requirement already satisfied: python-Levenshtein in c:\python38\lib\site-packages (0.21.1)
Requirement already satisfied: Levenshtein==0.21.1 in c:\python38\lib\site-packages (from python-Levenshtein) (0.21.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=2.3.0 in c:\python38\lib\site-packages (from Levenshtein==0.21.1->python-Levenshtein) (3.2.0)

WARNING: Ignoring invalid distribution - (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python38\lib\site-packages)

In [15]:
import pandas as pd

# change csv file names as necessary
df_qs = pd.read_csv('qs_csv.csv')
df_the = pd.read_csv('the_csv.csv')
df_shanghai = pd.read_csv('sh_csv.csv')

In [18]:
list(df_the['University'])

['University of Oxford',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'ETH Zurich',
 'Carnegie Mellon University',
 'University of Cambridge',
 'National University of Singapore',
 'University of California, Berkeley',
 'Harvard University',
 'Technical University of Munich',
 'Imperial College London',
 'Princeton University',
 'Tsinghua University',
 'Nanyang Technological University, Singapore',
 'University of Washington',
 'Cornell University',
 'Georgia Institute of Technology',
 'University of Illinois at Urbana-Champaign',
 'California Institute of Technology',
 'Peking University',
 'Columbia University',
 'École Polytechnique Fédérale de Lausanne',
 'University of Toronto',
 'University of Edinburgh',
 'New York University',
 'University of California, Los Angeles',
 'Shanghai Jiao Tong University',
 'Johns Hopkins University',
 'The Hong Kong University of Science and Technology',
 'UCL',
 'University of Texas at Austin',
 'Yale University',
 'University of California, San Diego',
 'University of Montreal',
 'University of Pennsylvania',
 'Chinese University of Hong Kong',
 'University of Michigan-Ann Arbor',
 'The University of Chicago',
 'Paris Sciences et Lettres – PSL Research University Paris',
 'Zhejiang University',
 'KU Leuven',
 'The University of Tokyo',
 'University of Waterloo',
 'Korea Advanced Institute of Science and Technology (KAIST)',
 'University of Maryland, College Park',
 'Institut Polytechnique de Paris',
 'University of British Columbia',
 'Delft University of Technology',
 'Seoul National University',
 'RWTH Aachen University',
 'University of Melbourne',
 'Duke University',
 'McGill University',
 'University of Southern California',
 'University of Hong Kong',
 'King Abdulaziz University',
 'Monash University',
 'Nanjing University',
 'Technical University of Berlin',
 'University of California, Santa Barbara',
 'University of Amsterdam',
 'The University of Sydney',
 'University of Wisconsin-Madison',
 'University of Science and Technology of China',
 'LMU Munich',
 'Australian National University',
 'Université Paris-Saclay',
 'Technical University of Darmstadt',
 'University of Technology Sydney',
 'UNSW Sydney',
 'Karlsruhe Institute of Technology',
 'Sorbonne University',
 'Aalto University',
 'Brown University',
 'University of Adelaide',
 'University of California, Irvine',
 'KTH Royal Institute of Technology',
 'University of Freiburg',
 'Hong Kong Polytechnic University',
 'Michigan State University',
 'Fudan University',
 'City University of Hong Kong',
 'Yonsei University (Seoul campus)',
 'Queen Mary University of London',
 'University of Massachusetts',
 'Kyoto University',
 'University of Manchester',
 'Politecnico di Milano',
 'Eindhoven University of Technology',
 'Penn State (Main campus)',
 'University of California, Davis',
 'Purdue University West Lafayette',
 'TU Wien',
 'University of North Carolina at Chapel Hill',
 'Qatar University',
 'Virginia Polytechnic Institute and State University',
 'University of Warsaw',
 'Northwestern University',
 'University of Bonn',
 'Lomonosov Moscow State University',
 'University of Alberta',
 'University of Bologna',
 'Boston University',
 'University of Copenhagen',
 'University of Illinois Chicago',
 'Indian Institute of Science',
 'King’s College London',
 'Korea University',
 'University of Luxembourg',
 'Macau University of Science and Technology',
 'Moscow Institute of Physics and Technology (MIPT)',
 'National Taiwan University (NTU)',
 'Northeastern University, US',
 'The University of Queensland',
 'Rice University',
 'Ruhr University Bochum',
 'Rutgers University – New Brunswick',
 'Simon Fraser University',
 'University of Southampton',
 'University of Surrey',
 'Università della Svizzera italiana',
 'Technical University of Denmark',
 'University of Tübingen',
 'Vrije Universiteit Amsterdam',
 'University of Zurich',
 'Aarhus University',
 'Arizona State University (Tempe)',
 'University of Bristol',
 'University of California, Riverside',
 'Central South University',
 'Chalmers University of Technology',
 'École des Ponts ParisTech',
 'Graz University of Technology',
 'Griffith University',
 'Huazhong University of Science and Technology',
 'King Saud University',
 'Lancaster University',
 'Linköping University',
 'University of Malaya',
 'University of Oslo',
 'University of Oulu',
 'Queensland University of Technology',
 'Stony Brook University',
 'Sun Yat-sen University',
 'Swansea University',
 'Swinburne University of Technology',
 'Technion Israel Institute of Technology',
 'Tel Aviv University',
 'Tokyo Institute of Technology',
 'University of Warwick',
 'Aalborg University',
 'Asia University, Taiwan',
 'University of Basel',
 'Deakin University',
 'École Normale Supérieure de Lyon',
 'University of Erlangen-Nuremberg',
 'University of Glasgow',
 'University of Groningen',
 'IMT Atlantique',
 'King Fahd University of Petroleum and Minerals',
 'Kyung Hee University',
 'University of Macau',
 'Macquarie University',
 'University of Mannheim',
 'Near East University',
 'Pohang University of Science and Technology (POSTECH)',
 'University of Rochester',
 'Sapienza University of Rome',
 'University of South Australia',
 'University of Stuttgart',
 'Texas A&M University',
 'Tohoku University',
 'University of Trento',
 'TU Dresden',
 'University College Dublin',
 'William & Mary',
 'University of Antwerp',
 'University of Auckland',
 'Bauman Moscow State Technical University',
 'University of Birmingham',
 'Brunel University London',
 'University of Colorado Boulder',
 'University of Galway',
 'Harbin Institute of Technology',
 'University of Helsinki',
 'University of Klagenfurt',
 'University of Leicester',
 'University of Minnesota',
 'University of Newcastle',
 'North Carolina State University',
 'Peter the Great St Petersburg Polytechnic University',
 'Radboud University Nijmegen',
 'Sant’Anna School of Advanced Studies – Pisa',
 'Sejong University',
 'Shenzhen University',
 'Southern University of Science and Technology (SUSTech)',
 'Stevens Institute of Technology',
 'Sungkyunkwan University (SKKU)',
 'SUNY Binghamton University',
 'University of Tartu',
 'Ton Duc Thang University',
 'University of Vienna',
 'York University',
 'Benha University',
 'University of Bern',
 'University of Bradford',
 'University at Buffalo',
 'Cairo University',
 'University of California, Santa Cruz',
 'Case Western Reserve University',
 'University of Córdoba',
 'Dartmouth College',
 'De Montfort University',
 'University of East Anglia',
 'University of Essex',
 'University of Florida',
 'Free University of Bozen-Bolzano',
 'University of Granada',
 'Université Grenoble Alpes',
 'Indiana University',
 'Istanbul Technical University',
 'Johannes Kepler University of Linz',
 'The University of Jordan',
 'University of Leeds',
 'Loughborough University',
 'Université Catholique de Louvain',
 'Lviv Polytechnic National University',
 'Manchester Metropolitan University',
 'Mansoura University',
 'Nagoya University',
 'National Yang Ming Chiao Tung University',
 'University of New Brunswick UNB',
 'University of Notre Dame',
 'University of Nottingham',
 'Ohio State University (Main campus)',
 'Osaka University',
 'Université Paris Cité',
 'University of Pisa',
 'Quaid-i-Azam University',
 'Université du Québec',
 'Queen’s University Belfast',
 'University of Sharjah',
 'Temple University',
 'The University of Texas at San Antonio',
 'Trinity College Dublin',
 'TU Dortmund University',
 'University of Twente',
 'Ulm University',
 'Utrecht University',
 'Victoria University of Wellington',
 'Washington University in St Louis',
 'Wuhan University',
 'Yeungnam University',
 'Bar-Ilan University',
 'Cardiff University',
 'University of Central Florida',
 'Dublin City University',
 'Duy Tan University',
 'University of Electronic Science and Technology of China',
 'University of Exeter',
 'Florida International University',
 'University of Fortaleza (UNIFOR)',
 'Free University of Berlin',
 'George Washington University',
 'University of Göttingen',
 'University of Guelph',
 'Hebrew University of Jerusalem',
 'Hong Kong Baptist University',
 'Humboldt University of Berlin',
 'University of Iowa',
 'University of Jaén',
 'Jouf University',
 'University of Kaiserslautern',
 'University of Konstanz',
 'Lehigh University',
 'Leibniz University Hannover',
 'Université Libre de Bruxelles',
 'University of Liège',
 'University of Lincoln',
 'Minia University',
 'Nankai University',
 'National Research Nuclear University MEPhI',
 'Newcastle University',
 'Nottingham Trent University',
 'University of Padua',
 'University of Pittsburgh-Pittsburgh campus',
 'RMIT University',
 'Royal Holloway, University of London',
 'University of Salford',
 'Sharif University of Technology',
 'Sichuan University',
 'Taif University',
 'University of Tehran',
 'Universiti Teknologi Malaysia',
 'Thapar Institute of Engineering and Technology',
 'Ulsan National Institute of Science and Technology (UNIST)',
 'Victoria University',
 'University of Victoria',
 'University of Virginia (Main campus)',
 'Washington State University',
 'University of Würzburg',
 'Al-Balqa Applied University',
 'Amirkabir University of Technology',
 'Andhra University',
 'Aston University',
 'University of Bath',
 'University of Bayreuth',
 'Beihang University',
 'University of Campinas',
 'University of Catania',
 'Changsha University of Science and Technology',
 'Charles University',
 'City, University of London',
 'COMSATS University Islamabad',
 'Concordia University',
 'University of Crete',
 'Dalian University of Technology',
 'University of Delaware',
 'Durham University',
 'Edinburgh Napier University',
 'Edith Cowan University',
 'University of Engineering and Technology, Taxila',
 'Federal University of Piauí',
 'Firat University',
 'Florida Atlantic University',
 'University of Geneva',
 'Georgetown University',
 'University of Hamburg',
 'Hanyang University',
 'Heriot-Watt University',
 'University of Houston',
 'Illinois Institute of Technology',
 'Indian Institute of Technology Indore',
 'University of Innsbruck',
 'International Islamic University, Islamabad',
 'Iowa State University',
 'ITMO University',
 'Jamia Millia Islamia',
 'Kalasalingam Academy of Research and Education',
 'University of Kentucky',
 'KIIT University',
 'King Faisal University',
 'Lakehead University',
 'Université Laval',
 'University of Liverpool',
 'Liverpool John Moores University',
 'University of Management and Technology',
 'McMaster University',
 'Middle East Technical University',
 'Middlesex University',
 'University of Modena and Reggio Emilia',
 'University of Münster',
 'University of Naples Federico II',
 'National and Kapodistrian University of Athens',
 'National Taiwan University of Science and Technology (Taiwan Tech)',
 'National Tsing Hua University',
 'New Jersey Institute of Technology',
 'Northumbria University',
 'Northwestern Polytechnical University',
 'Norwegian University of Science and Technology',
 'Open University of Catalonia',
 'University of Ottawa',
 'University of Passau',
 'University of Plymouth',
 'Universitat Politècnica de Catalunya',
 'University of Potsdam',
 'Prince Sattam Bin Abdulaziz University',
 'University of the Punjab',
 'University of Reading',
 'University of Regina',
 'Rensselaer Polytechnic Institute',
 'University of Rhode Island',
 'Universiti Sains Malaysia',
 'University of St Gallen',
 'University of Salamanca',
 'University of Salerno',
 'University of São Paulo',
 'University of Saskatchewan',
 'Siksha ‘O’ Anusandhan',
 'University of Southern Denmark',
 'Southwestern University of Finance and Economics',
 'Syracuse University',
 'Tampere University',
 'University of Texas at Dallas',
 'Tianjin University',
 'University of Turku',
 'Uppsala University',
 'Vanderbilt University',
 'Vrije Universiteit Brussel',
 'Wenzhou University',
 'University of the West of England',
 'The University of Western Australia',
 'Western University',
 'Western Sydney University',
 'University of Windsor',
 'University of Wollongong',
 'Yangzhou University',
 'Yıldız Technical University',
 'University of York',
 'Zagazig University',
 'Zayed University',
 'University of Aberdeen',
 'University of the Aegean',
 'The University of Aizu',
 'University of Anbar',
 'Autonomous University of Barcelona',
 'University of Babylon',
 'Beijing Institute of Technology',
 'University of Beira Interior',
 'University of Bergen',
 'University of Bremen',
 'University of Calabria',
 'University of Calgary',
 'Carleton University',
 'Centrale Nantes',
 'University of Chile',
 'Chung-Ang University',
 'Colorado School of Mines',
 'Covenant University',
 'Curtin University',
 'CY Cergy Paris University',
 'Delhi Technological University',
 'University of Dhaka',
 'University of Duisburg-Essen',
 'East China Normal University',
 'University of Eastern Finland',
 'Federal University of Toulouse Midi-Pyrénées',
 'Federation University Australia',
 'Florida State University',
 'George Mason University',
 'University of Georgia',
 'Georgia State University',
 'University of Greenwich',
 'Guangzhou University',
 'Hasselt University',
 'Huaqiao University',
 'Hunan University',
 'Indraprastha Institute of Information Technology Delhi',
 'International Institute of Information Technology, Hyderabad',
 'Iran University of Science and Technology',
 'Jordan University of Science and Technology',
 'University of Jyväskylä',
 'Kazan Federal University',
 'Universiti Kebangsaan Malaysia',
 'University of Kent',
 'Kharkiv National University of Radio Electronics',
 'King Khalid University',
 'KL University',
 'Kyungpook National University',
 'Kyushu University',
 'La Trobe University',
 'Louisiana State University',
 'Lovely Professional University',
 'Lund University',
 'Majmaah University',
 'Universiti Malaysia Pahang',
 'Massey University',
 'Maynooth University',
 'Memorial University of Newfoundland',
 'Menoufia University',
 'University of Miami',
 'University of Milan-Bicocca',
 'Missouri University of Science and Technology',
 'Montpellier University',
 'Murdoch University',
 'Nanjing University of Information Science and Technology',
 'National University of Sciences and Technology',
 'National Institute of Technology Hamirpur',
 'Old Dominion University',
 'Plekhanov Russian University of Economics',
 'Pontifical Catholic University of Rio de Janeiro (PUC-Rio)',
 'University of Porto',
 'University of Portsmouth',
 'Qingdao University',
 'Queen’s University',
 'South China University of Technology',
 'Southeast University',
 'University of Southern Queensland',
 'Stellenbosch University',
 'Stockholm University',
 'University of Strathclyde',
 'SUNY University at Albany',
 'University of Sussex',
 'Symbiosis International University',
 'University of Tabriz',
 'University of Tasmania',
 'University of Texas at Arlington',
 'Tongji University',
 'Toronto Metropolitan University',
 'TU Braunschweig',
 'University of Turin',
 'UiT The Arctic University of Norway',
 'Umm Al-Qura University',
 'University of Utah',
 'VIT University',
 'Waseda University',
 'Wayne State University',
 'Worcester Polytechnic Institute',
 'Xiamen University',
 'Xi’an Jiaotong University',
 'Xi’an Jiaotong-Liverpool University',
 'Xidian University',
 'Zhejiang Normal University',
 'Al-Azhar University',
 'Alexandria University',
 'Amity University',
 'University of L’Aquila',
 'Aristotle University of Thessaloniki',
 'University of Arizona',
 'Athens University of Economics and Business',
 'Auckland University of Technology',
 'Autonomous University of Madrid',
 'University of Bari Aldo Moro',
 'University of the Basque Country',
 'Ben-Gurion University of the Negev',
 'Bielefeld University',
 'Boğaziçi University',
 'University of Bordeaux',
 'Ca’ Foscari University of Venice',
 'University of Canterbury',
 'Carlos III University of Madrid',
 'Clemson University',
 'University of Connecticut',
 'University of Côte d’Azur',
 'Coventry University',
 'University of Cyprus',
 'Cyprus University of Technology',
 'Czech Technical University in Prague',
 'Dalhousie University',
 'University of Dayton',
 'Drexel University',
 'University of Engineering and Technology, Peshawar',
 'Escuela Superior Politécnica del Litoral',
 'Federal University of Minas Gerais',
 'University of Fribourg',
 'Friedrich Schiller University Jena',
 'University of Genoa',
 'University of Gothenburg',
 'Guangdong University of Technology',
 'Gwangju Institute of Science and Technology (GIST)',
 'Université Polytechnique Hauts-de-France',
 'HSE University',
 'Indian Institute of Technology Patna',
 'University of Isfahan',
 'Isfahan University of Technology',
 'Kazan National Research Technical University',
 'Keio University',
 'Lappeenranta-Lahti University of Technology LUT',
 'Lebanese University',
 'University of Limerick',
 'University of Lisbon',
 'Maastricht University',
 'University of Malta',
 'University of Maryland, Baltimore County',
 'Masaryk University',
 'University of Messina',
 'University of Milan',
 'Mississippi State University',
 'University of Mons',
 'Monterrey Institute of Technology',
 'Nanjing Agricultural University',
 'National Dong Hwa University',
 'National Taiwan Normal University',
 'University of North Carolina at Charlotte',
 'North South University',
 'Óbuda University',
 'Oklahoma State University',
 'Ontario Tech University',
 'The Open University',
 'University of Otago',
 'Ozyegin University',
 'Panjab University',
 'Polytechnic University of Valencia',
 'Pontificia Universidad Católica de Chile',
 'Pontifícia Universidade Católica do Paraná',
 'Princess Nourah bint Abdulrahman University',
 'University of Rennes 1',
 'Sabancı University',
 'University of Science and Technology Beijing',
 'Shahrood University of Technology',
 'Shanghai University',
 'Shiraz University',
 'University of Siena',
 'Soonchunhyang University',
 'University of South Florida',
 'Taibah University',
 'Tallinn University of Technology',
 'Tanta University',
 'Technical University of Madrid',
 'Universiti Teknologi Petronas',
 'Tilburg University',
 'University of Tsukuba',
 'Tufts University',
 'United Arab Emirates University',
 'University College Cork',
 'University of Valladolid',
 'Vilnius Gediminas Technical University (Vilnius Tech)',
 'Virginia Commonwealth University',
 'University of Waikato',
 'Zhejiang Gongshang University',
 'University of A Coruña',
 'Ain Shams University',
 'Aix-Marseille University',
 'Ajou University',
 'The University of Alabama',
 'University of Alcalá',
 'Al-Farabi Kazakh National University',
 'University of Alicante',
 'Aligarh Muslim University',
 'American University of Beirut',
 'American University of Sharjah',
 'University of the Andes, Colombia',
 'University of Arkansas',
 'Assiut University',
 'Babeş-Bolyai University',
 'Bahria University',
 'Bandung Institute of Technology (ITB)',
 'Beijing Jiaotong University',
 'Beijing Normal University',
 'Bharathiar University',
 'Bilkent University',
 'University of Biskra',
 'Université Bourgogne Franche-Comté (UBFC)',
 'Bournemouth University',
 'Instituto Politécnico de Bragança',
 'Brno University of Technology',
 'Budapest University of Technology and Economics',
 'University of Cape Town',
 'Technical University of Cartagena',
 'Charles Sturt University',
 'Chongqing University',
 'Chosun University',
 'Chulalongkorn University',
 'Claude Bernard University Lyon 1',
 'University of Coimbra',
 'Colorado State University, Fort Collins',
 'Comenius University in Bratislava',
 'Complutense University of Madrid',
 'Cracow University of Technology',
 'De La Salle University',
 'Donghua University',
 'Heinrich Heine University Düsseldorf',
 'University of Engineering & Technology (UET) Lahore',
 'Universidade Estadual Paulista (Unesp)',
 'Ewha Womans University',

In [4]:
df_qs['University'] = df_qs['University'].str.strip()
df_the['University'] = df_the['University'].str.strip()
df_shanghai['University'] = df_shanghai['University'].str.strip()
# Convert university names to lowercase and remove special characters
df_qs['University'] = df_qs['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)
df_the['University'] = df_the['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)
# Convert university names to lowercase and remove special characters
df_shanghai['University'] = df_shanghai['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)

In [19]:
from fuzzywuzzy import fuzz, process
import pandas as pd

# Define a function to find the best match for a given university name
def find_best_match(name, choices):
    best_match, score = process.extractOne(name, choices)
    if score >= 90:  # Adjust the threshold as needed
        return best_match
    else:
        return name

# Get unique university names from both dataframes
qs_universities = df_qs['University'].unique()
the_universities = df_the['University'].unique()

# Create a master list of all unique university names
all_universities = list(set(qs_universities))


# Standardize university names in df_the
df_the['New University'] = df_the.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Merge the dataframes based on standardized university names
merged_df = pd.merge(df_qs, df_the, on=['University', 'Country'], how='outer')

# Select the desired columns
merged_df = merged_df[['University', 'Country', 'QS Citations per Paper', 'QS Academic Reputation','QS Employer Reputation',
                       'Citations', 'Research', 'Teaching']]

# Display the merged dataframe
merged_df

,University,Country,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching
0,Massachusetts Institute of Technology (MIT),United States,93.7,91.0,98.2,NaN,NaN,NaN
1,Carnegie Mellon University,United States,95.3,100.0,82.3,99.6,93.4,87.7
2,Stanford University,United States,99.9,88.5,96.3,100.0,96.3,90.6
3,"University of California, Berkeley (UCB)",United States,100.0,85.4,90.0,NaN,NaN,NaN
4,University of Oxford,United Kingdom,94.2,82.1,96.7,99.9,92.8,92.4
...,...,...,...,...,...,...,...,...
1372,Yamaguchi University,Japan,NaN,NaN,NaN,12.1,8.8,13.1
1373,Yanshan University,China,NaN,NaN,NaN,20.2,8.9,12.4
1374,Yokohama National University,Japan,NaN,NaN,NaN,20.6,19.3,17.0
1375,Yuan Ze University,Taiwan,NaN,NaN,NaN,28.3,10.7,14.1
1376,University of Žilina,Slovakia,NaN,NaN,NaN,25.0,10.9,16.7

In [6]:
# Get unique university names from both dataframes
shanghai_universities = df_shanghai['University'].unique()
merged_universities = merged_df['University'].unique()

# Create a master list of all unique university names
all_universities = list(set(merged_universities))

# Standardize university names in df_the
df_shanghai['new University'] = df_shanghai.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Merge the dataframes based on standardized university names
new_merged_df = pd.merge(merged_df, df_shanghai, on=['University'], how='outer')

# Select the desired columns
new_merged_df = new_merged_df[['University', 'Country', 'QS Citations per Paper', 'QS Academic Reputation','QS Employer Reputation',
                       'Citations', 'Research', 'Teaching', 'CNCI', 'TOP']]

# Display the merged dataframe
new_merged_df

,University,Country,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP
0,massachusetts institute of technology mit,United States,93.7,91.0,98.2,NaN,NaN,NaN,81.1,100.0
1,carnegie mellon university,United States,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8
2,stanford university,United States,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5
3,university of california berkeley ucb,United States,100.0,85.4,90.0,NaN,NaN,NaN,NaN,NaN
4,university of oxford,United Kingdom,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9
...,...,...,...,...,...,...,...,...,...,...
1506,university of missouri columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.8,10.5
1507,university of paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.7,23.1
1508,university of shanghai for science and technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.1,6.9
1509,university of tennessee knoxville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.4,14.5
1510,uoc universitat oberta de catalunya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.7,3.2

In [7]:
# from fuzzywuzzy import fuzz, process
# import pandas as pd

# Assuming you have a dataframe named merged_df
# Define a function to find the best match for a given university name
def find_best_match(name, choices):
    best_match, score = process.extractOne(name, choices)
    if score >= 93:  # Adjust the threshold as needed
        return best_match
    else:
        return name

# Create a list of all unique university names
all_universities = new_merged_df['University'].unique()

# Standardize university names in the merged DataFrame
new_merged_df['University'] = new_merged_df.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Combine values for similar university names
for idx, row in new_merged_df.iterrows():
    university_name = row['University']
    
    # Find similar matches in the merged DataFrame based on university name (excluding the current row)
    similarity_threshold = 97  # Adjust the similarity score threshold as needed
    similar_matches = new_merged_df[new_merged_df.apply(lambda x: fuzz.token_sort_ratio(x['University'], university_name), axis=1) >= similarity_threshold]
    similar_matches = similar_matches[similar_matches.index != idx]
    
    # Check if there are any similar matches
    if not similar_matches.empty:
        # Get the first similar match (you can implement a more sophisticated logic here)
        similar_row = similar_matches.iloc[0]
        
        # Iterate through the columns to fill in missing values with non-null values from either row
        for column in new_merged_df.columns:
            if pd.isnull(row[column]) and not pd.isnull(similar_row[column]):
                new_merged_df.at[idx, column] = similar_row[column]
            elif pd.isnull(similar_row[column]) and not pd.isnull(row[column]):
                new_merged_df.at[idx, column] = row[column]

# Display the updated DataFrame
new_merged_df

,University,Country,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP
0,massachusetts institute of technology mit,United States,93.7,91.0,98.2,NaN,NaN,NaN,81.1,100.0
1,carnegie mellon university,United States,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8
2,stanford university,United States,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5
3,university of california berkeley ucb,United States,100.0,85.4,90.0,NaN,NaN,NaN,NaN,NaN
4,university of oxford,United Kingdom,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9
...,...,...,...,...,...,...,...,...,...,...
1506,university of missouri columbia,United States,75.8,39.2,53.5,NaN,NaN,NaN,73.8,10.5
1507,university of paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.7,23.1
1508,university of shanghai for science and technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.1,6.9
1509,university of tennessee knoxville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.4,14.5
1510,uoc universitat oberta de catalunya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.7,3.2

In [8]:
# Fill NaN values with 0 for every row except 'country' column
country_column = new_merged_df['Country']
new_merged_df.drop('Country', axis=1, inplace=True)
new_merged_df.fillna(0, inplace=True)
new_merged_df['Country'] = country_column
new_merged_df[['University', 'Country', 'QS Citations per Paper', "Citations", 'CNCI', 'QS Academic Reputation',
              'QS Employer Reputation', 'Research', 'Teaching', 'TOP']]
new_merged_df

,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP,Country
0,massachusetts institute of technology mit,93.7,91.0,98.2,0.0,0.0,0.0,81.1,100.0,United States
1,carnegie mellon university,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8,United States
2,stanford university,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5,United States
3,university of california berkeley ucb,100.0,85.4,90.0,0.0,0.0,0.0,0.0,0.0,United States
4,university of oxford,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9,United Kingdom
...,...,...,...,...,...,...,...,...,...,...
1506,university of missouri columbia,75.8,39.2,53.5,0.0,0.0,0.0,73.8,10.5,United States
1507,university of paris,0.0,0.0,0.0,0.0,0.0,0.0,56.7,23.1,NaN
1508,university of shanghai for science and technology,0.0,0.0,0.0,0.0,0.0,0.0,71.1,6.9,NaN
1509,university of tennessee knoxville,0.0,0.0,0.0,0.0,0.0,0.0,63.4,14.5,NaN
1510,uoc universitat oberta de catalunya,0.0,0.0,0.0,0.0,0.0,0.0,84.7,3.2,NaN

In [9]:
new_merged_df['QS Citations per Paper'] = pd.to_numeric(new_merged_df['QS Citations per Paper'], errors='coerce')
new_merged_df['Citations'] = pd.to_numeric(new_merged_df['Citations'], errors='coerce')
new_merged_df['CNCI'] = pd.to_numeric(new_merged_df['CNCI'], errors='coerce')

# Calculate the "final citation score" for each row based on the specified logic
def calculate_final_score_citations(row):
    qs_citations_per_paper = row['QS Citations per Paper']
    citations = row['Citations']
    cnci = row['CNCI']

    if qs_citations_per_paper != 0 and citations != 0 and cnci != 0:
        final_score = (((qs_citations_per_paper + citations + cnci) / 3) / 100) * 0.8 + 0.2
    elif (qs_citations_per_paper != 0 and citations != 0) or (qs_citations_per_paper != 0 and cnci != 0) or (citations != 0 and cnci != 0):
        final_score = (((qs_citations_per_paper + citations + cnci) / 2) / 100) * 0.8 + 0.1
    elif qs_citations_per_paper != 0 or citations != 0 or cnci != 0:
        final_score = (max(qs_citations_per_paper, citations, cnci) / 100) * 0.8
    else:
        final_score = 0

    return (final_score*100)

# Apply the calculation to each row and create a new 'final citation score' column
new_merged_df['final citation score'] = new_merged_df.apply(calculate_final_score_citations, axis=1)

# Display the updated DataFrame
new_merged_df

,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP,Country,final citation score
0,massachusetts institute of technology mit,93.7,91.0,98.2,0.0,0.0,0.0,81.1,100.0,United States,79.920000
1,carnegie mellon university,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8,United States,91.626667
2,stanford university,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5,United States,96.560000
3,university of california berkeley ucb,100.0,85.4,90.0,0.0,0.0,0.0,0.0,0.0,United States,80.000000
4,university of oxford,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9,United Kingdom,91.013333
...,...,...,...,...,...,...,...,...,...,...,...
1506,university of missouri columbia,75.8,39.2,53.5,0.0,0.0,0.0,73.8,10.5,United States,69.840000
1507,university of paris,0.0,0.0,0.0,0.0,0.0,0.0,56.7,23.1,NaN,45.360000
1508,university of shanghai for science and technology,0.0,0.0,0.0,0.0,0.0,0.0,71.1,6.9,NaN,56.880000
1509,university of tennessee knoxville,0.0,0.0,0.0,0.0,0.0,0.0,63.4,14.5,NaN,50.720000
1510,uoc universitat oberta de catalunya,0.0,0.0,0.0,0.0,0.0,0.0,84.7,3.2,NaN,67.760000

In [10]:
def calculate_final_score_rep(row):
    cols = ['TOP', 'QS Academic Reputation', 'QS Employer Reputation', 'Research', 'Teaching']
    non_zero_cols = [col for col in cols if row[col] != 0]
    non_zero_count = len(non_zero_cols)

    # Convert relevant columns to numeric
    numeric_cols = row[non_zero_cols].apply(pd.to_numeric, errors='coerce')

    if non_zero_count == 5:
        final_score = (((numeric_cols.sum() / 5) / 100) * 0.8) + 0.2
    elif non_zero_count == 4:
        final_score = (((numeric_cols.sum() / 4) / 100) * 0.8) + 0.15
    elif non_zero_count == 3:
        final_score = (((numeric_cols.sum() / 3) / 100) * 0.8) + 0.1
    elif non_zero_count == 2:
        final_score = (((numeric_cols.sum() / 2) / 100) * 0.8) + 0.05
    elif non_zero_count == 1:
        final_score = (numeric_cols[non_zero_cols[0]] / 100) * 0.8
    else:
        final_score = 0

    return (final_score * 100)

# Apply the calculation to each row and create a new 'final reputation score' column
new_merged_df['final reputation score'] = new_merged_df.apply(calculate_final_score_rep, axis=1)

# Display the updated DataFrame
new_merged_df

,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP,Country,final citation score,final reputation score
0,massachusetts institute of technology mit,93.7,91.0,98.2,0.0,0.0,0.0,81.1,100.0,United States,79.920000,87.120
1,carnegie mellon university,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8,United States,91.626667,94.112
2,stanford university,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5,United States,96.560000,93.152
3,university of california berkeley ucb,100.0,85.4,90.0,0.0,0.0,0.0,0.0,0.0,United States,80.000000,75.160
4,university of oxford,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9,United Kingdom,91.013333,88.464
...,...,...,...,...,...,...,...,...,...,...,...,...
1506,university of missouri columbia,75.8,39.2,53.5,0.0,0.0,0.0,73.8,10.5,United States,69.840000,37.520
1507,university of paris,0.0,0.0,0.0,0.0,0.0,0.0,56.7,23.1,NaN,45.360000,18.480
1508,university of shanghai for science and technology,0.0,0.0,0.0,0.0,0.0,0.0,71.1,6.9,NaN,56.880000,5.520
1509,university of tennessee knoxville,0.0,0.0,0.0,0.0,0.0,0.0,63.4,14.5,NaN,50.720000,11.600
1510,uoc universitat oberta de catalunya,0.0,0.0,0.0,0.0,0.0,0.0,84.7,3.2,NaN,67.760000,2.560

In [11]:
new_merged_df['overall score'] = 0.2 * new_merged_df['final citation score'] + 0.8 * new_merged_df['final reputation score']
new_merged_df.sort_values(by='overall score', ascending=False, inplace=True)
new_merged_df.reset_index(drop=True, inplace=True)
new_merged_df.index += 1

In [12]:
new_merged_df

,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP,Country,final citation score,final reputation score,overall score
1,stanford university,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5,United States,96.560000,93.152,93.833600
2,carnegie mellon university,95.3,100.0,82.3,99.6,93.4,87.7,73.7,99.8,United States,91.626667,94.112,93.614933
3,university of oxford,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9,United Kingdom,91.013333,88.464,88.973867
4,eth zurich,91.7,82.8,90.0,98.8,95.7,84.4,79.9,72.8,Switzerland,92.106667,88.112,88.910933
5,tsinghua university,86.4,78.8,83.0,90.7,92.3,89.8,74.7,81.3,China,87.146667,88.032,87.854933
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,communication university of china,0.0,0.0,0.0,6.7,8.8,14.3,0.0,0.0,China,5.360000,14.240,12.464000
1508,mirea russian technological university,0.0,0.0,0.0,11.8,7.9,10.9,0.0,0.0,Russian Federation,9.440000,12.520,11.904000
1509,kansai university,0.0,0.0,0.0,3.3,8.1,14.0,0.0,0.0,Japan,2.640000,13.840,11.600000
1510,metropolitan autonomous university,0.0,0.0,0.0,7.2,8.4,11.3,0.0,0.0,Mexico,5.760000,12.880,11.456000
1511,technical university of loja,0.0,0.0,0.0,7.6,7.5,11.2,0.0,0.0,Ecuador,6.080000,12.480,11.200000

In [13]:
new_merged_df.to_csv('FINAL_ranking_list.csv')