In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException
# from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
import pprint
import datetime as dt
year = dt.datetime.now().year
def wait():
    time.sleep(3)
def long_wait():
    time.sleep(5)
def close_cookie(driver):
    try:
        close_btn = driver.find_element(By.XPATH, "//div[@class='eu-cookie-compliance-buttons']")
        close_btn.click()
        wait()
    except:
        print("Cookie button not found")

In [2]:
def setup(year):
    chrome_options = Options()
    chrome_options.add_argument('--no-sandbox')
    chrome_options.add_argument('--disable-dev-shm-usage')
    
    prefs = {"download.default_directory": ""}
    chrome_options.add_experimental_option("prefs", prefs)
    
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(f"https://www.topuniversities.com/university-rankings/university-subject-rankings/{year}/computer-science-information-systems?&tab=indicators&sort_by=overallscore&order_by=desc")
    driver.maximize_window()
    long_wait()
    close_cookie(driver)
    
    # Check if the page contains the "Coming Soon!" error message
    if 'Coming Soon!' in driver.page_source:
        year -= 1
        driver.quit()
        return setup(year)  # Recursively call setup() with the decremented year
    
    return driver

In [3]:
def click_load_more(driver):
    while True:
        try:
            # Check if the "No data found" message is present
            time.sleep(5)
            no_data_msg = driver.find_element(By.XPATH, "//div[contains(text(), 'No data found on applied filters')]")
            break  # Stop clicking the "Load More" button if the message is found
        except NoSuchElementException:
            pass

        try:
            load_more_btn = driver.find_element(By.XPATH, "//button[contains(@class, 'loadmorebutton') and contains(text(), 'Load More')]")
            driver.execute_script("arguments[0].scrollIntoView();", load_more_btn)
            driver.execute_script("arguments[0].click();", load_more_btn)
            wait()
        except NoSuchElementException:
            # If the "Load More" button is not found, break the loop
            break

driver = setup(year)
click_load_more(driver)

In [4]:
def table_click_right(driver):
  right_arrow = driver.find_elements(By.XPATH, "//span[@direction='right']")
  right_arrow[0].click()
  wait()
    
def extract_location(driver):
    locations = driver.find_elements(By.XPATH, "//div[contains(@class, 'location')]")
    location_data = []
    for location in locations:
        location_text = location.text.strip()
        if location_text:
            location_data.append(location_text)
    return location_data



######################################
# setting up dataframe of results #
######################################
df_columns = ["Country", "University", "QS Citations per Paper"]
df = pd.DataFrame(columns=df_columns)
######################################
# running webscrape #
######################################

time.sleep(20)

In [5]:
data = driver.find_elements(By.XPATH, "//*[@class='td-wrap-in']")
for i in range(len(data)):
    print(i, data[i].text)

0
1 Massachusetts Institute of Technology (MIT)
2 94.5
3 91
4 98.2
5
6
7
8
9 Carnegie Mellon University
10 93.5
11 100
12 82.3
13
14
15
16
17 Stanford University
18 93
19 88.5
20 96.3
21
22
23
24
25 University of California, Berkeley (UCB)
26 89.6
27 85.4
28 90
29
30
31
32
33 University of Oxford
34 89.4
35 82.1
36 96.7
37
38
39
40
41 National University of Singapore (NUS)
42 88.5
43 84.4
44 92.4
45
46
47
48
49 University of Cambridge
50 88.3
51 82.7
52 96
53
54
55
56
57 Harvard University
58 88.2
59 80.2
60 100
61
62
63
64
65 ETH Zurich
66 87.2
67 82.8
68 90
69
70
71
72
73 EPFL
74 86
75 85.3
76 88.3
77
78
79
80
81 Nanyang Technological University, Singapore (NTU Singapore)
82 85.2
83 80.1
84 87.8
85
86
87
88
89 University of Toronto
90 84.6
91 82.8
92 84.4
93
94
95
96
97 Princeton University
98 83.7
99 79.8
100 85.1
101
102
103
104
105 University of Washington
106 82.9
107 82
108 75.5
109
110
111
112
113 Tsinghua University
114 82.7
115 78.8
116 83
117
118
119
120
121 Tsinghua University
122 82.7
123 78.8
124 83
125
126
127
128
129 Cornell University
130 81.9
131 76.3
132 81.5
133
134
135
136
137 University of California, Los Angeles (UCLA)
138 80.9
139 75.8
140 86.9
141
142
143
144
145 Peking University
146 80.3
147 76.7
148 80.9
149
150
151
152
153 The University of Edinburgh
154 80.2
155 79.9
156 73.5
157
158
159
160
161 University of British Columbia
162 79.9
163 73.4
164 83.1
165
166
167
168
169 University of Waterloo
170 79.7
171 76
172 79
173
174
175
176
177 Columbia University
178 79.6
179 74.2
180 83.1
181
182
183
184
185 UCL
186 79.5
187 75.4
188 76
189
190
191
192
193 University of Illinois at Urbana-Champaign
194 79.1
195 74
196 76.7
197
198
199
200
201 New York University (NYU)
202 79
203 75.7
204 77
205
206
207
208
209 Shanghai Jiao Tong University
210 77.8
211 71.4
212 81.9
213
214
215
216
217 Georgia Institute of Technology
218 77.6
219 69.6
220 78.6
221
222
223
224
225 Technical University of Munich
226 77.5
227 76.5
228 72.9
229
230
231
232
233 KAIST - Korea Advanced Institute of Science & Technology
234 77.5
235 75.8
236 79.4
237
238
239
240
241 Institut Polytechnique de Paris
242 77.4
243 68
244 86.9
245
246
247
248
249 Seoul National University
250 76.6
251 72.9
252 82
253
254
255
256
257 Politecnico di Milano
258 76.4
259 70.1
260 81.4
261
262
263
264
265 University of Amsterdam
266 76.1
267 74.3
268 73.7
269
270
271
272
273 McGill University
274 76.1
275 67.3
276 82.4
277
278
279
280
281 California Institute of Technology (Caltech)
282 76
283 67.2
284 86.4
285
286
287
288
289 Yale University
290 76
291 67.5
292 87.1
293
294
295
296
297 Zhejiang University
298 76
299 66.9
300 80.4
301
302
303
304
305 University of Texas at Austin
306 76
307 67.6
308 78.1
309
310
311
312
313 The Hong Kong University of Science and Technology
314 75.8
315 73.7
316 72.9
317
318
319
320
321 Université Paris-Saclay
322 75.6
323 64.3
324 85.6
325
326
327
328
329 The University of Melbourne
330 75.6
331 68.3
332 78.1
333
334
335
336
337 University of Pennsylvania
338 75.5
339 69.2
340 76.4
341
342
343
344
345 University of California, San Diego (UCSD)
346 75.4
347 69
348 73.6
349
350
351
352
353 University of Michigan-Ann Arbor
354 75.4
355 66
356 75.2
357
358
359
360
361 Université PSL
362 75.2
363 66.2
364 82.7
365
366
367
368
369 Université de Montréal
370 75.1
371 68.1
372 71.5
373
374
375
376
377 Sorbonne University
378 75.1
379 68.9
380 78.4
381
382
383
384
385 The University of Tokyo
386 75
387 67.9
388 84.7
389
390
391
392
393 King Abdulaziz University (KAU)
394 74.6
395 68.1
396 70.1
397
398
399
400
401 KU Leuven
402 74.6
403 70.8
404 71.4
405
406
407
408
409 University of Chicago
410 74.5
411 65.7
412 79.8
413
414
415
416
417 The Chinese University of Hong Kong (CUHK)
418 74.3
419 72.3
420 64.8
421
422
423
424
425 Delft University of Technology
426 74.1
427 64.5
428 78.9
429
430
431
432
433 University of Southern California
434 73.9
435 65.3
436 71.4
437
438
439
440
441 Australian National University (ANU)
442 73.8
443 67.8
444 74.2
445
446
447
448
449 The University of New South Wales (UNSW Sydney)
450 73.7
451 63.5
452 76.6
453
454
455
456
457 The University of Sydney
458 73.7
459 63
460 74.9
461
462
463
464
465 University of Maryland, College Park
466 73.5
467 67.9
468 69.1
469
470
471
472
473 Fudan University
474 73.4
475 68
476 79.2
477
478
479
480
481 The University of Hong Kong
482 73.3
483 68.1
484 73.4
485
486
487
488
489 KTH Royal Institute of Technology
490 73
491 69.6
492 70.1
493
494
495
496
497 King's College London
498 72.6
499 66.4
500 74.6
501
502
503
504
505 Lomonosov Moscow State University
506 72.5
507 69.6
508 91.9
509
510
511
512
513 The University of Manchester
514 72.2
515 61.1
516 75.3
517
518
519
520
521 Indian Institute of Technology Bombay (IITB)
522 72.1
523 67.8
524 85
525
526
527
528
529 Indian Institute of Technology Delhi (IITD)
530 71.8
531 65.1
532 81.9
533
534
535
536
537 Purdue University
538 71.7
539 61.6
540 75.5
541
542
543
544
545 Eindhoven University of Technology
546 71.6
547 67.1
548 72.6
549
550
551
552
553 Technische Universität Berlin (TU Berlin)
554 71.4
555 68.8
556 69.3
557
558
559
560
561 Sapienza University of Rome
562 71
563 67.7
564 69.6
565
566
567
568
569 Johns Hopkins University
570 70.8
571 59.4
572 72
573
574
575
576
577 Monash University
578 70.6
579 60.8
580 75.5
581
582
583
584
585 Korea University
586 70.6
587 65
588 74.5
589
590
591
592
593 University of Technology Sydney
594 70.6
595 62.9
596 64.8
597
598
599
600
601 Korea University
602 70.6
603 65
604 74.5
605
606
607
608
609 The University of Warwick
610 70.4
611 61
612 72.2
613
614
615
616
617 Pohang University of Science And Technology (POSTECH)
618 70.3
619 66.9
620 75.7
621
622
623
624
625 ITMO University
626 70.2
627 64.6
628 78
629
630
631
632
633 National Taiwan University (NTU)
634 69.8
635 68.2
636 73.1
637
638
639
640
641 Universiti Malaya (UM)
642 69.8
643 61.8
644 65.7
645
646
647
648
649 Universitat Politècnica de Catalunya · BarcelonaTech (UPC)
650 69.6
651 62.9
652 67.8
653
654
655
656
657 Yonsei University
658 69.5
659 64.4
660 75.1
661
662
663
664
665 Aalto University
666 69.4
667 67.2
668 57.6
669
670
671
672
673 Duke University
674 69.3
675 58.9
676 72.1
677
678
679
680
681 Tecnológico de Monterrey
682 69.1
683 62.4
684 83.1
685
686
687
688
689 Universidade de São Paulo
690 69.1
691 60.4
692 80.2
693
694
695
696
697 Alma Mater Studiorum - University of Bologna
698 68.9
699 61.6
700 71
701
702
703
704
705 University of Science and Technology of China
706 68.9
707 66.8
708 61.1
709
710
711
712
713 RWTH Aachen University
714 68.8
715 64.6
716 68.2
717
718
719
720
721 University of Wisconsin-Madison
722 68.6
723 59.4
724 67.6
725
726
727
728
729 Trinity College Dublin, The University of Dublin
730 68.6
731 61.5
732 73
733
734
735
736
737 Ludwig-Maximilians-Universität München
738 68.6
739 69.9
740 61.7
741
742
743
744
745 Indian Institute of Technology Kharagpur (IIT-KGP)
746 68.5
747 61.6
748 75.5
749
750
751
752
753 Huazhong University of Science and Technology
754 68.4
755 56.7
756 69
757
758
759
760
761 University of California, Irvine
762 68.3
763 62.6
764 63.1
765
766
767
768
769 Indian Institute of Technology Kanpur (IITK)
770 68.3
771 62.9
772 77.5
773
774
775
776
777 Boston University
778 68.1
779 57.7
780 71.2
781
782
783
784
785 IMT Atlantique
786 68.1
787 53.1
788 86.7
789
790
791
792
793 Xi’an Jiaotong University
794 68.1
795 56
796 73.5
797
798
799
800
801 Politecnico di Torino
802 67.9
803 56.9
804 74.6
805
806
807
808
809 Indian Institute of Technology Madras (IITM)
810 67.9
811 63.7
812 78.1
813
814
815
816
817 University of Copenhagen
818 67.9
819 63.8
820 64.6
821
822
823
824
825 KIT, Karlsruhe Institute of Technology
826 67.8
827 63.7
828 65.8
829
830
831
832
833 Universidade Estadual de Campinas (Unicamp)
834 67.8
835 61.5
836 75.2
837
838
839
840
841 Pennsylvania State University
842 67.7
843 54.8
844 71.6
845
846
847
848
849 Queen Mary University of London
850 67.7
851 57.4
852 65.5
853
854
855
856
857 Brown University
858 67.7
859 58.3
860 69.5
861
862
863
864
865 Universidad de Chile
866 67.7
867 59.1
868 73.2
869
870
871
872
873 University of Massachusetts Amherst
874 67.6
875 62.7
876 63.9
877
878
879
880
881 Nanjing University
882 67.6
883 63.9
884 61
885
886
887
888
889 The University of Auckland
890 67.5
891 60.6
892 70.4
893
894
895
896
897 The University of Adelaide
898 67.4
899 57.2
900 63.9
901
902
903
904
905 Technion - Israel Institute of Technology
906 67.3
907 66.2
908 60.5
909
910
911
912
913 University of Alberta
914 67.3
915 57.1
916 68.4
917
918
919
920
921 Tokyo Institute of Technology (Tokyo Tech)
922 67.3
923 61.2
924 75.1
925
926
927
928
929 Moscow Institute of Physics and Technology (MIPT / Moscow Phystech)
930 67.2
931 61.4
932 82.4
933
934
935
936
937 Universidad Politécnica de Madrid (UPM)
938 67.1
939 56.9
940 72.8
941
942
943
944
945 Beijing Institute of Technology
946 67.1
947 57.9
948 69.5
949
950
951
952
953 Kyoto University
954 67.1
955 61.2
956 71.1
957
958
959
960
961 City University of Hong Kong
962 67
963 66.2
964 54.8
965
966
967
968
969 The University of Queensland
970 66.9
971 57.1
972 67.9
973
974
975
976
977 Chalmers University of Technology
978 66.9
979 62.8
980 62.3
981
982
983
984
985 Université catholique de Louvain (UCLouvain)
986 66.8
987 64.3
988 64.4
989
990
991
992
993 Lancaster University
994 66.8
995 58.6
996 62.5
997
998
999
1000
1001 Indian Institute of Science
1002 66.8
1003 63
1004 69.3
1005
1006
1007
1008
1009 Wuhan University
1010 66.7
1011 55.3
1012 71.1
1013
1014
1015
1016
1017 The London School of Economics and Political Science (LSE)
1018 66.6
1019 61.6
1020 81.7
1021
1022
1023
1024
1025 Vrije Universiteit Amsterdam
1026 66.6
1027 68.3
1028 57.3
1029
1030
1031
1032
1033 University of Zurich
1034 66.5
1035 60.9
1036 59.7
1037
1038
1039
1040
1041 Universidad Nacional Autónoma de México (UNAM)
1042 66.5
1043 58.7
1044 80.5
1045
1046
1047
1048
1049 University of North Carolina at Chapel Hill
1050 66.4
1051 58.9
1052 64.3
1053
1054
1055
1056
1057 University of Glasgow
1058 66.3
1059 61
1060 68.1
1061
1062
1063
1064
1065 Technical University of Darmstadt
1066 66.3
1067 64.8
1068 54.5
1069
1070
1071
1072
1073 Texas A&M University
1074 66.3
1075 52.2
1076 72
1077
1078
1079
1080
1081 Université Grenoble Alpes
1082 66.2
1083 60
1084 61.6
1085
1086
1087
1088
1089 University of Southampton
1090 66.2
1091 54
1092 67.4
1093
1094
1095
1096
1097 University of Birmingham
1098 66.1
1099 54.9
1100 65.9
1101
1102
1103
1104
1105 Queen's University at Kingston
1106 66
1107 52.8
1108 74.1
1109
1110
1111
1112
1113 University of Bristol
1114 65.9
1115 53.8
1116 69.8
1117
1118
1119
1120
1121 King Saud University
1122 65.9
1123 53.7
1124 64.4
1125
1126
1127
1128
1129 University of Helsinki
1130 65.9
1131 64
1132 59.2
1133
1134
1135
1136
1137 Aarhus University
1138 65.9
1139 65.3
1140 58.5
1141
1142
1143
1144
1145 University of Pisa
1146 65.6
1147 62.5
1148 60.8
1149
1150
1151
1152
1153 Sungkyunkwan University (SKKU)
1154 65.5
1155 60.2
1156 68.9
1157
1158
1159
1160
1161 National Tsing Hua University
1162 65.5
1163 61.6
1164 71
1165
1166
1167
1168
1169 King Abdullah University of Science & Technology (KAUST)
1170 65.5
1171 55.4
1172 64
1173
1174
1175
1176
1177 National University of Sciences And Technology (NUST) Islamabad
1178 65.4
1179 58.5
1180 68
1181
1182
1183
1184
1185 Michigan State University
1186 65.4
1187 52.4
1188 66.5
1189
1190
1191
1192
1193 Khalifa University
1194 65.4
1195 59.6
1196 62.6
1197
1198
1199
1200
1201 National University of Sciences And Technology (NUST) Islamabad
1202 65.4
1203 58.5
1204 68
1205
1206
1207
1208
1209 Tilburg University
1210 -
1211 45
1212 59.6
1213
1214
1215
1216
1217 University of Navarra
1218 -
1219 34.8
1220 71.9
1221
1222
1223
1224
1225 The Hong Kong Polytechnic University
1226 -
1227 57.8
1228 58.4
1229
1230
1231
1232
1233 Université Paris 13 Nord
1234 -
1235 37.8
1236 46.8
1237
1238
1239
1240
1241 Oxford Brookes University
1242 -
1243 53
1244 72.3
1245
1246
1247
1248
1249 The University of Sheffield
1250 -
1251 48.7
1252 64.4
1253
1254
1255
1256
1257 The University of Western Australia
1258 -
1259 48.3
1260 61.3
1261
1262
1263
1264
1265 Universitas Indonesia
1266 -
1267 56
1268 71.1
1269
1270
1271
1272
1273 University College Dublin
1274 -
1275 54.2
1276 67.7
1277
1278
1279
1280
1281 University of Bath
1282 -
1283 37
1284 66.2
1285
1286
1287
1288
1289 University of Florida
1290 -
1291 51.4
1292 62.6
1293
1294
1295
1296
1297 University of Illinois at Chicago (UIC)
1298 -
1299 55.4
1300 64.9
1301
1302
1303
1304
1305 University of Leeds
1306 -
1307 46.2
1308 67
1309
1310
1311
1312
1313 University of Minnesota Twin Cities
1314 -
1315 51.5
1316 63.3
1317
1318
1319
1320
1321 RMIT University
1322 -
1323 53
1324 66.4
1325
1326
1327
1328
1329 Taylor's University
1330 -
1331 52.2
1332 63.9
1333
1334
1335
1336
1337 University of Exeter
1338 -
1339 36.4
1340 62.1
1341
1342
1343
1344
1345 The University of Sheffield
1346 -
1347 48.7
1348 64.4
1349
1350
1351
1352
1353 The University of Western Australia
1354 -
1355 48.3
1356 61.3
1357
1358
1359
1360
1361 Universitas Indonesia
1362 -
1363 56
1364 71.1
1365
1366
1367
1368
1369 University College Dublin
1370 -
1371 54.2
1372 67.7
1373
1374
1375
1376
1377 University of Bath
1378 -
1379 37
1380 66.2
1381
1382
1383
1384
1385 University of Florida
1386 -
1387 51.4
1388 62.6
1389
1390
1391
1392
1393 University of Illinois at Chicago (UIC)
1394 -
1395 55.4
1396 64.9
1397
1398
1399
1400
1401 University of Leeds
1402 -
1403 46.2
1404 67
1405
1406
1407
1408
1409 University of Minnesota Twin Cities
1410 -
1411 51.5
1412 63.3
1413
1414
1415
1416
1417 University of Nottingham
1418 -
1419 48.1
1420 65.6
1421
1422
1423
1424
1425 University of Pretoria
1426 -
1427 34.5
1428 58.9
1429
1430
1431
1432
1433 Auckland University of Technology (AUT)
1434 -
1435 46.7
1436 52.4
1437
1438
1439
1440
1441 Washington University in St. Louis
1442 -
1443 46.1
1444 55
1445
1446
1447
1448
1449 Université Paris 13 Nord
1450 -
1451 37.8
1452 46.8
1453
1454
1455
1456
1457 Auckland University of Technology (AUT)
1458 -
1459 46.7
1460 52.4
1461
1462
1463
1464
1465 Cairo University
1466 -
1467 48.7
1468 71.4
1469
1470
1471
1472
1473 City University of New York
1474 -
1475 41.7
1476 64.4
1477
1478
1479
1480
1481 Complutense University of Madrid
1482 -
1483 52.6
1484 68.1
1485
1486
1487
1488
1489 Dublin City University
1490 -
1491 47.3
1492 63.2
1493
1494
1495
1496
1497 Florida International University
1498 -
1499 38.4
1500 57.5
1501
1502
1503
1504
1505 Freie Universitaet Berlin
1506 -
1507 57.5
1508 62.8
1509
1510
1511
1512
1513 Hanyang University
1514 -
1515 58.9
1516 71.8
1517
1518
1519
1520
1521 International Islamic University Malaysia (IIUM)
1522 -
1523 43.3
1524 55.3
1525
1526
1527
1528
1529 King Fahd University of Petroleum & Minerals
1530 -
1531 54.5
1532 70.9
1533
1534
1535
1536
1537 Kobe University
1538 -
1539 39.4
1540 57.3
1541
1542
1543
1544
1545 Pontificia Universidad Catolica del Peru
1546 -
1547 50.7
1548 67.8
1549
1550
1551
1552
1553 Queen's University Belfast
1554 -
1555 47.8
1556 65.1
1557
1558
1559
1560
1561 Loughborough University
1562 -
1563 44.6
1564 65.2
1565
1566
1567
1568
1569 Pontificia Universidad Catolica del Peru
1570 -
1571 50.7
1572 67.8
1573
1574
1575
1576
1577 Queen's University Belfast
1578 -
1579 47.8
1580 65.1
1581
1582
1583
1584
1585 Rutgers University–New Brunswick
1586 -
1587 55.6
1588 59.9
1589
1590
1591
1592
1593 Simon Fraser University
1594 -
1595 62.5
1596 56.9
1597
1598
1599
1600
1601 The American University in Cairo
1602 -
1603 48.2
1604 71.5
1605
1606
1607
1608
1609 The University of Arizona
1610 -
1611 49.2
1612 61.7
1613
1614
1615
1616
1617 Universitat de Barcelona
1618 -
1619 60.5
1620 69.5
1621
1622
1623
1624
1625 Universitat de Valencia
1626 -
1627 44
1628 50.9
1629
1630
1631
1632
1633 Universiti Kebangsaan Malaysia (UKM)
1634 -
1635 53.8
1636 59.5
1637
1638
1639
1640
1641 Universiti Teknologi Malaysia
1642 -
1643 58.4
1644 61.2
1645
1646
1647
1648
1649 University of Aberdeen
1650 -
1651 38.2
1652 58
1653
1654
1655
1656
1657 University of Cape Town
1658 -
1659 46.6
1660 61.5
1661
1662
1663
1664
1665 University of Liverpool
1666 -
1667 48.8
1668 63.4
1669
1670
1671
1672
1673 University of Otago
1674 -
1675 47.5
1676 59.2
1677
1678
1679
1680
1681 Universiti Kebangsaan Malaysia (UKM)
1682 -
1683 53.8
1684 59.5
1685
1686
1687
1688
1689 Universiti Teknologi Malaysia
1690 -
1691 58.4
1692 61.2
1693
1694
1695
1696
1697 University of Aberdeen
1698 -
1699 38.2
1700 58
1701
1702
1703
1704
1705 University of Cape Town
1706 -
1707 46.6
1708 61.5
1709
1710
1711
1712
1713 University of Liverpool
1714 -
1715 48.8
1716 63.4
1717
1718
1719
1720
1721 University of Otago
1722 -
1723 47.5
1724 59.2
1725
1726
1727
1728
1729 University of South Australia
1730 -
1731 50.4
1732 56.2
1733
1734
1735
1736
1737 University of South Carolina
1738 -
1739 41.5
1740 51.7
1741
1742
1743
1744
1745 University of Strathclyde
1746 -
1747 42.8
1748 59.9
1749
1750
1751
1752
1753 Université Laval
1754 -
1755 44.4
1756 58
1757
1758
1759
1760
1761 Ca' Foscari University of Venice
1762 -
1763 46.9
1764 56.9
1765
1766
1767
1768
1769 Chulalongkorn University
1770 -
1771 50.7
1772 63.3
1773
1774
1775
1776
1777 Florida State University
1778 -
1779 41.9
1780 60.1
1781
1782
1783
1784
1785 Georgia State University
1786 -
1787 44.5
1788 57.3
1789
1790
1791
1792
1793 Ghent University
1794 -
1795 53
1796 55.5
1797
1798
1799
1800
1801 Ghent University
1802 -
1803 53
1804 55.5
1805
1806
1807
1808
1809 Heriot-Watt University
1810 -
1811 40.3
1812 61
1813
1814
1815
1816
1817 La Trobe University
1818 -
1819 43.9
1820 57.8
1821
1822
1823
1824
1825 McMaster University
1826 -
1827 43.2
1828 65.8
1829
1830
1831
1832
1833 National Sun Yat-sen University
1834 -
1835 44.9
1836 59.4
1837
1838
1839
1840
1841 North Carolina State University
1842 -
1843 48.9
1844 59.5
1845
1846
1847
1848
1849 Universität Heidelberg
1850 -
1851 57.8
1852 63
1853
1854
1855
1856
1857 Temple University
1858 -
1859 44.4
1860 44.6
1861
1862
1863
1864
1865 The University of Newcastle, Australia (UON)
1866 -
1867 40.6
1868 56.7
1869
1870
1871
1872
1873 United Arab Emirates University
1874 -
1875 51.1
1876 68
1877
1878
1879
1880
1881 Universidade Federal do Rio de Janeiro
1882 -
1883 56.8
1884 70.8
1885
1886
1887
1888
1889 Universiti Teknologi MARA - UiTM
1890 -
1891 43.1
1892 54.2
1893
1894
1895
1896
1897 University College Cork
1898 -
1899 50.9
1900 63.2
1901
1902
1903
1904
1905 University of Canterbury | Te Whare Wānanga o Waitaha
1906 -
1907 48.5
1908 60.1
1909
1910
1911
1912
1913 University of Central Florida
1914 -
1915 41
1916 58.2
1917
1918
1919
1920
1921 University of Central Florida
1922 -
1923 41
1924 58.2
1925
1926
1927
1928
1929 University of Colorado Boulder
1930 -
1931 41.6
1932 57.9
1933
1934
1935
1936
1937 University of Delhi
1938 -
1939 48.1
1940 66.5
1941
1942
1943
1944
1945 University of Gothenburg
1946 -
1947 49.4
1948 50.3
1949
1950
1951
1952
1953 University of Houston
1954 -
1955 37.9
1956 53.7
1957
1958
1959
1960
1961 University of Iowa
1962 -
1963 31.9
1964 54.4
1965
1966
1967
1968
1969 University of Jordan
1970 -
1971 53.1
1972 70
1973
1974
1975
1976
1977 University of Kent
1978 -
1979 46.1
1980 56.9
1981
1982
1983
1984
1985 University of Lisbon
1986 -
1987 54
1988 57.3
1989
1990
1991
1992
1993 University of Missouri, Columbia
1994 -
1995 39.2
1996 53.5
1997
1998
1999
2000
2001 University of Naples - Federico II
2002 -
2003 45.7
2004 58.3
2005
2006
2007
2008
2009 University of Ottawa
2010 -
2011 50.2
2012 65.1
2013
2014
2015
2016
2017 University of Portsmouth
2018 -
2019 39
2020 49.6
2021
2022
2023
2024
2025 University of Rome "Tor Vergata"
2026 -
2027 49.2
2028 57.6
2029
2030
2031
2032
2033 University of Utah
2034 -
2035 50.1
2036 48.6
2037
2038
2039
2040
2041 University of Central Florida
2042 -
2043 41
2044 58.2
2045
2046
2047
2048
2049 University of Colorado Boulder
2050 -
2051 41.6

In [6]:
schools_data = list()
for i in range(1, len(data), 8):
    schools_data.append(data[i].text)
schools_data

['Massachusetts Institute of Technology (MIT)',
 'Carnegie Mellon University',
 'Stanford University',
 'University of California, Berkeley (UCB)',
 'University of Oxford',
 'National University of Singapore (NUS)',
 'University of Cambridge',
 'Harvard University',
 'ETH Zurich',
 'EPFL',
 'Nanyang Technological University, Singapore (NTU Singapore)',
 'University of Toronto',
 'Princeton University',
 'University of Washington',
 'Tsinghua University',
 'Tsinghua University',
 'Cornell University',
 'University of California, Los Angeles (UCLA)',
 'Peking University',
 'The University of Edinburgh',
 'University of British Columbia',
 'University of Waterloo',
 'Columbia University',
 'UCL',
 'University of Illinois at Urbana-Champaign',
 'New York University (NYU)',
 'Shanghai Jiao Tong University',
 'Georgia Institute of Technology',
 'Technical University of Munich',
 'KAIST - Korea Advanced Institute of Science & Technology',
 'Institut Polytechnique de Paris',
 'Seoul National University',
 'Politecnico di Milano',
 'University of Amsterdam',
 'McGill University',
 'California Institute of Technology (Caltech)',
 'Yale University',
 'Zhejiang University',
 'University of Texas at Austin',
 'The Hong Kong University of Science and Technology',
 'Université Paris-Saclay',
 'The University of Melbourne',
 'University of Pennsylvania',
 'University of California, San Diego (UCSD)',
 'University of Michigan-Ann Arbor',
 'Université PSL',
 'Université de Montréal',
 'Sorbonne University',
 'The University of Tokyo',
 'King Abdulaziz University (KAU)',
 'KU Leuven',
 'University of Chicago',
 'The Chinese University of Hong Kong (CUHK)',
 'Delft University of Technology',
 'University of Southern California',
 'Australian National University (ANU)',
 'The University of New South Wales (UNSW Sydney)',
 'The University of Sydney',
 'University of Maryland, College Park',
 'Fudan University',
 'The University of Hong Kong',
 'KTH Royal Institute of Technology',
 "King's College London",
 'Lomonosov Moscow State University',
 'The University of Manchester',
 'Indian Institute of Technology Bombay (IITB)',
 'Indian Institute of Technology Delhi (IITD)',
 'Purdue University',
 'Eindhoven University of Technology',
 'Technische Universität Berlin (TU Berlin)',
 'Sapienza University of Rome',
 'Johns Hopkins University',
 'Monash University',
 'Korea University',
 'University of Technology Sydney',
 'Korea University',
 'The University of Warwick',
 'Pohang University of Science And Technology (POSTECH)',
 'ITMO University',
 'National Taiwan University (NTU)',
 'Universiti Malaya (UM)',
 'Universitat Politècnica de Catalunya · BarcelonaTech (UPC)',
 'Yonsei University',
 'Aalto University',
 'Duke University',
 'Tecnológico de Monterrey',
 'Universidade de São Paulo',
 'Alma Mater Studiorum - University of Bologna',
 'University of Science and Technology of China',
 'RWTH Aachen University',
 'University of Wisconsin-Madison',
 'Trinity College Dublin, The University of Dublin',
 'Ludwig-Maximilians-Universität München',
 'Indian Institute of Technology Kharagpur (IIT-KGP)',
 'Huazhong University of Science and Technology',
 'University of California, Irvine',
 'Indian Institute of Technology Kanpur (IITK)',
 'Boston University',
 'IMT Atlantique',
 'Xi’an Jiaotong University',
 'Politecnico di Torino',
 'Indian Institute of Technology Madras (IITM)',
 'University of Copenhagen',
 'KIT, Karlsruhe Institute of Technology',
 'Universidade Estadual de Campinas (Unicamp)',
 'Pennsylvania State University',
 'Queen Mary University of London',
 'Brown University',
 'Universidad de Chile',
 'University of Massachusetts Amherst',
 'Nanjing University',
 'The University of Auckland',
 'The University of Adelaide',
 'Technion - Israel Institute of Technology',
 'University of Alberta',
 'Tokyo Institute of Technology (Tokyo Tech)',
 'Moscow Institute of Physics and Technology (MIPT / Moscow Phystech)',
 'Universidad Politécnica de Madrid (UPM)',
 'Beijing Institute of Technology',
 'Kyoto University',
 'City University of Hong Kong',
 'The University of Queensland',
 'Chalmers University of Technology',
 'Université catholique de Louvain (UCLouvain)',
 'Lancaster University',
 'Indian Institute of Science',
 'Wuhan University',
 'The London School of Economics and Political Science (LSE)',
 'Vrije Universiteit Amsterdam',
 'University of Zurich',
 'Universidad Nacional Autónoma de México (UNAM)',
 'University of North Carolina at Chapel Hill',
 'University of Glasgow',
 'Technical University of Darmstadt',
 'Texas A&M University',
 'Université Grenoble Alpes',
 'University of Southampton',
 'University of Birmingham',
 "Queen's University at Kingston",
 'University of Bristol',
 'King Saud University',
 'University of Helsinki',
 'Aarhus University',
 'University of Pisa',
 'Sungkyunkwan University (SKKU)',
 'National Tsing Hua University',
 'King Abdullah University of Science & Technology (KAUST)',
 'National University of Sciences And Technology (NUST) Islamabad',
 'Michigan State University',
 'Khalifa University',
 'National University of Sciences And Technology (NUST) Islamabad',
 'Tilburg University',
 'University of Navarra',
 'The Hong Kong Polytechnic University',
 'Université Paris 13 Nord',
 'Oxford Brookes University',
 'The University of Sheffield',
 'The University of Western Australia',
 'Universitas Indonesia',
 'University College Dublin',
 'University of Bath',
 'University of Florida',
 'University of Illinois at Chicago (UIC)',
 'University of Leeds',
 'University of Minnesota Twin Cities',
 'RMIT University',
 "Taylor's University",
 'University of Exeter',
 'The University of Sheffield',
 'The University of Western Australia',
 'Universitas Indonesia',
 'University College Dublin',
 'University of Bath',
 'University of Florida',
 'University of Illinois at Chicago (UIC)',
 'University of Leeds',
 'University of Minnesota Twin Cities',
 'University of Nottingham',
 'University of Pretoria',
 'Auckland University of Technology (AUT)',
 'Washington University in St. Louis',
 'Université Paris 13 Nord',
 'Auckland University of Technology (AUT)',
 'Cairo University',
 'City University of New York',
 'Complutense University of Madrid',
 'Dublin City University',
 'Florida International University',
 'Freie Universitaet Berlin',
 'Hanyang University',
 'International Islamic University Malaysia (IIUM)',
 'King Fahd University of Petroleum & Minerals',
 'Kobe University',
 'Pontificia Universidad Catolica del Peru',
 "Queen's University Belfast",
 'Loughborough University',
 'Pontificia Universidad Catolica del Peru',
 "Queen's University Belfast",
 'Rutgers University–New Brunswick',
 'Simon Fraser University',
 'The American University in Cairo',
 'The University of Arizona',
 'Universitat de Barcelona',
 'Universitat de Valencia',
 'Universiti Kebangsaan Malaysia (UKM)',
 'Universiti Teknologi Malaysia',
 'University of Aberdeen',
 'University of Cape Town',
 'University of Liverpool',
 'University of Otago',
 'Universiti Kebangsaan Malaysia (UKM)',
 'Universiti Teknologi Malaysia',
 'University of Aberdeen',
 'University of Cape Town',
 'University of Liverpool',
 'University of Otago',
 'University of South Australia',
 'University of South Carolina',
 'University of Strathclyde',
 'Université Laval',
 "Ca' Foscari University of Venice",
 'Chulalongkorn University',
 'Florida State University',
 'Georgia State University',
 'Ghent University',
 'Ghent University',
 'Heriot-Watt University',
 'La Trobe University',
 'McMaster University',
 'National Sun Yat-sen University',
 'North Carolina State University',
 'Universität Heidelberg',
 'Temple University',
 'The University of Newcastle, Australia (UON)',
 'United Arab Emirates University',
 'Universidade Federal do Rio de Janeiro',
 'Universiti Teknologi MARA - UiTM',
 'University College Cork',
 'University of Canterbury | Te Whare Wānanga o Waitaha',
 'University of Central Florida',
 'University of Central Florida',
 'University of Colorado Boulder',
 'University of Delhi',
 'University of Gothenburg',
 'University of Houston',
 'University of Iowa',
 'University of Jordan',
 'University of Kent',
 'University of Lisbon',
 'University of Missouri, Columbia',
 'University of Naples - Federico II',
 'University of Ottawa',
 'University of Portsmouth',
 'University of Rome "Tor Vergata"',
 'University of Utah',
 'University of Central Florida',
 'University of Colorado Boulder',
 'University of Delhi',
 'University of Gothenburg',
 'University of Houston',
 'University of Iowa',
 'University of Jordan',
 'University of Kent',
 'University of Lisbon',
 'University of Missouri, Columbia',
 'University of Naples - Federico II',
 'University of Ottawa',
 'University of Portsmouth',
 'University of Rome "Tor Vergata"',
 'University of Utah',
 'University of Houston',
 'University of Iowa',
 'University of Jordan',
 'University of Kent',
 'University of Lisbon',
 'University of Missouri, Columbia',
 'University of Naples - Federico II',
 'University of Ottawa',
 'University of Portsmouth',
 'University of Rome "Tor Vergata"',
 'University of Utah',
 'University of Waikato',
 'Université Paris 13 Nord',
 'University of South Florida',
 'University of Surrey',
 'University of Oregon',
 'University of Pittsburgh',
 'University of Porto',
 'University of South Florida',
 'University of Surrey',
 'University of Warsaw',
 'Universität Innsbruck',
 'Zayed University',
 'Wageningen University & Research',
 'Iowa State University',
 'University of Guelph',
 'University of Göttingen',
 'Oregon State University',
 'Universitat Politecnica de Valencia',
 'Colorado State University',
 'Universitat Politecnica de Valencia',
 'Colorado State University',
 'Washington State University',
 'Rheinische Friedrich-Wilhelms-Universität Bonn',
 'University of California, Riverside',
 'University of Saskatchewan',
 'University of Manitoba',
 'Hokkaido University',
 'Universidad de Buenos Aires (UBA)',
 'University of Zagreb',
 'Albert-Ludwigs-Universitaet Freiburg',
 'National Chung Hsing University',
 'RUDN University',
 'South China University of Technology',
 'Tohoku University',
 'Tohoku University',
 'UNESP',
 'University of Florence',
 'University of Granada',
 'University of Turin',
 'University of Vienna',
 'Université de Liège',
 'Alexandria University',
 'Aristotle University of Thessaloniki',
 'Catania University',
 'Chiang Mai University',
 'Clemson University',
 'Dalhousie University',
 'Kyushu University',
 'Louisiana State University',
 'Nagoya University',
 'Technische Universität Dresden',
 'Texas Tech University',
 'Universidad Nacional de La Plata (UNLP)',
 'Universidad de Concepción',
 'Universidade Federal do Rio Grande Do Sul',
 'University of Hawaiʻi at Mānoa',
 'University of Tsukuba',
 'University of the Philippines',
 'Université de Lorraine',
 'Université du Québec',
 'Western Sydney University',
 'Ain Shams University in Cairo (ASU, Cairo)',
 'Jeonbuk National University',
 'Kyungpook National University',
 'Kyungpook National University',
 'Leibniz University Hannover',
 'Quaid-i-Azam University',
 'The Hebrew University of Jerusalem',
 'The University of Tennessee, Knoxville',
 'Umea University',
 'Universidad de Sevilla',
 'Universidade Federal de Minas Gerais',
 'Universidade Federal de Santa Catarina',
 'University of Bordeaux',
 'University of Tartu',
 'University of Tehran',
 'Aix-Marseille University',
 'Chung-Ang University (CAU)',
 'Cranfield University',
 'Cranfield University',
 'Griffith University',
 'Mansoura University',
 'Masaryk University',
 'Middle East Technical University',
 'Pontificia Universidad Católica de Valparaíso',
 'Tufts University',
 'Universidad de Antioquia',
 'Universidad de Santiago de Chile (USACH)',
 'Universidad de la República (Udelar)',
 'Universidade Federal de São Carlos (UFSCar)',
 'Universidade Federal do Paraná - UFPR',
 'Universidade de Brasília',
 'University of Belgrade',
 'University of Coimbra',
 'University of Coimbra',
 'University of Connecticut',
 'University of Galway',
 'Université Paul Sabatier Toulouse III',
 'Université de Lille',
 'Université de Strasbourg',
 'Bandung Institute of Technology (ITB)',
 'Escuela Superior Politécnica del Litoral (ESPOL)',
 'Shandong University',
 'Tel Aviv University',
 'Tianjin University',
 'Universidad de Guadalajara (UDG)',
 'Universidade Federal de Pernambuco (UFPE)',
 'Universite libre de Bruxelles',
 'University of Salamanca',
 'University of Salamanca',
 'University of Salerno',
 'University of Twente',
 'University of the Punjab',
 'Université de Sherbrooke',
 'Amity University',
 'Babes-Bolyai University',
 'Ewha Womans University',
 'Eötvös Loránd University',
 'Pusan National University',
 'Tongji University',
 'University of Delaware',
 'University of New Brunswick',
 'University of Trento',
 'Jordan University of Science & Technology',
 'University of New Brunswick',
 'University of Trento',
 'Jordan University of Science & Technology',
 'Kazan (Volga region) Federal University',
 'Sichuan University',
 'Case Western Reserve University',
 'Eberhard Karls Universität Tübingen',
 'University of Basel',
 'University of Oslo',
 'Universität Hamburg',
 'Zhengzhou University',
 'Jilin University',
 'Leiden University',
 'University of Miami',
 'University of Münster',
 'Goldsmiths, University of London',
 'Radboud University',
 'Universidad de los Andes',
 'University of Bergen',
 'University of California, Santa Barbara (UCSB)',
 'University of California, Santa Cruz',
 'Al-Farabi Kazakh National University',
 'Jawaharlal Nehru University',
 'University of Sussex',
 'Novosibirsk State University',
 'University of Leicester',
 'National and Kapodistrian University of Athens',
 'Saint Petersburg State University',
 'University of Bern',
 'University of Bradford',
 'University of Bern',
 'University of Bradford',
 'University of Haifa',
 'Jagiellonian University',
 'University of Cincinnati',
 'Universität Leipzig',
 'L.N. Gumilyov Eurasian National University (ENU)',
 'Norwegian University of Science And Technology',
 'Royal Holloway University of London',
 'Ruhr-Universität Bochum',
 'Tomsk State University',
 'University of Cyprus (UCY)',
 'University of Ljubljana',
 'University of Southern Denmark (SDU)',
 "Université Côte d'Azur",
 'Norwegian University of Science And Technology',
 'Royal Holloway University of London',
 'Ruhr-Universität Bochum',
 'Tomsk State University',
 'University of Cyprus (UCY)',
 'University of Ljubljana',
 'University of Southern Denmark (SDU)',
 "Université Côte d'Azur",
 'Ural Federal University - UrFU',
 'Vrije Universiteit Brussel (VUB)',
 'Yarmouk University',
 'Harbin Institute of Technology',
 'Southeast University',
 'Universität Stuttgart',
 'Aalborg University',
 'Southeast University',
 'Universität Stuttgart',
 'Aalborg University',
 'Graz University of Technology',
 'Hunan University',
 'Istanbul Technical University',
 'National Taipei University of Technology',
 'National Technical University of Athens',
 'Universiti Sains Malaysia (USM)',
 'Budapest University of Technology and Economics',
 'Illinois Institute of Technology',
 'Indian Institute of Technology Roorkee (IITR)',
 'National Taiwan University of Science and Technology (Taiwan Tech)',
 'Toronto Metropolitan University',
 'Singapore University of Technology and Design',
 'Singapore University of Technology and Design',
 'Syracuse University',
 'TU Dortmund University',
 'Università degli studi Roma Tre',
 'Université Paris-Est Créteil Val de Marne',
 'Vilnius Gediminas Technical University (VILNIUS TECH)',
 'Warsaw University of Technology',
 'Brno University of Technology',
 'Czech Technical University in Prague',
 'Dalian University of Technology',
 'Gdańsk University of Technology',
 'Shanghai University',
 'Swinburne University of Technology',
 'University of Minho',
 'Kingston University, London',
 'Shanghai University',
 'Swinburne University of Technology',
 'University of Minho',
 'Kingston University, London',
 'Manchester Metropolitan University',
 'Northumbria University at Newcastle',
 'Beirut Arab University',
 'Lebanese University',
 'Rochester Institute of Technology (RIT)',
 'Ajman University',
 'Coventry University',
 'National Taiwan Normal University',
 'Pontifícia Universidade Católica do Rio de Janeiro',
 'University of Plymouth',
 'Université de Montpellier',
 'Rochester Institute of Technology (RIT)',
 'Ajman University',
 'Coventry University',
 'National Taiwan Normal University',
 'Pontifícia Universidade Católica do Rio de Janeiro',
 'University of Plymouth',
 'Université de Montpellier',
 'Technical University of Denmark',
 'Université Paris Cité',
 'Weizmann Institute of Science',
 'Charles University',
 'Stony Brook University, State University of New York',
 'Université Claude Bernard Lyon 1',
 'École Normale Supérieure de Lyon',
 'Swansea University',
 'University of Antwerp',
 'Dartmouth College',
 'Friedrich-Alexander-Universität Erlangen-Nürnberg',
 'Instituto Politécnico Nacional (IPN)',
 'Northeastern University',
 'Ulsan National Institute of Science and Technology (UNIST)',
 'University at Buffalo SUNY',
 'Ajou University',
 'Linköping University',
 'University of Milano-Bicocca',
 'Universität Konstanz',
 'Ben-Gurion University of The Negev',
 'Gwangju Institute of Science and Technology (GIST)',
 'Hacettepe University',
 'University of Crete',
 'University of Genoa',
 'University of New Mexico',
 'East China Normal University',
 'Indian Institute of Technology Guwahati (IITG)',
 'Tampere University',
 'Technische Universität Braunschweig',
 'University of Oulu',
 'University of Szeged',
 'Nantes University',
 'Université de Rennes 1',
 'Vellore Institute of Technology (VIT), Vellore, India',
 'Vilnius University',
 'Drexel University',
 'Manipal Academy of Higher Education, Manipal, Karnataka, India',
 'Skolkovo Institute of Science and Technology Skoltech',
 'Saarland University',
 'Anna University',
 'Bilkent University',
 'Gazi Üniversitesi',
 'Institut National des Sciences Appliquées de Lyon (INSA)',
 'Nara Institute of Science and Technology',
 'Shenzhen University',
 'University of Science and Technology Beijing',
 'University of Victoria (UVic)',
 'Universität Bremen',
 'Beihang University (former BUAA)',
 'Hong Kong Baptist University',
 'Jouf University',
 'Ulster University',
 'University of Maryland, Baltimore County',
 'University of Patras',
 'American University of the Middle East',
 'Sabanci University',
 'Universidad Panamericana (UP)',
 'Lebanese American University',
 'Middlesex University',
 'University of Limerick',
 'University of the West of England',
 'Carleton University',
 'Chandigarh University',
 'North South University',
 'Peter the Great St. Petersburg Polytechnic University',
 'Al Ain University',
 'Bina Nusantara University (BINUS)',
 'Birla Institute of Technology and Science, Pilani',
 'George Mason University',
 'Universiti Teknologi PETRONAS (UTP)',
 'University of Huddersfield',
 'University of Sharjah',
 'Johannes Kepler University Linz',
 'Kaunas University of Technology',
 'Tallinn University of Technology (TalTech)',
 'Taras Shevchenko National University of Kyiv',
 'University of Jyväskylä',
 'Vietnam National University, Hanoi',
 'Riga Technical University',
 'Ritsumeikan University',
 'Technological University Dublin',
 'National Research Tomsk Polytechnic University',
 'Beijing University of Technology',
 'Sejong University',
 'Jadavpur University',
 'Northwestern Polytechnical University',
 'Sharif University of Technology',
 'Wroclaw University of Science and Technology (WRUST)',
 'Iran University of Science and Technology',
 'Universiti Malaysia Pahang',
 'AGH University of Science and Technology',
 'Bauman Moscow State Technical University',
 'Rensselaer Polytechnic Institute',
 'SRM Institute of Science and Technology',
 'University of Bucharest',

In [7]:
table_click_right(driver)

In [8]:
AR_data = list()
for i in range(3, len(data), 8):
    AR_data.append(data[i].text)
AR_data

['91',
 '100',
 '88.5',
 '85.4',
 '82.1',
 '84.4',
 '82.7',
 '80.2',
 '82.8',
 '85.3',
 '80.1',
 '82.8',
 '79.8',
 '82',
 '78.8',
 '78.8',
 '76.3',
 '75.8',
 '76.7',
 '79.9',
 '73.4',
 '76',
 '74.2',
 '75.4',
 '74',
 '75.7',
 '71.4',
 '69.6',
 '76.5',
 '75.8',
 '68',
 '72.9',
 '70.1',
 '74.3',
 '67.3',
 '67.2',
 '67.5',
 '66.9',
 '67.6',
 '73.7',
 '64.3',
 '68.3',
 '69.2',
 '69',
 '66',
 '66.2',
 '68.1',
 '68.9',
 '67.9',
 '68.1',
 '70.8',
 '65.7',
 '72.3',
 '64.5',
 '65.3',
 '67.8',
 '63.5',
 '63',
 '67.9',
 '68',
 '68.1',
 '69.6',
 '66.4',
 '69.6',
 '61.1',
 '67.8',
 '65.1',
 '61.6',
 '67.1',
 '68.8',
 '67.7',
 '59.4',
 '60.8',
 '65',
 '62.9',
 '65',
 '61',
 '66.9',
 '64.6',
 '68.2',
 '61.8',
 '62.9',
 '64.4',
 '67.2',
 '58.9',
 '62.4',
 '60.4',
 '61.6',
 '66.8',
 '64.6',
 '59.4',
 '61.5',
 '69.9',
 '61.6',
 '56.7',
 '62.6',
 '62.9',
 '57.7',
 '53.1',
 '56',
 '56.9',
 '63.7',
 '63.8',
 '63.7',
 '61.5',
 '54.8',
 '57.4',
 '58.3',
 '59.1',
 '62.7',
 '63.9',
 '60.6',
 '57.2',
 '66.2',
 '57.1',
 '61.2',
 '61.4',
 '56.9',
 '57.9',
 '61.2',
 '66.2',
 '57.1',
 '62.8',
 '64.3',
 '58.6',
 '63',
 '55.3',
 '61.6',
 '68.3',
 '60.9',
 '58.7',
 '58.9',
 '61',
 '64.8',
 '52.2',
 '60',
 '54',
 '54.9',
 '52.8',
 '53.8',
 '53.7',
 '64',
 '65.3',
 '62.5',
 '60.2',
 '61.6',
 '55.4',
 '58.5',
 '52.4',
 '59.6',
 '58.5',
 '45',
 '34.8',
 '57.8',
 '37.8',
 '53',
 '48.7',
 '48.3',
 '56',
 '54.2',
 '37',
 '51.4',
 '55.4',
 '46.2',
 '51.5',
 '53',
 '52.2',
 '36.4',
 '48.7',
 '48.3',
 '56',
 '54.2',
 '37',
 '51.4',
 '55.4',
 '46.2',
 '51.5',
 '48.1',
 '34.5',
 '46.7',
 '46.1',
 '37.8',
 '46.7',
 '48.7',
 '41.7',
 '52.6',
 '47.3',
 '38.4',
 '57.5',
 '58.9',
 '43.3',
 '54.5',
 '39.4',
 '50.7',
 '47.8',
 '44.6',
 '50.7',
 '47.8',
 '55.6',
 '62.5',
 '48.2',
 '49.2',
 '60.5',
 '44',
 '53.8',
 '58.4',
 '38.2',
 '46.6',
 '48.8',
 '47.5',
 '53.8',
 '58.4',
 '38.2',
 '46.6',
 '48.8',
 '47.5',
 '50.4',
 '41.5',
 '42.8',
 '44.4',
 '46.9',
 '50.7',
 '41.9',
 '44.5',
 '53',
 '53',
 '40.3',
 '43.9',
 '43.2',
 '44.9',
 '48.9',
 '57.8',
 '44.4',
 '40.6',
 '51.1',
 '56.8',
 '43.1',
 '50.9',
 '48.5',
 '41',
 '41',
 '41.6',
 '48.1',
 '49.4',
 '37.9',
 '31.9',
 '53.1',
 '46.1',
 '54',
 '39.2',
 '45.7',
 '50.2',
 '39',
 '49.2',
 '50.1',
 '41',
 '41.6',
 '48.1',
 '49.4',
 '37.9',
 '31.9',
 '53.1',
 '46.1',
 '54',
 '39.2',
 '45.7',
 '50.2',
 '39',
 '49.2',
 '50.1',
 '37.9',
 '31.9',
 '53.1',
 '46.1',
 '54',
 '39.2',
 '45.7',
 '50.2',
 '39',
 '49.2',
 '50.1',
 '55.1',
 '37.8',
 '40.8',
 '47.4',
 '37.5',
 '52.6',
 '47.6',
 '40.8',
 '47.4',
 '58.9',
 '42.9',
 '50.7',
 '39.8',
 '42.1',
 '34.2',
 '41.5',
 '34.7',
 '52.8',
 '36.5',
 '52.8',
 '36.5',
 '40.8',
 '58.7',
 '39.6',
 '40.6',
 '38.6',
 '45',
 '56.1',
 '40',
 '53.7',
 '37.8',
 '47.1',
 '45.6',
 '50.8',
 '50.8',
 '44.1',
 '44.7',
 '54.7',
 '52',
 '62.3',
 '40.5',
 '41.7',
 '46.1',
 '44.4',
 '42.7',
 '30.5',
 '43.5',
 '48.4',
 '37.1',
 '49',
 '55.8',
 '41.6',
 '48.4',
 '41.9',
 '58.4',
 '31.6',
 '48.3',
 '45.7',
 '45.8',
 '47.1',
 '40.9',
 '45',
 '40.6',
 '45.3',
 '45.3',
 '44.6',
 '50.7',
 '56.4',
 '33.8',
 '42',
 '42.5',
 '53.3',
 '41.2',
 '50.1',
 '50.5',
 '46.3',
 '45.9',
 '45.2',
 '35.8',
 '35.8',
 '41.4',
 '37.1',
 '49.4',
 '54.2',
 '44.4',
 '42.1',
 '40.6',
 '46.1',
 '42.2',
 '41.1',
 '40.2',
 '39.6',
 '43',
 '47.4',
 '47.4',
 '39.8',
 '43',
 '57.1',
 '47.5',
 '45.5',
 '56.5',
 '45.8',
 '39.5',
 '57.7',
 '40.7',
 '42.5',
 '53.3',
 '52.8',
 '40',
 '40',
 '44.8',
 '53.8',
 '47',
 '40.8',
 '44.9',
 '47.8',
 '41.4',
 '50.4',
 '41.2',
 '43.8',
 '32.3',
 '37.4',
 '62',
 '51.2',
 '37.4',
 '62',
 '51.2',
 '46.5',
 '33.9',
 '42.9',
 '52.8',
 '38.9',
 '61',
 '52.4',
 '25',
 '40.7',
 '58.4',
 '35.7',
 '47',
 '43.6',
 '52.1',
 '54.2',
 '54.5',
 '54.2',
 '46',
 '57.9',
 '43.3',
 '41.1',
 '59.3',
 '42.8',
 '49.6',
 '54.1',
 '50.3',
 '38.4',
 '50.3',
 '38.4',
 '43.6',
 '49.5',
 '37',
 '45.1',
 '57.2',
 '58.5',
 '48',
 '40.6',
 '51.5',
 '38.1',
 '47.2',
 '42.3',
 '49.4',
 '58.5',
 '48',
 '40.6',
 '51.5',
 '38.1',
 '47.2',
 '42.3',
 '49.4',
 '45.4',
 '52.4',
 '43.6',
 '58.6',
 '49.6',
 '48.5',
 '54',
 '49.6',
 '48.5',
 '54',
 '57.6',
 '39.1',
 '51.9',
 '55.9',
 '54.1',
 '55.3',
 '47.8',
 '45.9',
 '52.2',
 '53.5',
 '39',
 '46',
 '46',
 '42.2',
 '51',
 '41.2',
 '32.7',
 '39.9',
 '55',
 '50.6',
 '57',
 '36.3',
 '44.5',
 '46.8',
 '44.6',
 '37.2',
 '42.2',
 '46.8',
 '44.6',
 '37.2',
 '42.2',
 '36.8',
 '38.2',
 '56.7',
 '63.2',
 '42.1',
 '56.9',
 '35.1',
 '48.5',
 '60',
 '35.6',
 '46',
 '42.1',
 '56.9',
 '35.1',
 '48.5',
 '60',
 '35.6',
 '46',
 '53.2',
 '49.4',
 '53',
 '55.9',
 '51.6',
 '43.5',
 '57.2',
 '50.8',
 '49.3',
 '47.9',
 '46.5',
 '53.5',
 '56.9',
 '53.5',
 '45.4',
 '50.6',
 '49.3',
 '44.1',
 '47.5',
 '47.6',
 '53.7',
 '44.2',
 '50.1',
 '46.5',
 '30.3',
 '40.2',
 '52',
 '53.7',
 '38.7',
 '47.1',
 '45',
 '36.3',
 '54.8',
 '52.1',
 '44.7',
 '45.1',
 '36.2',
 '42',
 '68.3',
 '42.8',
 '53.8',
 '44.5',
 '46.6',
 '50.3',
 '44.8',
 '47',
 '49.7',
 '46',
 '55.6',
 '46',
 '55.3',
 '36.6',
 '44.9',
 '45.5',
 '62.1',
 '47.2',
 '40.6',
 '45.2',
 '38.6',
 '45.9',
 '37.3',
 '47.6',
 '41.5',
 '43.5',
 '50.5',
 '59.9',
 '52.8',
 '48.8',
 '48.4',
 '48.5',
 '36.9',
 '43.1',
 '53.1',
 '39.5',
 '49.8',
 '50.6',
 '49.7',
 '43.1',
 '46.4',
 '44.3',
 '46',
 '55.4',
 '42.1',
 '50.7',
 '43.6',
 '48.2',
 '48.7',
 '48.4',
 '44.5',
 '41.1',
 '45.4',
 '62.1',
 '41.4',
 '42.2',
 '44.8',
 '39.8',
 '52.9',
 '52',
 '41.8',
 '43',
 '39.3',
 '40.1',
 '52',
 '51',
 '39.7',
 '50',
 '46.8',
 '54',
 '52.8',
 '52.6',
 '52.5',
 '50.6',
 '50.3',
 '47.8',
 '50.5',
 '52.9',
 '47.7',
 '61.2',
 '57.5',
 '52.1',
 '43.6',
 '47.2',
 '41.5',
 '49.8',
 '43.1',
 '45.1',
 '49.7',
 '50.8',
 '43.3',
 '47.3',
 '39.2',
 '45',
 '48.7',
 '39.6',
 '43.8',
 '48.8',
 '45.6',
 '47.8',
 '54',
 '36.1',
 '38.9',
 '49',
 '52.4',
 '35.6',
 '51.4',
 '42.3',
 '51.3',
 '42.4',
 '37.5',
 '43.2',
 '40.7',
 '51.5',
 '38.4',
 '33.8',
 '42',
 '35.5',
 '44.3',
 '41.4',
 '42',
 '49.6',
 '40.3',
 '47.9',
 '48.7',
 '58.4',
 '41.3',
 '44',
 '46',
 '42.2',
 '37.8']

In [9]:
ER_data = list()
for i in range(4, len(data), 8):
    ER_data.append(data[i].text)
ER_data

['98.2',
 '82.3',
 '96.3',
 '90',
 '96.7',
 '92.4',
 '96',
 '100',
 '90',
 '88.3',
 '87.8',
 '84.4',
 '85.1',
 '75.5',
 '83',
 '83',
 '81.5',
 '86.9',
 '80.9',
 '73.5',
 '83.1',
 '79',
 '83.1',
 '76',
 '76.7',
 '77',
 '81.9',
 '78.6',
 '72.9',
 '79.4',
 '86.9',
 '82',
 '81.4',
 '73.7',
 '82.4',
 '86.4',
 '87.1',
 '80.4',
 '78.1',
 '72.9',
 '85.6',
 '78.1',
 '76.4',
 '73.6',
 '75.2',
 '82.7',
 '71.5',
 '78.4',
 '84.7',
 '70.1',
 '71.4',
 '79.8',
 '64.8',
 '78.9',
 '71.4',
 '74.2',
 '76.6',
 '74.9',
 '69.1',
 '79.2',
 '73.4',
 '70.1',
 '74.6',
 '91.9',
 '75.3',
 '85',
 '81.9',
 '75.5',
 '72.6',
 '69.3',
 '69.6',
 '72',
 '75.5',
 '74.5',
 '64.8',
 '74.5',
 '72.2',
 '75.7',
 '78',
 '73.1',
 '65.7',
 '67.8',
 '75.1',
 '57.6',
 '72.1',
 '83.1',
 '80.2',
 '71',
 '61.1',
 '68.2',
 '67.6',
 '73',
 '61.7',
 '75.5',
 '69',
 '63.1',
 '77.5',
 '71.2',
 '86.7',
 '73.5',
 '74.6',
 '78.1',
 '64.6',
 '65.8',
 '75.2',
 '71.6',
 '65.5',
 '69.5',
 '73.2',
 '63.9',
 '61',
 '70.4',
 '63.9',
 '60.5',
 '68.4',
 '75.1',
 '82.4',
 '72.8',
 '69.5',
 '71.1',
 '54.8',
 '67.9',
 '62.3',
 '64.4',
 '62.5',
 '69.3',
 '71.1',
 '81.7',
 '57.3',
 '59.7',
 '80.5',
 '64.3',
 '68.1',
 '54.5',
 '72',
 '61.6',
 '67.4',
 '65.9',
 '74.1',
 '69.8',
 '64.4',
 '59.2',
 '58.5',
 '60.8',
 '68.9',
 '71',
 '64',
 '68',
 '66.5',
 '62.6',
 '68',
 '59.6',
 '71.9',
 '58.4',
 '46.8',
 '72.3',
 '64.4',
 '61.3',
 '71.1',
 '67.7',
 '66.2',
 '62.6',
 '64.9',
 '67',
 '63.3',
 '66.4',
 '63.9',
 '62.1',
 '64.4',
 '61.3',
 '71.1',
 '67.7',
 '66.2',
 '62.6',
 '64.9',
 '67',
 '63.3',
 '65.6',
 '58.9',
 '52.4',
 '55',
 '46.8',
 '52.4',
 '71.4',
 '64.4',
 '68.1',
 '63.2',
 '57.5',
 '62.8',
 '71.8',
 '55.3',
 '70.9',
 '57.3',
 '67.8',
 '65.1',
 '65.2',
 '67.8',
 '65.1',
 '59.9',
 '56.9',
 '71.5',
 '61.7',
 '69.5',
 '50.9',
 '59.5',
 '61.2',
 '58',
 '61.5',
 '63.4',
 '59.2',
 '59.5',
 '61.2',
 '58',
 '61.5',
 '63.4',
 '59.2',
 '56.2',
 '51.7',
 '59.9',
 '58',
 '56.9',
 '63.3',
 '60.1',
 '57.3',
 '55.5',
 '55.5',
 '61',
 '57.8',
 '65.8',
 '59.4',
 '59.5',
 '63',
 '44.6',
 '56.7',
 '68',
 '70.8',
 '54.2',
 '63.2',
 '60.1',
 '58.2',
 '58.2',
 '57.9',
 '66.5',
 '50.3',
 '53.7',
 '54.4',
 '70',
 '56.9',
 '57.3',
 '53.5',
 '58.3',
 '65.1',
 '49.6',
 '57.6',
 '48.6',
 '58.2',
 '57.9',
 '66.5',
 '50.3',
 '53.7',
 '54.4',
 '70',
 '56.9',
 '57.3',
 '53.5',
 '58.3',
 '65.1',
 '49.6',
 '57.6',
 '48.6',
 '53.7',
 '54.4',
 '70',
 '56.9',
 '57.3',
 '53.5',
 '58.3',
 '65.1',
 '49.6',
 '57.6',
 '48.6',
 '51.8',
 '46.8',
 '52.5',
 '59.9',
 '54.8',
 '56.7',
 '55.5',
 '52.5',
 '59.9',
 '57.3',
 '44.7',
 '58.7',
 '57.7',
 '55.2',
 '61',
 '48.4',
 '44.8',
 '57.3',
 '54.1',
 '57.3',
 '54.1',
 '59.8',
 '46.6',
 '52',
 '54.4',
 '60',
 '63.3',
 '80.4',
 '48.6',
 '49.7',
 '55',
 '78.8',
 '36.3',
 '68.4',
 '68.4',
 '68.6',
 '50.2',
 '53.3',
 '53',
 '56.8',
 '50.7',
 '58.8',
 '61',
 '45.1',
 '55',
 '51.2',
 '62.7',
 '65.1',
 '52.9',
 '65.5',
 '58.3',
 '52.7',
 '67.1',
 '61.3',
 '51.2',
 '66.3',
 '58.6',
 '65.7',
 '37.4',
 '55.7',
 '51.3',
 '66.5',
 '52.7',
 '54.3',
 '54.3',
 '56.3',
 '56.5',
 '50.6',
 '48.4',
 '48.7',
 '54.9',
 '62.6',
 '55.4',
 '46.2',
 '56.6',
 '48.5',
 '46.7',
 '58.4',
 '64.8',
 '64.8',
 '49.7',
 '49.3',
 '50.6',
 '73',
 '59.5',
 '48.5',
 '60.1',
 '68',
 '56.5',
 '57.6',
 '57.5',
 '56.9',
 '45',
 '52.5',
 '52.5',
 '49.4',
 '63.4',
 '46',
 '45.2',
 '48.3',
 '70.1',
 '61.4',
 '69.8',
 '50.6',
 '36.3',
 '59.4',
 '45.9',
 '63.3',
 '49.9',
 '49.9',
 '35.9',
 '64.4',
 '60.8',
 '58.2',
 '52.9',
 '62.2',
 '55.7',
 '59.2',
 '54.5',
 '48.4',
 '50.9',
 '59.1',
 '55.7',
 '66.6',
 '59.1',
 '55.7',
 '66.6',
 '58.7',
 '51.8',
 '56.8',
 '51.6',
 '49.3',
 '56',
 '56.4',
 '67.8',
 '76.6',
 '63.4',
 '57.9',
 '49.5',
 '49.1',
 '55',
 '70.6',
 '46.8',
 '61.3',
 '52.1',
 '60.3',
 '59.2',
 '50.8',
 '74.9',
 '51.1',
 '61',
 '79.7',
 '55.3',
 '50.3',
 '55.3',
 '50.3',
 '45',
 '52.6',
 '51.1',
 '43.5',
 '60',
 '54.8',
 '52.6',
 '43.6',
 '68.4',
 '52.1',
 '47',
 '51',
 '40.6',
 '54.8',
 '52.6',
 '43.6',
 '68.4',
 '52.1',
 '47',
 '51',
 '40.6',
 '70.3',
 '52.7',
 '58.7',
 '58.3',
 '43.3',
 '55.8',
 '55.8',
 '43.3',
 '55.8',
 '55.8',
 '48.6',
 '58.7',
 '72.4',
 '64.2',
 '64.7',
 '59.8',
 '64.7',
 '50.5',
 '65.8',
 '61.1',
 '59.4',
 '54.8',
 '54.8',
 '51.5',
 '50.9',
 '51',
 '44',
 '52.8',
 '59.2',
 '52',
 '57',
 '40.1',
 '47.4',
 '60.7',
 '55.3',
 '47.9',
 '59',
 '60.7',
 '55.3',
 '47.9',
 '59',
 '49.5',
 '54.3',
 '58.9',
 '66',
 '54.1',
 '64.7',
 '53',
 '55.5',
 '65.3',
 '50.6',
 '45.4',
 '54.1',
 '64.7',
 '53',
 '55.5',
 '65.3',
 '50.6',
 '45.4',
 '64.1',
 '54.4',
 '40.9',
 '54.1',
 '50',
 '44.7',
 '62.7',
 '63.3',
 '51.8',
 '61.4',
 '51.8',
 '71.6',
 '55.3',
 '55.9',
 '52.8',
 '57.3',
 '51.9',
 '54.1',
 '40.7',
 '48.4',
 '52',
 '58.4',
 '50.9',
 '43.9',
 '50.9',
 '39.8',
 '66.9',
 '49.6',
 '52.2',
 '47.6',
 '55.1',
 '43.2',
 '50.4',
 '64.3',
 '57',
 '51.6',
 '53.9',
 '52.4',
 '36.8',
 '60.5',
 '66.3',
 '52.8',
 '68.7',
 '36.3',
 '34.6',
 '46.7',
 '53.6',
 '42.7',
 '49.8',
 '42.2',
 '46.6',
 '56.7',
 '48.4',
 '56.5',
 '62.4',
 '66.1',
 '67.4',
 '67.6',
 '49.8',
 '61.2',
 '53.2',
 '61.9',
 '78.9',
 '62.5',
 '70.7',
 '57.3',
 '58',
 '65.1',
 '48',
 '54',
 '52.6',
 '59.7',
 '39.7',
 '54.4',
 '48.3',
 '66.2',
 '47.8',
 '52.1',
 '59.8',
 '58.2',
 '59.8',
 '64.4',
 '54.3',
 '57.4',
 '45.6',
 '30.2',
 '54',
 '51.2',
 '41',
 '41.7',
 '49.8',
 '86.6',
 '56',
 '64.8',
 '61.5',
 '43.6',
 '52.9',
 '73.8',
 '59',
 '56',
 '56.5',
 '46',
 '68.5',
 '69.4',
 '72.6',
 '54.8',
 '55.4',
 '39.5',
 '44.6',
 '48.6',
 '70.4',
 '62.9',
 '40.4',
 '61.8',
 '61',
 '38.6',
 '41.2',
 '56.4',
 '56',
 '65',
 '61.2',
 '62',
 '62.9',
 '42.2',
 '54.1',
 '55.2',
 '49.6',
 '61.8',
 '49.2',
 '69.5',
 '47.5',
 '59.9',
 '54.6',
 '49',
 '48.5',
 '36.6',
 '58.7',
 '45.1',
 '51.9',
 '59.1',
 '44.5',
 '36.1',
 '53.8',
 '50.1',
 '49',
 '64',
 '64.4',
 '53.4',
 '49.1',
 '57.3',
 '52.8',
 '44.4',
 '47.8',
 '48.6',
 '53.3',
 '41.6',
 '33.6',
 '49.3',
 '34.2',
 '61.9',
 '43.1',
 '28',
 '50',
 '12.8',
 '52.5',
 '45.1',
 '37.7',
 '37',
 '46.8']

In [10]:
citations_data = list()
for i in range(5, len(data), 8):
    citations_data.append(data[i].text)
citations_data

['93.7',
 '95.3',
 '99.9',
 '100',
 '94.2',
 '89.7',
 '89.4',
 '90.4',
 '91.7',
 '87.6',
 '87.3',
 '91.5',
 '93.8',
 '96.9',
 '86.4',
 '86.4',
 '97.4',
 '86.5',
 '85.9',
 '88.1',
 '88.9',
 '83.4',
 '90.9',
 '90.5',
 '86',
 '92.6',
 '80.5',
 '87.1',
 '81.3',
 '80.1',
 '78',
 '81.9',
 '75.7',
 '89.8',
 '86.6',
 '81.2',
 '84.8',
 '80.6',
 '88',
 '90',
 '75.4',
 '84.4',
 '87.6',
 '89.5',
 '88.5',
 '82.1',
 '92.5',
 '77.9',
 '72.4',
 '87',
 '81',
 '87.4',
 '95.2',
 '78.7',
 '90.2',
 '86.7',
 '83',
 '88.1',
 '87.8',
 '81.3',
 '86.6',
 '80.3',
 '83.2',
 '60.2',
 '82',
 '69.3',
 '74.7',
 '79.1',
 '76.5',
 '78.2',
 '76.7',
 '90.2',
 '80.2',
 '81.1',
 '86.7',
 '81.1',
 '84.3',
 '83.2',
 '66.4',
 '74.4',
 '86.9',
 '75.9',
 '78.1',
 '83.6',
 '88.3',
 '70.2',
 '71',
 '78.1',
 '83.4',
 '74.7',
 '88.7',
 '77.6',
 '83.1',
 '74.7',
 '82.6',
 '85.4',
 '74.4',
 '87.9',
 '72.5',
 '80.3',
 '72.9',
 '69.6',
 '84.7',
 '75',
 '71.2',
 '83.3',
 '87.6',
 '89.6',
 '77.6',
 '87',
 '82.8',
 '77.3',
 '94.6',
 '82.1',
 '83.3',
 '70.5',
 '67.7',
 '73.2',
 '75.9',
 '71.6',
 '85.6',
 '82.5',
 '78.3',
 '79.6',
 '87.4',
 '74.8',
 '78.5',
 '63.8',
 '79.4',
 '90.1',
 '66.7',
 '92',
 '74.3',
 '81.5',
 '79.4',
 '75.2',
 '82.9',
 '84',
 '82.2',
 '82.3',
 '86',
 '80.7',
 '78',
 '79',
 '74.6',
 '73.1',
 '85.5',
 '74.9',
 '86.9',
 '79.3',
 '74.9',
 '70.3',
 '54.6',
 '87.2',
 '67.9',
 '54.5',
 '80.8',
 '83.1',
 '55.6',
 '79.9',
 '80.7',
 '79.9',
 '83.3',
 '82.2',
 '82',
 '79.8',
 '64.2',
 '86.2',
 '80.8',
 '83.1',
 '55.6',
 '79.9',
 '80.7',
 '79.9',
 '83.3',
 '82.2',
 '82',
 '79.2',
 '74.1',
 '73.1',
 '82.5',
 '67.9',
 '73.1',
 '79.9',
 '76',
 '69.8',
 '80',
 '80.2',
 '70.9',
 '73.3',
 '62.5',
 '76.7',
 '62.7',
 '46.3',
 '82.8',
 '78.4',
 '46.3',
 '82.8',
 '85.5',
 '86.6',
 '43.1',
 '75.2',
 '75.3',
 '71',
 '69.4',
 '71.7',
 '63',
 '69.2',
 '78.8',
 '62.1',
 '69.4',
 '71.7',
 '63',
 '69.2',
 '78.8',
 '62.1',
 '81.3',
 '78.4',
 '76.2',
 '79.1',
 '68.1',
 '63.5',
 '77.7',
 '79.8',
 '77.8',
 '77.8',
 '79.3',
 '77.9',
 '78.4',
 '74.4',
 '80.4',
 '83.8',
 '85.5',
 '85.4',
 '69.7',
 '69.5',
 '55.5',
 '78.9',
 '68.5',
 '79.9',
 '79.9',
 '78.3',
 '69.8',
 '73',
 '79.3',
 '80.4',
 '80.9',
 '77.3',
 '72.5',
 '75.8',
 '78',
 '76.9',
 '70.5',
 '74.6',
 '81.8',
 '79.9',
 '78.3',
 '69.8',
 '73',
 '79.3',
 '80.4',
 '80.9',
 '77.3',
 '72.5',
 '75.8',
 '78',
 '76.9',
 '70.5',
 '74.6',
 '81.8',
 '79.3',
 '80.4',
 '80.9',
 '77.3',
 '72.5',
 '75.8',
 '78',
 '76.9',
 '70.5',
 '74.6',
 '81.8',
 '81.9',
 '67.9',
 '77.2',
 '85',
 '67',
 '84.7',
 '74.1',
 '77.2',
 '85',
 '81.4',
 '72.5',
 '63.7',
 '72.5',
 '81.3',
 '71.7',
 '77.9',
 '82.3',
 '74.2',
 '74.2',
 '74.2',
 '74.2',
 '85',
 '83.7',
 '85.4',
 '78.7',
 '79.1',
 '64.2',
 '59.2',
 '69.7',
 '90.8',
 '71.5',
 '58.7',
 '79.5',
 '72.7',
 '72.7',
 '72.2',
 '75.2',
 '84.8',
 '77.2',
 '77.3',
 '71.8',
 '66.4',
 '77.8',
 '76.6',
 '58.6',
 '79.9',
 '73.3',
 '72.9',
 '76.2',
 '67.4',
 '75.8',
 '72.8',
 '42.9',
 '51.2',
 '70.2',
 '63.4',
 '65.3',
 '49.8',
 '74.3',
 '75.5',
 '75',
 '67.5',
 '67.1',
 '77.1',
 '77.1',
 '72.5',
 '72.7',
 '83.1',
 '80.2',
 '64.5',
 '77',
 '75.5',
 '66.2',
 '70.3',
 '72.3',
 '79.1',
 '68.4',
 '73.8',
 '80.7',
 '80.7',
 '91.2',
 '77.7',
 '69',
 '75.9',
 '54.1',
 '70',
 '55',
 '53.3',
 '52.9',
 '68.5',
 '70.8',
 '65.3',
 '67.5',
 '70.9',
 '70.9',
 '78.2',
 '81.3',
 '72.6',
 '75.8',
 '70.5',
 '55.1',
 '53',
 '77.3',
 '84.9',
 '78.1',
 '61.4',
 '70.8',
 '74',
 '72.3',
 '72.3',
 '77.1',
 '76.7',
 '61.4',
 '77.7',
 '62.3',
 '62',
 '62.6',
 '57.5',
 '70.7',
 '77.2',
 '78.1',
 '72.7',
 '80.8',
 '75',
 '72.7',
 '80.8',
 '75',
 '55.5',
 '80.4',
 '78.6',
 '84.5',
 '71.1',
 '83.2',
 '79.2',
 '72.6',
 '71.5',
 '81.2',
 '71.8',
 '74.4',
 '60.2',
 '84.5',
 '64.9',
 '75.7',
 '86.5',
 '82.5',
 '39',
 '64.4',
 '75.2',
 '48.7',
 '76.6',
 '75.3',
 '62.1',
 '78',
 '64.1',
 '78',
 '64.1',
 '71.3',
 '65.7',
 '75.7',
 '73',
 '30.7',
 '74.7',
 '70.6',
 '73.5',
 '45.6',
 '72.4',
 '78.4',
 '76.4',
 '75.8',
 '74.7',
 '70.6',
 '73.5',
 '45.6',
 '72.4',
 '78.4',
 '76.4',
 '75.8',
 '50.9',
 '76.9',
 '61.4',
 '79.1',
 '79',
 '75',
 '81.1',
 '79',
 '75',
 '81.1',
 '82.9',
 '80.6',
 '72',
 '66.5',
 '75.1',
 '74.6',
 '67.1',
 '85.7',
 '72.9',
 '76.6',
 '77.5',
 '88.9',
 '88.9',
 '78.8',
 '75.3',
 '71.9',
 '83.5',
 '63.7',
 '62.6',
 '68.2',
 '74.9',
 '80.4',
 '62.5',
 '73.2',
 '83.2',
 '69.8',
 '58.5',
 '73.2',
 '83.2',
 '69.8',
 '58.5',
 '70.2',
 '81.3',
 '46.6',
 '56.8',
 '76.3',
 '34.2',
 '70.5',
 '69.8',
 '67',
 '70.3',
 '77.8',
 '76.3',
 '34.2',
 '70.5',
 '69.8',
 '67',
 '70.3',
 '77.8',
 '82.7',
 '75.1',
 '81.5',
 '74.7',
 '82.8',
 '72.9',
 '72.1',
 '80.4',
 '76.4',
 '78',
 '75.8',
 '71',
 '85',
 '74.3',
 '81.7',
 '71.9',
 '86.9',
 '79.1',
 '67.9',
 '78.6',
 '71.1',
 '68.8',
 '64.9',
 '74.5',
 '76.3',
 '76.6',
 '67.8',
 '77.3',
 '75.1',
 '85.7',
 '54.3',
 '71.2',
 '73.1',
 '73.4',
 '50.1',
 '78.3',
 '66.9',
 '80.7',
 '82.8',
 '65.2',
 '67.2',
 '67.9',
 '73.7',
 '76.2',
 '80.5',
 '78.8',
 '83',
 '71.1',
 '79.2',
 '83.9',
 '45.2',
 '68.2',
 '77',
 '74.5',
 '44.2',
 '66.4',
 '45.5',
 '51',
 '76.9',
 '69.7',
 '75.6',
 '79.3',
 '62.1',
 '49.2',
 '64.1',
 '41.1',
 '63.8',
 '69.3',
 '79.1',
 '68.4',
 '66.7',
 '67.4',
 '77',
 '58.5',
 '63.5',
 '49',
 '73.5',
 '67.1',
 '52.4',
 '68.7',
 '51.2',
 '56.3',
 '69.5',
 '84.3',
 '69.1',
 '77.9',
 '80',
 '68.1',
 '76.7',
 '72',
 '65.8',
 '54',
 '79.8',
 '57.8',
 '54.6',
 '78.2',
 '62.4',
 '58.3',
 '52.2',
 '68.9',
 '68.6',
 '77.1',
 '76',
 '71',
 '86.1',
 '75.1',
 '78.7',
 '78.5',
 '82.4',
 '76.1',
 '49.9',
 '63.9',
 '89.5',
 '66.6',
 '68.8',
 '75.4',
 '86.5',
 '46.7',
 '51.6',
 '54.5',
 '61',
 '62.7',
 '73.3',
 '77.8',
 '70.7',
 '69.2',
 '73.5',
 '58.5',
 '78.7',
 '51.1',
 '83.4',
 '67.4',
 '64.7',
 '85.2',
 '80.4',
 '78.4',
 '62',
 '72.5',
 '56.5',
 '77',
 '79.1',
 '74.6',
 '56.2',
 '82.3',
 '63',
 '55.8',
 '42.4',
 '63.7',
 '76.4',
 '54',
 '65.6',
 '57.5',
 '73.8',
 '83.2',
 '62.1',
 '81.5',
 '76.8',
 '64.5',
 '83.6',
 '33.5',
 '78.6',
 '78.1',
 '55.1',
 '72.4',
 '61.2',
 '65.1',
 '70.9',
 '74.2',
 '67.9']

In [11]:
location_data = extract_location(driver)
print(location_data)

['Cambridge, United States', 'Pittsburgh, United States', 'Stanford, United States', 'Berkeley, United States', 'Oxford, United Kingdom', 'Singapore, Singapore', 'Cambridge, United Kingdom', 'Cambridge, United States', 'Zürich, Switzerland', 'Lausanne, Switzerland', 'Singapore, Singapore', 'Toronto, Canada', 'Princeton, United States', 'Seattle, United States', 'Beijing, China (Mainland)', 'Beijing, China (Mainland)', 'Ithaca, United States', 'Los Angeles, United States', 'Beijing, China (Mainland)', 'Edinburgh, United Kingdom', 'Vancouver, Canada', 'Waterloo, Canada', 'New York City, United States', 'London, United Kingdom', 'Champaign, United States', 'New York City, United States', 'Shanghai, China (Mainland)', 'Atlanta, United States', 'Munich, Germany', 'Daejeon, South Korea', 'Palaiseau Cedex, France', 'Seoul, South Korea', 'Milan, Italy', 'Amsterdam, Netherlands', 'Montreal, Canada', 'Pasadena, United States', 'New Haven, United States', 'Hangzhou, China (Mainland)', 'Austin, United States', 'Hong Kong, Hong Kong SAR', 'Gif-sur-Yvette,, France', 'Parkville, Australia', 'Philadelphia, United States', 'San Diego, United States', 'Ann Arbor, United States', 'Paris, France', 'Montreal, Canada', 'Paris, France', 'Tokyo, Japan', 'Jeddah, Saudi Arabia', 'Leuven, Belgium', 'Chicago, United States', 'Hong Kong SAR, Hong Kong SAR', 'Delft, Netherlands', 'Los Angeles, United States', 'Canberra, Australia', 'Sydney, Australia', 'Sydney, Australia', 'College Park, United States', 'Shanghai, China (Mainland)', 'Hong Kong, Hong Kong SAR', 'Stockholm, Sweden', 'London, United Kingdom', 'Moscow, Russia', 'Manchester, United Kingdom', 'Mumbai, India', 'New Delhi, India', 'West Lafayette, United States', 'Eindhoven, Netherlands', 'Berlin, Germany', 'Rome, Italy', 'Baltimore, United States', 'Melbourne, Australia', 'Seoul, South Korea', 'Haymarket, Australia', 'Seoul, South Korea', 'Coventry, United Kingdom', 'Pohang , South Korea', 'St. Petersburg, Russia', 'Taipei, Taiwan', 'Kuala Lumpur, Malaysia', 'Barcelona, Spain', 'Seoul, South Korea', 'Espoo, Finland', 'Durham, United States', 'Monterrey, Mexico', 'São Paulo, Brazil', 'Bologna, Italy', 'Hefei, China (Mainland)', 'Aachen, Germany', 'Madison, United States', 'Dublin, Ireland', 'Munich, Germany', 'Kharagpur, India', 'Wuhan, China (Mainland)', 'Irvine, United States', 'Kanpur, India', 'Boston, United States', 'Nantes, France', "Xi'an, China (Mainland)", 'Turin, Italy', 'Chennai, India', 'Copenhagen, Denmark', 'Karlsruhe, Germany', 'Campinas, Brazil', 'University Park, United States', 'London, United Kingdom', 'Providence, United States', 'Santiago, Chile', 'Amherst, United States', 'Nanjing, China (Mainland)', 'Auckland, New Zealand', 'Adelaide, Australia', 'Haifa, Israel', 'Edmonton, Canada', 'Tokyo, Japan', 'Dolgoprudny, Russia', 'Madrid, Spain', 'Beijing, China (Mainland)', 'Kyoto, Japan', 'Hong Kong SAR', 'Brisbane City, Australia', 'Gothenburg, Sweden', 'Louvain-la-Neuve, Belgium', 'Lancaster,, United Kingdom', 'Bangalore, India', 'Wuhan, China (Mainland)', 'London, United Kingdom', 'Amsterdam, Netherlands', 'Zürich, Switzerland', 'Mexico City, Mexico', 'Chapel Hill, United States', 'Glasgow, United Kingdom', 'Darmstadt, Germany', 'College Station, United States', 'Grenoble, France', 'Southampton, United Kingdom', 'Birmingham, United Kingdom', 'Kingston, Canada', 'Bristol, United Kingdom', 'Riyadh, Saudi Arabia', 'Helsinki, Finland', 'Aarhus, Denmark', 'Pisa, Italy', 'Suwon, South Korea', 'Hsinchu City, Taiwan', 'Thuwal, Saudi Arabia', 'Islamabad, Pakistan', 'East Lansing, United States', 'Abu Dhabi, United Arab Emirates', 'Islamabad, Pakistan', 'Tilburg, Netherlands', 'Pamplona, Spain', 'Hong Kong SAR, Hong Kong SAR', 'Villetaneuse, France', 'Oxford, United Kingdom', 'Sheffield, United Kingdom', 'Perth, Australia', 'Depok, Indonesia', 'Dublin, Ireland', 'Bath, United Kingdom', 'Gainesville, United States', 'Chicago, United States', 'Leeds, United Kingdom', 'Minneapolis, United States', 'Melbourne, Australia', 'Subang Jaya, Malaysia', 'Exeter, United Kingdom', 'Sheffield, United Kingdom', 'Perth, Australia', 'Depok, Indonesia', 'Dublin, Ireland', 'Bath, United Kingdom', 'Gainesville, United States', 'Chicago, United States', 'Leeds, United Kingdom', 'Minneapolis, United States', 'Nottingham, United Kingdom', 'Pretoria, South Africa', 'Auckland, New Zealand', 'St. Louis, United States', 'Villetaneuse, France', 'Auckland, New Zealand', 'Giza, Egypt', 'New York City, United States', 'Madrid, Spain', 'Dublin, Ireland', 'Miami, United States', 'Berlin, Germany', 'Seoul, South Korea', 'Kuala Lumpur, Malaysia', 'Dhahran, Saudi Arabia', 'Kobe City, Japan', 'Lima, Peru', 'Belfast, United Kingdom', 'Loughborough, United Kingdom', 'Lima, Peru', 'Belfast, United Kingdom', 'New Brunswick, United States', 'Burnaby, Canada', 'Cairo, Egypt', 'Tucson, United States', 'Barcelona, Spain', 'València, Spain', 'Bangi, Malaysia', 'Skudai, Malaysia', 'Aberdeen, United Kingdom', 'Cape Town, South Africa', 'Liverpool, United Kingdom', 'Dunedin, New Zealand', 'Bangi, Malaysia', 'Skudai, Malaysia', 'Aberdeen, United Kingdom', 'Cape Town, South Africa', 'Liverpool, United Kingdom', 'Dunedin, New Zealand', 'Adelaide, Australia', 'Columbia, United States', 'Glasgow, United Kingdom', 'Québec, Canada', 'Venice, Italy', 'Bangkok, Thailand', 'Tallahassee, United States', 'Atlanta, United States', 'Ghent, Belgium', 'Ghent, Belgium', 'Edinburgh, United Kingdom', 'Melbourne, Australia', 'Hamilton, Canada', 'Kaohsiung City, Taiwan', 'Raleigh, United States', 'Heidelberg, Germany', 'Philadelphia, United States', 'Callaghan, Australia', 'Al Ain, United Arab Emirates', 'Rio de Janeiro, Brazil', 'Shah Alam, Malaysia', 'Cork, Ireland', 'Christchurch, New Zealand', 'Orlando, United States', 'Orlando, United States', 'Boulder, United States', 'New Delhi, India', 'Gothenburg, Sweden', 'Houston, United States', 'Iowa City, United States', 'Amman, Jordan', 'Canterbury, United Kingdom', 'Lisbon, Portugal', 'Columbia, United States', 'Naples, Italy', 'Ottawa, Canada', 'Portsmouth, United Kingdom', 'Rome, Italy', 'Salt Lake City, United States', 'Orlando, United States', 'Boulder, United States', 'New Delhi, India', 'Gothenburg, Sweden', 'Houston, United States', 'Iowa City, United States', 'Amman, Jordan', 'Canterbury, United Kingdom', 'Lisbon, Portugal', 'Columbia, United States', 'Naples, Italy', 'Ottawa, Canada', 'Portsmouth, United Kingdom', 'Rome, Italy', 'Salt Lake City, United States', 'Houston, United States', 'Iowa City, United States', 'Amman, Jordan', 'Canterbury, United Kingdom', 'Lisbon, Portugal', 'Columbia, United States', 'Naples, Italy', 'Ottawa, Canada', 'Portsmouth, United Kingdom', 'Rome, Italy', 'Salt Lake City, United States', 'Hamilton , New Zealand', 'Villetaneuse, France', 'Tampa, United States', 'Guildford, United Kingdom', 'Eugene, United States', 'Pittsburgh, United States', 'Porto, Portugal', 'Tampa, United States', 'Guildford, United Kingdom', 'Warsaw, Poland', 'Innsbruck, Austria', 'Abu Dhabi,, United Arab Emirates', 'Wageningen, Netherlands', 'Ames, United States', 'Guelph, Canada', 'Göttingen, Germany', 'Corvallis, United States', 'València, Spain', 'Fort Collins, United States', 'València, Spain', 'Fort Collins, United States', 'Pullman, United States', 'Bonn, Germany', 'Riverside, United States', 'Saskatoon, Canada', 'Winnipeg, Canada', 'Sapporo, Japan', 'Buenos Aires, Argentina', 'Zagreb, Croatia', 'Freiburg im Breisgau, Germany', 'Taichung City, Taiwan', 'Moscow, Russia', 'Guangzhou, China (Mainland)', 'Sendai City, Japan', 'Sendai City, Japan', 'Sao Paulo, Brazil', 'Florence, Italy', 'Granada, Spain', 'Turin, Italy', 'Vienna, Austria', 'Liège, Belgium', 'Alexandria, Egypt', 'Thessaloniki, Greece', 'Catania, Italy', 'Chiang Mai, Thailand', 'Clemson, United States', 'Halifax, Canada', 'Fukuoka City, Japan', 'Baton Rouge, United States', 'Nagoya, Japan', 'Dresden, Germany', 'Lubbock, United States', 'La Plata, Argentina', 'Concepción, Chile', 'Porto Alegre, Brazil', 'Honolulu, United States', 'Tsukuba City, Japan', 'Quezon City, Philippines', 'Nancy, France', 'Québec, Canada', 'Milperra, Australia', 'Cairo, Egypt', 'Jeonju, South Korea', 'Daegu, South Korea', 'Daegu, South Korea', 'Hanover, Germany', 'Islamabad, Pakistan', 'Jerusalem, Israel', 'Knoxville, United States', 'Umeå, Sweden', 'Seville, Spain', 'Belo Horizonte, Brazil', 'Florianópolis, Brazil', 'Talence, France', 'Tartu, Estonia', 'Tehran, Iran', 'Marseille, France', 'Seoul, South Korea', 'Bedford, United Kingdom', 'Bedford, United Kingdom', 'Nathan, Australia', 'Mansoura , Egypt', 'Brno, Czechia', 'Ankara, Turkey', 'Valparaíso, Chile', 'Medford, United States', 'Medellin, Colombia', 'Santiago, Chile', 'Montevideo, Uruguay', 'São Paulo, Brazil', 'Curitiba, Brazil', 'Brasília, Brazil', 'Belgrade, Serbia', 'Coimbra, Portugal', 'Coimbra, Portugal', 'Storrs, United States', 'Galway, Ireland', 'Toulouse, France', 'Lille, France', 'Strasbourg, France', 'Bandung, Indonesia', 'Guayaquil, Ecuador', 'Jinan, China (Mainland)', 'Tel Aviv, Israel', 'Tianjin, China (Mainland)', 'Guadalajara, Mexico', 'Recife, Brazil', 'Brussels, Belgium', 'Salamanca, Spain', 'Salamanca, Spain', 'Fisciano, Italy', 'Enschede, Netherlands', 'Lahore, Pakistan', 'Sherbrooke, Canada', 'Noida, India', 'Cluj-Napoca, Romania', 'Seoul, South Korea', 'Budapest, Hungary', 'Busan, South Korea', 'Shanghai, China (Mainland)', 'Newark, United States', 'Fredericton, Canada', 'Trento, Italy', 'Irbid, Jordan', 'Fredericton, Canada', 'Trento, Italy', 'Irbid, Jordan', 'Kazan, Russia', 'Chengdu, China (Mainland)', 'Cleveland, United States', 'Tübingen, Germany', 'Basel, Switzerland', 'Oslo, Norway', 'Hamburg, Germany', 'Zhengzhou, China (Mainland)', 'Changchun, China (Mainland)', 'Leiden, Netherlands', 'Miami, United States', 'Munster, Germany', 'London, United Kingdom', 'Nijmegen, Netherlands', 'Bogotá, Colombia', 'Bergen, Norway', 'Santa Barbara, United States', 'Santa Cruz, United States', 'Almaty, Kazakhstan', 'New Delhi, India', 'Brighton, United Kingdom', 'Novosibirsk , Russia', 'Leicester, United Kingdom', 'Athens, Greece', 'Saint Petersburg, Russia', 'Bern, Switzerland', 'Bradford, United Kingdom', 'Bern, Switzerland', 'Bradford, United Kingdom', 'Haifa, Israel', 'Krakow, Poland', 'Cincinnati, United States', 'Leipzig, Germany', 'Nur-Sultan, Kazakhstan', 'Trondheim, Norway', 'Egham, United Kingdom', 'Bochum, Germany', 'Tomsk, Russia', 'Nicosia, Cyprus', 'Ljubljana, Slovenia', 'Odense, Denmark', 'Nice, France', 'Trondheim, Norway', 'Egham, United Kingdom', 'Bochum, Germany', 'Tomsk, Russia', 'Nicosia, Cyprus', 'Ljubljana, Slovenia', 'Odense, Denmark', 'Nice, France', 'Ekaterinburg, Russia', 'Brussels, Belgium', 'Irbid, Jordan', 'Harbin, China (Mainland)', 'Nanjing, China (Mainland)', 'Stuttgart, Germany', 'Aalborg, Denmark', 'Nanjing, China (Mainland)', 'Stuttgart, Germany', 'Aalborg, Denmark', 'Graz, Austria', 'Changsha, China (Mainland)', 'Maslak-Istanbul, Turkey', 'Taipei City, Taiwan', 'Athens, Greece', 'Gelugor, Malaysia', 'Budapest, Hungary', 'Chicago, United States', 'Roorkee, India', 'Taipei City, Taiwan', 'Toronto, Canada', 'Singapore, Singapore', 'Singapore, Singapore', 'Syracuse, United States', 'Dortmund, Germany', 'Rome, Italy', 'Créteil, France', 'Vilnius, Lithuania', 'Warsaw, Poland', 'Brno, Czechia', 'Prague, Czechia', 'Dalian, China (Mainland)', 'Gdańsk, Poland', 'Shanghai, China (Mainland)', 'Melbourne, Australia', 'Braga, Portugal', 'Kingston upon Thames, United Kingdom', 'Shanghai, China (Mainland)', 'Melbourne, Australia', 'Braga, Portugal', 'Kingston upon Thames, United Kingdom', 'Manchester , United Kingdom', 'Newcastle upon Tyne, United Kingdom', 'Beirut, Lebanon', 'Beirut, Lebanon', 'Rochester, United States', 'Ajman, United Arab Emirates', 'Coventry, United Kingdom', 'Taipei City, Taiwan', 'Rio de Janeiro, Brazil', 'Plymouth, United Kingdom', 'Montpellier, France', 'Rochester, United States', 'Ajman, United Arab Emirates', 'Coventry, United Kingdom', 'Taipei City, Taiwan', 'Rio de Janeiro, Brazil', 'Plymouth, United Kingdom', 'Montpellier, France', 'Kongens Lyngby, Denmark', 'Paris, France', 'Rehovot, Israel', 'Prague, Czechia', 'Stony Brook, United States', 'Villeurbanne, France', 'Lyon, France', 'Swansea, United Kingdom', 'Antwerp, Belgium', 'Hanover, United States', 'Erlangen, Germany', 'Ciudad de México, Mexico', 'Boston, United States', 'Ulsan, South Korea', 'Buffalo, United States', 'Suwon, South Korea', 'Linköping, Sweden', 'Milan, Italy', 'Konstanz, Germany', "Be'er Sheva, Israel", 'Gwangju, South Korea', 'Ankara, Turkey', 'Heraklion, Greece', 'Genoa, Italy', 'Albuquerque, United States', 'Shanghai, China (Mainland)', 'Guwahati, India', 'Tampere, Finland', 'Braunschweig, Germany', 'Oulu, Finland', 'Szeged, Hungary', 'Nantes, France', 'Rennes, France', 'Vellore, India', 'Vilnius, Lithuania', 'Philadelphia, United States', 'Manipal, India', 'false false', 'Saarbrücken, Germany', 'Chennai, India', 'Ankara, Turkey', 'Ankara, Turkey', 'Lyon, France', 'Nara City, Japan', 'Shenzhen, China (Mainland)', 'Beijing, China (Mainland)', 'Victoria, Canada', 'Bremen, Germany', 'Beijing, China (Mainland)', 'Hong Kong, Hong Kong SAR', 'Sakaka, Saudi Arabia', 'Coleraine, United Kingdom', 'Baltimore, United States', 'Patras, Greece', 'Egaila, Kuwait', 'Istanbul, Turkey', 'Mexico City, Mexico', 'Byblos, Lebanon', 'London, United Kingdom', 'Limerick, Ireland', 'Bristol, United Kingdom', 'Ottawa, Canada', 'Mohali, India', 'Dhaka, Bangladesh', 'St. Petersburg, Russia', 'Al Ain,, United Arab Emirates', 'Jakarta, Indonesia', 'Pilani, India', 'Fairfax, United States', 'Seri Iskandar, Malaysia', 'Huddersfield, United Kingdom', 'Sharjah, United Arab Emirates', 'Linz, Austria', 'Kaunas, Lithuania', 'Tallinn, Estonia', 'Kyiv, Ukraine', 'Jyväskylä, Finland', 'Hanoi, Vietnam', 'Riga, Latvia', 'Kyoto, Japan', 'Dublin, Ireland', 'Tomsk, Russia', 'Beijing, China (Mainland)', 'Seoul, South Korea', 'Kolkata, India', "Xi'an, China (Mainland)", 'Tehran, Iran', 'Wroclaw , Poland', 'Tehran, Iran', 'Kuantan, Malaysia', 'Krakow, Poland', 'Moscow, Russia', 'Troy, United States', 'Chennai, India', 'Bucharest, Romania', 'Tehran, Iran', 'Nomi City, Japan', 'Moscow, Russia', 'Dammam, Saudi Arabia', 'Ho Chi Minh City, Vietnam', 'Minxiong Township, Taiwan', 'Móstoles, Spain', 'Grenoble, France', 'Istanbul, Turkey', 'Paris, France', 'Beijing, China (Mainland)', 'Da Nang, Vietnam', 'Chengdu, China (Mainland)', 'Luxembourg, Luxembourg', 'Kolkata, Bangalore, Delhi, India', 'Kyiv, Ukraine', 'Islamabad, Pakistan', 'Lugano, Switzerland', 'Valparaíso, Chile', 'Dhaka, Bangladesh', 'Beijing, China (Mainland)', 'Doha, Qatar', 'Al Khobar, Saudi Arabia', 'Riyadh, Saudi Arabia', 'Amman, Jordan', 'Bucharest, Romania', 'Lahore, Pakistan', 'Compiègne, France', 'Sophia Antipolis, France', 'Hanoi, Vietnam', 'Indore, India', 'New Delhi, India', 'Surabaya, Indonesia', 'null India', 'Kharkiv, Ukraine', 'Luleå, Sweden', 'Lviv, Ukraine', 'Cyberjaya, Malaysia', 'Patiala, India', 'Melbourne, Australia', "Xi'an, China (Mainland)", 'Saint-Étienne, France', 'Milton Keynes, United Kingdom', 'Dehradun, India', 'Lille, France', 'Leicester, United Kingdom', 'Kaiserslautern, Germany', 'Bandung, Indonesia', 'Arlington, United States', 'Makkah, Saudi Arabia', 'Baghdad, Iraq', 'Kharkiv, Ukraine', 'Birzeit, Palestinian Territories', 'Williamsburg, United States', 'Quito, Ecuador', 'Helwan, Egypt', 'Riyadh, Saudi Arabia', 'Rourkela, India', 'Newark, United States', 'Cluj-Napoca, Romania', 'Ho Chi Minh City, Vietnam', 'Rende, Italy', 'Amritapuri, India', 'Ramat Gan, Israel', 'Minsk, Belarus', 'Binghamton, United States', 'Bolzano, Italy', 'Prayagraj, India', 'Changsha, China (Mainland)', 'Porto Alegre, Brazil', 'Chania, Greece', 'Klagenfurt, Austria', 'Lyon, France', 'Villetaneuse, France']

In [12]:
df["Country"] = location_data
df["University"] = schools_data
df["QS Citations per Paper"] = citations_data
df["QS Academic Reputation"] = AR_data
df["QS Employer Reputation"] = ER_data

In [13]:
df

,Country,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation
0,"Cambridge, United States",Massachusetts Institute of Technology (MIT),93.7,91,98.2
1,"Pittsburgh, United States",Carnegie Mellon University,95.3,100,82.3
2,"Stanford, United States",Stanford University,99.9,88.5,96.3
3,"Berkeley, United States","University of California, Berkeley (UCB)",100,85.4,90
4,"Oxford, United Kingdom",University of Oxford,94.2,82.1,96.7
...,...,...,...,...,...
681,"Porto Alegre, Brazil",Pontifícia Universidade Católica do Rio Grande...,61.2,41.3,52.5
682,"Chania, Greece",Technical University of Crete,65.1,44,45.1
683,"Klagenfurt, Austria",University of Klagenfurt,70.9,46,37.7
684,"Lyon, France",Université Lumière Lyon 2,74.2,42.2,37
685,"Villetaneuse, France",Université Paris 13 Nord,67.9,37.8,46.8

In [14]:
city_list = []
country_list = []

for location in location_data:
    # Check if the location contains a comma
    if ',' in location:
        # Split the string at the comma
        split_location = location.split(',')

        # Remove leading and trailing whitespaces from the city and country
        city = split_location[0].strip()
        country = split_location[1].strip()

        city_list.append(city)
        country_list.append(country)
    else:
        city_list.append(location)
        country_list.append(None)
print(city_list)
print(country_list)

['Cambridge', 'Pittsburgh', 'Stanford', 'Berkeley', 'Oxford', 'Singapore', 'Cambridge', 'Cambridge', 'Zürich', 'Lausanne', 'Singapore', 'Toronto', 'Princeton', 'Seattle', 'Beijing', 'Beijing', 'Ithaca', 'Los Angeles', 'Beijing', 'Edinburgh', 'Vancouver', 'Waterloo', 'New York City', 'London', 'Champaign', 'New York City', 'Shanghai', 'Atlanta', 'Munich', 'Daejeon', 'Palaiseau Cedex', 'Seoul', 'Milan', 'Amsterdam', 'Montreal', 'Pasadena', 'New Haven', 'Hangzhou', 'Austin', 'Hong Kong', 'Gif-sur-Yvette', 'Parkville', 'Philadelphia', 'San Diego', 'Ann Arbor', 'Paris', 'Montreal', 'Paris', 'Tokyo', 'Jeddah', 'Leuven', 'Chicago', 'Hong Kong SAR', 'Delft', 'Los Angeles', 'Canberra', 'Sydney', 'Sydney', 'College Park', 'Shanghai', 'Hong Kong', 'Stockholm', 'London', 'Moscow', 'Manchester', 'Mumbai', 'New Delhi', 'West Lafayette', 'Eindhoven', 'Berlin', 'Rome', 'Baltimore', 'Melbourne', 'Seoul', 'Haymarket', 'Seoul', 'Coventry', 'Pohang', 'St. Petersburg', 'Taipei', 'Kuala Lumpur', 'Barcelona', 'Seoul', 'Espoo', 'Durham', 'Monterrey', 'São Paulo', 'Bologna', 'Hefei', 'Aachen', 'Madison', 'Dublin', 'Munich', 'Kharagpur', 'Wuhan', 'Irvine', 'Kanpur', 'Boston', 'Nantes', "Xi'an", 'Turin', 'Chennai', 'Copenhagen', 'Karlsruhe', 'Campinas', 'University Park', 'London', 'Providence', 'Santiago', 'Amherst', 'Nanjing', 'Auckland', 'Adelaide', 'Haifa', 'Edmonton', 'Tokyo', 'Dolgoprudny', 'Madrid', 'Beijing', 'Kyoto', 'Hong Kong SAR', 'Brisbane City', 'Gothenburg', 'Louvain-la-Neuve', 'Lancaster', 'Bangalore', 'Wuhan', 'London', 'Amsterdam', 'Zürich', 'Mexico City', 'Chapel Hill', 'Glasgow', 'Darmstadt', 'College Station', 'Grenoble', 'Southampton', 'Birmingham', 'Kingston', 'Bristol', 'Riyadh', 'Helsinki', 'Aarhus', 'Pisa', 'Suwon', 'Hsinchu City', 'Thuwal', 'Islamabad', 'East Lansing', 'Abu Dhabi', 'Islamabad', 'Tilburg', 'Pamplona', 'Hong Kong SAR', 'Villetaneuse', 'Oxford', 'Sheffield', 'Perth', 'Depok', 'Dublin', 'Bath', 'Gainesville', 'Chicago', 'Leeds', 'Minneapolis', 'Melbourne', 'Subang Jaya', 'Exeter', 'Sheffield', 'Perth', 'Depok', 'Dublin', 'Bath', 'Gainesville', 'Chicago', 'Leeds', 'Minneapolis', 'Nottingham', 'Pretoria', 'Auckland', 'St. Louis', 'Villetaneuse', 'Auckland', 'Giza', 'New York City', 'Madrid', 'Dublin', 'Miami', 'Berlin', 'Seoul', 'Kuala Lumpur', 'Dhahran', 'Kobe City', 'Lima', 'Belfast', 'Loughborough', 'Lima', 'Belfast', 'New Brunswick', 'Burnaby', 'Cairo', 'Tucson', 'Barcelona', 'València', 'Bangi', 'Skudai', 'Aberdeen', 'Cape Town', 'Liverpool', 'Dunedin', 'Bangi', 'Skudai', 'Aberdeen', 'Cape Town', 'Liverpool', 'Dunedin', 'Adelaide', 'Columbia', 'Glasgow', 'Québec', 'Venice', 'Bangkok', 'Tallahassee', 'Atlanta', 'Ghent', 'Ghent', 'Edinburgh', 'Melbourne', 'Hamilton', 'Kaohsiung City', 'Raleigh', 'Heidelberg', 'Philadelphia', 'Callaghan', 'Al Ain', 'Rio de Janeiro', 'Shah Alam', 'Cork', 'Christchurch', 'Orlando', 'Orlando', 'Boulder', 'New Delhi', 'Gothenburg', 'Houston', 'Iowa City', 'Amman', 'Canterbury', 'Lisbon', 'Columbia', 'Naples', 'Ottawa', 'Portsmouth', 'Rome', 'Salt Lake City', 'Orlando', 'Boulder', 'New Delhi', 'Gothenburg', 'Houston', 'Iowa City', 'Amman', 'Canterbury', 'Lisbon', 'Columbia', 'Naples', 'Ottawa', 'Portsmouth', 'Rome', 'Salt Lake City', 'Houston', 'Iowa City', 'Amman', 'Canterbury', 'Lisbon', 'Columbia', 'Naples', 'Ottawa', 'Portsmouth', 'Rome', 'Salt Lake City', 'Hamilton', 'Villetaneuse', 'Tampa', 'Guildford', 'Eugene', 'Pittsburgh', 'Porto', 'Tampa', 'Guildford', 'Warsaw', 'Innsbruck', 'Abu Dhabi', 'Wageningen', 'Ames', 'Guelph', 'Göttingen', 'Corvallis', 'València', 'Fort Collins', 'València', 'Fort Collins', 'Pullman', 'Bonn', 'Riverside', 'Saskatoon', 'Winnipeg', 'Sapporo', 'Buenos Aires', 'Zagreb', 'Freiburg im Breisgau', 'Taichung City', 'Moscow', 'Guangzhou', 'Sendai City', 'Sendai City', 'Sao Paulo', 'Florence', 'Granada', 'Turin', 'Vienna', 'Liège', 'Alexandria', 'Thessaloniki', 'Catania', 'Chiang Mai', 'Clemson', 'Halifax', 'Fukuoka City', 'Baton Rouge', 'Nagoya', 'Dresden', 'Lubbock', 'La Plata', 'Concepción', 'Porto Alegre', 'Honolulu', 'Tsukuba City', 'Quezon City', 'Nancy', 'Québec', 'Milperra', 'Cairo', 'Jeonju', 'Daegu', 'Daegu', 'Hanover', 'Islamabad', 'Jerusalem', 'Knoxville', 'Umeå', 'Seville', 'Belo Horizonte', 'Florianópolis', 'Talence', 'Tartu', 'Tehran', 'Marseille', 'Seoul', 'Bedford', 'Bedford', 'Nathan', 'Mansoura', 'Brno', 'Ankara', 'Valparaíso', 'Medford', 'Medellin', 'Santiago', 'Montevideo', 'São Paulo', 'Curitiba', 'Brasília', 'Belgrade', 'Coimbra', 'Coimbra', 'Storrs', 'Galway', 'Toulouse', 'Lille', 'Strasbourg', 'Bandung', 'Guayaquil', 'Jinan', 'Tel Aviv', 'Tianjin', 'Guadalajara', 'Recife', 'Brussels', 'Salamanca', 'Salamanca', 'Fisciano', 'Enschede', 'Lahore', 'Sherbrooke', 'Noida', 'Cluj-Napoca', 'Seoul', 'Budapest', 'Busan', 'Shanghai', 'Newark', 'Fredericton', 'Trento', 'Irbid', 'Fredericton', 'Trento', 'Irbid', 'Kazan', 'Chengdu', 'Cleveland', 'Tübingen', 'Basel', 'Oslo', 'Hamburg', 'Zhengzhou', 'Changchun', 'Leiden', 'Miami', 'Munster', 'London', 'Nijmegen', 'Bogotá', 'Bergen', 'Santa Barbara', 'Santa Cruz', 'Almaty', 'New Delhi', 'Brighton', 'Novosibirsk', 'Leicester', 'Athens', 'Saint Petersburg', 'Bern', 'Bradford', 'Bern', 'Bradford', 'Haifa', 'Krakow', 'Cincinnati', 'Leipzig', 'Nur-Sultan', 'Trondheim', 'Egham', 'Bochum', 'Tomsk', 'Nicosia', 'Ljubljana', 'Odense', 'Nice', 'Trondheim', 'Egham', 'Bochum', 'Tomsk', 'Nicosia', 'Ljubljana', 'Odense', 'Nice', 'Ekaterinburg', 'Brussels', 'Irbid', 'Harbin', 'Nanjing', 'Stuttgart', 'Aalborg', 'Nanjing', 'Stuttgart', 'Aalborg', 'Graz', 'Changsha', 'Maslak-Istanbul', 'Taipei City', 'Athens', 'Gelugor', 'Budapest', 'Chicago', 'Roorkee', 'Taipei City', 'Toronto', 'Singapore', 'Singapore', 'Syracuse', 'Dortmund', 'Rome', 'Créteil', 'Vilnius', 'Warsaw', 'Brno', 'Prague', 'Dalian', 'Gdańsk', 'Shanghai', 'Melbourne', 'Braga', 'Kingston upon Thames', 'Shanghai', 'Melbourne', 'Braga', 'Kingston upon Thames', 'Manchester', 'Newcastle upon Tyne', 'Beirut', 'Beirut', 'Rochester', 'Ajman', 'Coventry', 'Taipei City', 'Rio de Janeiro', 'Plymouth', 'Montpellier', 'Rochester', 'Ajman', 'Coventry', 'Taipei City', 'Rio de Janeiro', 'Plymouth', 'Montpellier', 'Kongens Lyngby', 'Paris', 'Rehovot', 'Prague', 'Stony Brook', 'Villeurbanne', 'Lyon', 'Swansea', 'Antwerp', 'Hanover', 'Erlangen', 'Ciudad de México', 'Boston', 'Ulsan', 'Buffalo', 'Suwon', 'Linköping', 'Milan', 'Konstanz', "Be'er Sheva", 'Gwangju', 'Ankara', 'Heraklion', 'Genoa', 'Albuquerque', 'Shanghai', 'Guwahati', 'Tampere', 'Braunschweig', 'Oulu', 'Szeged', 'Nantes', 'Rennes', 'Vellore', 'Vilnius', 'Philadelphia', 'Manipal', 'false false', 'Saarbrücken', 'Chennai', 'Ankara', 'Ankara', 'Lyon', 'Nara City', 'Shenzhen', 'Beijing', 'Victoria', 'Bremen', 'Beijing', 'Hong Kong', 'Sakaka', 'Coleraine', 'Baltimore', 'Patras', 'Egaila', 'Istanbul', 'Mexico City', 'Byblos', 'London', 'Limerick', 'Bristol', 'Ottawa', 'Mohali', 'Dhaka', 'St. Petersburg', 'Al Ain', 'Jakarta', 'Pilani', 'Fairfax', 'Seri Iskandar', 'Huddersfield', 'Sharjah', 'Linz', 'Kaunas', 'Tallinn', 'Kyiv', 'Jyväskylä', 'Hanoi', 'Riga', 'Kyoto', 'Dublin', 'Tomsk', 'Beijing', 'Seoul', 'Kolkata', "Xi'an", 'Tehran', 'Wroclaw', 'Tehran', 'Kuantan', 'Krakow', 'Moscow', 'Troy', 'Chennai', 'Bucharest', 'Tehran', 'Nomi City', 'Moscow', 'Dammam', 'Ho Chi Minh City', 'Minxiong Township', 'Móstoles', 'Grenoble', 'Istanbul', 'Paris', 'Beijing', 'Da Nang', 'Chengdu', 'Luxembourg', 'Kolkata', 'Kyiv', 'Islamabad', 'Lugano', 'Valparaíso', 'Dhaka', 'Beijing', 'Doha', 'Al Khobar', 'Riyadh', 'Amman', 'Bucharest', 'Lahore', 'Compiègne', 'Sophia Antipolis', 'Hanoi', 'Indore', 'New Delhi', 'Surabaya', 'null India', 'Kharkiv', 'Luleå', 'Lviv', 'Cyberjaya', 'Patiala', 'Melbourne', "Xi'an", 'Saint-Étienne', 'Milton Keynes', 'Dehradun', 'Lille', 'Leicester', 'Kaiserslautern', 'Bandung', 'Arlington', 'Makkah', 'Baghdad', 'Kharkiv', 'Birzeit', 'Williamsburg', 'Quito', 'Helwan', 'Riyadh', 'Rourkela', 'Newark', 'Cluj-Napoca', 'Ho Chi Minh City', 'Rende', 'Amritapuri', 'Ramat Gan', 'Minsk', 'Binghamton', 'Bolzano', 'Prayagraj', 'Changsha', 'Porto Alegre', 'Chania', 'Klagenfurt', 'Lyon', 'Villetaneuse']
['United States', 'United States', 'United States', 'United States', 'United Kingdom', 'Singapore', 'United Kingdom', 'United States', 'Switzerland', 'Switzerland', 'Singapore', 'Canada', 'United States', 'United States', 'China (Mainland)', 'China (Mainland)', 'United States', 'United States', 'China (Mainland)', 'United Kingdom', 'Canada', 'Canada', 'United States', 'United Kingdom', 'United States', 'United States', 'China (Mainland)', 'United States', 'Germany', 'South Korea', 'France', 'South Korea', 'Italy', 'Netherlands', 'Canada', 'United States', 'United States', 'China (Mainland)', 'United States', 'Hong Kong SAR', '', 'Australia', 'United States', 'United States', 'United States', 'France', 'Canada', 'France', 'Japan', 'Saudi Arabia', 'Belgium', 'United States', 'Hong Kong SAR', 'Netherlands', 'United States', 'Australia', 'Australia', 'Australia', 'United States', 'China (Mainland)', 'Hong Kong SAR', 'Sweden', 'United Kingdom', 'Russia', 'United Kingdom', 'India', 'India', 'United States', 'Netherlands', 'Germany', 'Italy', 'United States', 'Australia', 'South Korea', 'Australia', 'South Korea', 'United Kingdom', 'South Korea', 'Russia', 'Taiwan', 'Malaysia', 'Spain', 'South Korea', 'Finland', 'United States', 'Mexico', 'Brazil', 'Italy', 'China (Mainland)', 'Germany', 'United States', 'Ireland', 'Germany', 'India', 'China (Mainland)', 'United States', 'India', 'United States', 'France', 'China (Mainland)', 'Italy', 'India', 'Denmark', 'Germany', 'Brazil', 'United States', 'United Kingdom', 'United States', 'Chile', 'United States', 'China (Mainland)', 'New Zealand', 'Australia', 'Israel', 'Canada', 'Japan', 'Russia', 'Spain', 'China (Mainland)', 'Japan', None, 'Australia', 'Sweden', 'Belgium', '', 'India', 'China (Mainland)', 'United Kingdom', 'Netherlands', 'Switzerland', 'Mexico', 'United States', 'United Kingdom', 'Germany', 'United States', 'France', 'United Kingdom', 'United Kingdom', 'Canada', 'United Kingdom', 'Saudi Arabia', 'Finland', 'Denmark', 'Italy', 'South Korea', 'Taiwan', 'Saudi Arabia', 'Pakistan', 'United States', 'United Arab Emirates', 'Pakistan', 'Netherlands', 'Spain', 'Hong Kong SAR', 'France', 'United Kingdom', 'United Kingdom', 'Australia', 'Indonesia', 'Ireland', 'United Kingdom', 'United States', 'United States', 'United Kingdom', 'United States', 'Australia', 'Malaysia', 'United Kingdom', 'United Kingdom', 'Australia', 'Indonesia', 'Ireland', 'United Kingdom', 'United States', 'United States', 'United Kingdom', 'United States', 'United Kingdom', 'South Africa', 'New Zealand', 'United States', 'France', 'New Zealand', 'Egypt', 'United States', 'Spain', 'Ireland', 'United States', 'Germany', 'South Korea', 'Malaysia', 'Saudi Arabia', 'Japan', 'Peru', 'United Kingdom', 'United Kingdom', 'Peru', 'United Kingdom', 'United States', 'Canada', 'Egypt', 'United States', 'Spain', 'Spain', 'Malaysia', 'Malaysia', 'United Kingdom', 'South Africa', 'United Kingdom', 'New Zealand', 'Malaysia', 'Malaysia', 'United Kingdom', 'South Africa', 'United Kingdom', 'New Zealand', 'Australia', 'United States', 'United Kingdom', 'Canada', 'Italy', 'Thailand', 'United States', 'United States', 'Belgium', 'Belgium', 'United Kingdom', 'Australia', 'Canada', 'Taiwan', 'United States', 'Germany', 'United States', 'Australia', 'United Arab Emirates', 'Brazil', 'Malaysia', 'Ireland', 'New Zealand', 'United States', 'United States', 'United States', 'India', 'Sweden', 'United States', 'United States', 'Jordan', 'United Kingdom', 'Portugal', 'United States', 'Italy', 'Canada', 'United Kingdom', 'Italy', 'United States', 'United States', 'United States', 'India', 'Sweden', 'United States', 'United States', 'Jordan', 'United Kingdom', 'Portugal', 'United States', 'Italy', 'Canada', 'United Kingdom', 'Italy', 'United States', 'United States', 'United States', 'Jordan', 'United Kingdom', 'Portugal', 'United States', 'Italy', 'Canada', 'United Kingdom', 'Italy', 'United States', 'New Zealand', 'France', 'United States', 'United Kingdom', 'United States', 'United States', 'Portugal', 'United States', 'United Kingdom', 'Poland', 'Austria', '', 'Netherlands', 'United States', 'Canada', 'Germany', 'United States', 'Spain', 'United States', 'Spain', 'United States', 'United States', 'Germany', 'United States', 'Canada', 'Canada', 'Japan', 'Argentina', 'Croatia', 'Germany', 'Taiwan', 'Russia', 'China (Mainland)', 'Japan', 'Japan', 'Brazil', 'Italy', 'Spain', 'Italy', 'Austria', 'Belgium', 'Egypt', 'Greece', 'Italy', 'Thailand', 'United States', 'Canada', 'Japan', 'United States', 'Japan', 'Germany', 'United States', 'Argentina', 'Chile', 'Brazil', 'United States', 'Japan', 'Philippines', 'France', 'Canada', 'Australia', 'Egypt', 'South Korea', 'South Korea', 'South Korea', 'Germany', 'Pakistan', 'Israel', 'United States', 'Sweden', 'Spain', 'Brazil', 'Brazil', 'France', 'Estonia', 'Iran', 'France', 'South Korea', 'United Kingdom', 'United Kingdom', 'Australia', 'Egypt', 'Czechia', 'Turkey', 'Chile', 'United States', 'Colombia', 'Chile', 'Uruguay', 'Brazil', 'Brazil', 'Brazil', 'Serbia', 'Portugal', 'Portugal', 'United States', 'Ireland', 'France', 'France', 'France', 'Indonesia', 'Ecuador', 'China (Mainland)', 'Israel', 'China (Mainland)', 'Mexico', 'Brazil', 'Belgium', 'Spain', 'Spain', 'Italy', 'Netherlands', 'Pakistan', 'Canada', 'India', 'Romania', 'South Korea', 'Hungary', 'South Korea', 'China (Mainland)', 'United States', 'Canada', 'Italy', 'Jordan', 'Canada', 'Italy', 'Jordan', 'Russia', 'China (Mainland)', 'United States', 'Germany', 'Switzerland', 'Norway', 'Germany', 'China (Mainland)', 'China (Mainland)', 'Netherlands', 'United States', 'Germany', 'United Kingdom', 'Netherlands', 'Colombia', 'Norway', 'United States', 'United States', 'Kazakhstan', 'India', 'United Kingdom', 'Russia', 'United Kingdom', 'Greece', 'Russia', 'Switzerland', 'United Kingdom', 'Switzerland', 'United Kingdom', 'Israel', 'Poland', 'United States', 'Germany', 'Kazakhstan', 'Norway', 'United Kingdom', 'Germany', 'Russia', 'Cyprus', 'Slovenia', 'Denmark', 'France', 'Norway', 'United Kingdom', 'Germany', 'Russia', 'Cyprus', 'Slovenia', 'Denmark', 'France', 'Russia', 'Belgium', 'Jordan', 'China (Mainland)', 'China (Mainland)', 'Germany', 'Denmark', 'China (Mainland)', 'Germany', 'Denmark', 'Austria', 'China (Mainland)', 'Turkey', 'Taiwan', 'Greece', 'Malaysia', 'Hungary', 'United States', 'India', 'Taiwan', 'Canada', 'Singapore', 'Singapore', 'United States', 'Germany', 'Italy', 'France', 'Lithuania', 'Poland', 'Czechia', 'Czechia', 'China (Mainland)', 'Poland', 'China (Mainland)', 'Australia', 'Portugal', 'United Kingdom', 'China (Mainland)', 'Australia', 'Portugal', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Lebanon', 'Lebanon', 'United States', 'United Arab Emirates', 'United Kingdom', 'Taiwan', 'Brazil', 'United Kingdom', 'France', 'United States', 'United Arab Emirates', 'United Kingdom', 'Taiwan', 'Brazil', 'United Kingdom', 'France', 'Denmark', 'France', 'Israel', 'Czechia', 'United States', 'France', 'France', 'United Kingdom', 'Belgium', 'United States', 'Germany', 'Mexico', 'United States', 'South Korea', 'United States', 'South Korea', 'Sweden', 'Italy', 'Germany', 'Israel', 'South Korea', 'Turkey', 'Greece', 'Italy', 'United States', 'China (Mainland)', 'India', 'Finland', 'Germany', 'Finland', 'Hungary', 'France', 'France', 'India', 'Lithuania', 'United States', 'India', None, 'Germany', 'India', 'Turkey', 'Turkey', 'France', 'Japan', 'China (Mainland)', 'China (Mainland)', 'Canada', 'Germany', 'China (Mainland)', 'Hong Kong SAR', 'Saudi Arabia', 'United Kingdom', 'United States', 'Greece', 'Kuwait', 'Turkey', 'Mexico', 'Lebanon', 'United Kingdom', 'Ireland', 'United Kingdom', 'Canada', 'India', 'Bangladesh', 'Russia', '', 'Indonesia', 'India', 'United States', 'Malaysia', 'United Kingdom', 'United Arab Emirates', 'Austria', 'Lithuania', 'Estonia', 'Ukraine', 'Finland', 'Vietnam', 'Latvia', 'Japan', 'Ireland', 'Russia', 'China (Mainland)', 'South Korea', 'India', 'China (Mainland)', 'Iran', 'Poland', 'Iran', 'Malaysia', 'Poland', 'Russia', 'United States', 'India', 'Romania', 'Iran', 'Japan', 'Russia', 'Saudi Arabia', 'Vietnam', 'Taiwan', 'Spain', 'France', 'Turkey', 'France', 'China (Mainland)', 'Vietnam', 'China (Mainland)', 'Luxembourg', 'Bangalore', 'Ukraine', 'Pakistan', 'Switzerland', 'Chile', 'Bangladesh', 'China (Mainland)', 'Qatar', 'Saudi Arabia', 'Saudi Arabia', 'Jordan', 'Romania', 'Pakistan', 'France', 'France', 'Vietnam', 'India', 'India', 'Indonesia', None, 'Ukraine', 'Sweden', 'Ukraine', 'Malaysia', 'India', 'Australia', 'China (Mainland)', 'France', 'United Kingdom', 'India', 'France', 'United Kingdom', 'Germany', 'Indonesia', 'United States', 'Saudi Arabia', 'Iraq', 'Ukraine', 'Palestinian Territories', 'United States', 'Ecuador', 'Egypt', 'Saudi Arabia', 'India', 'United States', 'Romania', 'Vietnam', 'Italy', 'India', 'Israel', 'Belarus', 'United States', 'Italy', 'India', 'China (Mainland)', 'Brazil', 'Greece', 'Austria', 'France', 'France']

In [15]:
# Replace the values in the "Country" column
df['Country'] = df['Country'].replace("China", "China (Mainland)")
df['Country'] = country_list
df = df[['University','Country', "QS Citations per Paper", 
         "QS Academic Reputation", "QS Employer Reputation"]]
df_qs = df

In [16]:
df_qs.to_excel('QS.xlsx')

THE

In [17]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException

import time
import pandas as pd
import numpy as np
import pprint

def wait():
    time.sleep(3)

def long_wait():
    time.sleep(5)

# Set up chromedriver
def setup(year):
    chrome_options = Options()
    chrome_options.add_argument('--no-sandbox')
    chrome_options.add_argument('--disable-dev-shm-usage')
    chrome_options.add_argument('--ignore-certificate-errors')
    chrome_options.add_argument('--ignore-ssl-errors')

    prefs = {"download.default_directory": ""}
    chrome_options.add_experimental_option("prefs", prefs)
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(f"https://www.timeshighereducation.com/world-university-rankings/{year}/subject-ranking/computer-science#!/length/-1/sort_by/rank/sort_order/asc/cols/stats")
    driver.maximize_window()
    long_wait()

    # Check if the page displays the error message
    if "Sorry, we couldn't find that page. Try searching instead." in driver.page_source:
        year -= 1
        driver.quit()
        return setup(year)  # Recursively call setup() with the decremented year

    return driver

# Click on "Scores" button
def table_click_scores(driver):
  scores = driver.find_elements(By.XPATH, "//label[contains(@for, 'scores')]")
  scores[0].click()
  wait()

# Launch chromedriver
driver = setup(year)

# Show scores menu
table_click_scores(driver)


# extract function not even needed
def extract(df, driver):
  table_data = driver.find_element(By.XPATH, "//div[contains(@class, 'pane-content')]")
  table_rows = table_data.find_elements(By.XPATH, "//tr[contains(@role, 'row')]")
  for i in range(2, len(table_rows) - 1, 2):
    row = table_rows[i]
    data = row.find_element(By.XPATH, "/")
    for d in data:
      print(d.text)

######################################
# setting up dataframe of results #
######################################
df_columns = ["University", "Country", "Citations","Research", "Teaching"]
df = pd.DataFrame(columns=df_columns)
######################################
# running webscrape #
######################################

time.sleep(20)

# Scraping Rank, University Name & Country
df_rank = driver.find_elements(By.XPATH, "//td[contains(@class, 'rank sorting_1 sorting_2')]")
rank_data = list()
for i in range(len(df_rank)):
    rank_data.append(df_rank[i].text)


df_name = driver.find_elements(By.XPATH, "//*[contains(@class, 'ranking-institution-title')]")
name_data = list()
for i in range(len(df_name)):
    name_data.append(df_name[i].text)

df_country = driver.find_elements(By.XPATH, "//div/span")
country_data = list()
for i in range(len(df_country)):
    country_data.append(df_country[i].text)

# # Scraping all the Scores
# df_overall = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores overall-score')]")
# overall_data = list()
# for i in range(len(df_overall)):
#     overall_data.append(df_overall[i].text)

df_citations = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores citations-score')]")
citations_data = list()
for i in range(len(df_citations)):
    citations_data.append(df_citations[i].text)

# df_industry_income = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores industry_income-score')]")
# industry_income_data = list()
# for i in range(len(df_industry_income)):
#     industry_income_data.append(df_industry_income[i].text)

# df_international_outlook = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores international_outlook-score')]")
# international_outlook_data = list()
# for i in range(len(df_international_outlook)):
#     international_outlook_data.append(df_international_outlook[i].text)

df_research = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores research-score')]")
research_data = list()
for i in range(len(df_research)):
    research_data.append(df_research[i].text)

df_teaching = driver.find_elements(By.XPATH, "//td[contains(@class, 'scores teaching-score')]")
teaching_data = list()
for i in range(len(df_teaching)):
    teaching_data.append(df_teaching[i].text)

# Adding data to Dataframe
# df["Rank"] = rank_data
df["University"] = name_data
df["Country"] = country_data
# df["Overall"] = overall_data
df["Citations"] = citations_data
# df["Industry Income"] = industry_income_data
# df["International Outlook"] = international_outlook_data
df["Research"] = research_data
df["Teaching"] = teaching_data

print(df)
df_the = df
# Exporting Dataframe as excel sheet
df_the.to_excel('THE_scrape.xlsx')

                                University         Country Citations Research  \
0                     University of Oxford  United Kingdom      99.9     92.8
1    Massachusetts Institute of Technology   United States      99.0     97.1
2                      Stanford University   United States     100.0     96.3
3                               ETH Zurich     Switzerland      98.8     95.7
4               Carnegie Mellon University   United States      99.6     93.4
..                                     ...             ...       ...      ...
969                   Yamaguchi University           Japan      12.1      8.8
970                     Yanshan University           China      20.2      8.9
971           Yokohama National University           Japan      20.6     19.3
972                     Yuan Ze University          Taiwan      28.3     10.7
973                   University of Žilina        Slovakia      25.0     10.9

    Teaching
0       92.4
1       89.2
2       90.6
3       84.4
4       87.7
..       ...
969     13.1
970     12.4
971     17.0
972     14.1
973     16.7

[974 rows x 5 columns]

SH

In [18]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
import time
import pandas as pd
import pprint
import itertools

def wait():
    time.sleep(3)
def long_wait():
    time.sleep(5)

        
def click_cnci(driver):
    try:
        button = driver.find_element(By.XPATH, '//*[@id="content-box"]//th[5]//img')
        button.click()
        long_wait()
        cnci = driver.find_element(By.XPATH, '//li[text()="CNCI"]')
        cnci.click()
        wait()
    except Exception as e:
        print("cnci button not found", e)

def click_top(driver):
    try:
        button = driver.find_element(By.XPATH, '//*[@id="content-box"]//th[5]//img')
        button.click()
        long_wait()
        top = driver.find_element(By.XPATH, '//li[text()="TOP"]')
        top.click()
        wait()
    except Exception as e:
        print("top button not found", e)
        
# def click_award(driver):
#     try:
#         button = driver.find_element(By.XPATH, '//*[@id="content-box"]//th[5]//img')
#         button.click()
#         long_wait()
#         top = driver.find_element(By.XPATH, '//li[text()="AWARD"]')
#         top.click()
#         wait()
#     except Exception as e:
#         print("award button not found", e)

In [19]:
def setup(year):
    chrome_options = Options()
    chrome_options.add_argument('--no-sandbox')
    chrome_options.add_argument('--disable-dev-shm-usage')
    
    prefs = {"download.default_directory": ""}
    chrome_options.add_experimental_option("prefs", prefs)
    
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(f"https://www.shanghairanking.com/rankings/gras/{year}/RS0210")
    driver.maximize_window()
    long_wait()
    
    # Check if the page is inaccessible
    if "Sorry, the page is inaccessible" in driver.page_source:
        year -= 1
        driver.quit()
        return setup(year)  # Recursively call setup() with the decremented year
    
    return driver

df_columns = ["University", "CNCI", "TOP"]
df = pd.DataFrame(columns=df_columns)
driver = setup(year)

In [20]:
def extract_names(driver):
    university_names = []
    while True:
        rows = driver.find_elements(By.XPATH, '//tr[@data-v-ae1ab4a8=""]')
        for row in rows:
            university_name_elements = row.find_elements(By.XPATH, './/span[@class="univ-name"]')
            for element in university_name_elements:
                university_name = element.text.strip()
                university_names.append(university_name)  # Append the university name to the list

        try:
            next_page_button = driver.find_element(By.XPATH, '//li[@title="下一页"]')
            if next_page_button.get_attribute('aria-disabled') == 'true':
                print("Next Page button is not clickable. Stopping loop.")
                break
            next_page_button.click()
            wait()
        except NoSuchElementException as e:
            print("No more pages available.", e)
            break
    
    return university_names
back_to_first_page = driver.find_element(By.XPATH, '//li[@title="1"]')
back_to_first_page.click()
university = extract_names(driver)
print(university)

Next Page button is not clickable. Stopping loop.
['Massachusetts Institute of Technology (MIT)', 'Stanford University', 'University of California, Berkeley', 'Carnegie Mellon University', 'Tsinghua University', 'Harvard University', 'ETH Zurich', 'Nanyang Technological University', 'University of Oxford', 'Princeton University', 'Columbia University', 'University of Electronic Science and Technology of China', 'National University of Singapore', 'University of California, Los Angeles', 'University of Toronto', 'Shanghai Jiao Tong University', 'University of Technology Sydney', 'Zhejiang University', 'Peking University', 'The Chinese University of Hong Kong', 'Huazhong University of Science and Technology', 'Cornell University', 'Beihang University', 'Harbin Institute of Technology', 'University of Southern California', 'Georgia Institute of Technology', 'Xidian University', 'New York University', 'University of Sydney', 'University of Oslo', 'The University of Edinburgh', 'University of Science and Technology of China', 'University of Montreal', 'City University of Hong Kong', 'The University of Texas at Austin', 'University College London', 'University of Washington', 'Imperial College London', 'Sun Yat-sen University', 'Southeast University', 'Tianjin University', 'Northwestern Polytechnical University', 'University of North Carolina at Chapel Hill', 'The Hong Kong Polytechnic University', 'Beijing University of Posts and Telecommunications', 'Wuhan University', 'The Hong Kong University of Science and Technology', 'Dalian University of Technology', 'University of Michigan-Ann Arbor', 'The University of Adelaide', 'Aalto University', 'Beijing Institute of Technology', 'Central South University', 'Johns Hopkins University', 'King Abdulaziz University', 'Nanjing University', 'Nanjing University of Science and Technology', 'National University of Defense Technology', 'Northeastern University (Shenyang)', 'Paris-Saclay University', 'Shenzhen University', 'South China University of Technology', 'Swiss Federal Institute of Technology Lausanne', 'Technical University of Munich', 'The University of New South Wales', 'University of Alberta', 'University of British Columbia', 'University of California, San Diego', 'University of Cambridge', 'University of Copenhagen', 'University of Illinois at Urbana-Champaign', 'University of Maryland, College Park', 'University of Waterloo', 'Weizmann Institute of Science', "Xi'an Jiaotong University", 'Arizona State University', 'Deakin University', 'Griffith University', 'Guangdong University of Technology', 'King Saud University', 'Korea Advanced Institute of Science and Technology', 'Michigan State University', 'Monash University', 'Nanjing University of Information Science & Technology', 'Purdue University - West Lafayette', 'Rutgers, The State University of New Jersey - New Brunswick', 'Sichuan University', 'Singapore University of Technology & Design', 'Swinburne University of Technology', 'Technical University of Denmark', 'The Australian National University', 'The University of Hong Kong', 'The University of Melbourne', 'Tongji University', 'Université Grenoble Alpes', 'University of Macau', 'University of Pennsylvania', 'University of Surrey', 'Virginia Polytechnic Institute and State University', 'Xiamen University', 'Beijing Jiaotong University', 'Brown University', 'Brunel University', 'China University of Geosciences (Wuhan)', 'Chongqing University', 'Delft University of Technology', 'Duke University', 'Fudan University', 'Hefei University of Technology', 'Hunan University', 'King Abdullah University of Science and Technology', "King's College London", 'KTH Royal Institute of Technology', 'KU Leuven', 'Lancaster University', 'McGill University', 'Nanjing University of Aeronautics and Astronautics', 'Nanjing University of Posts and Telecommunications', 'New Jersey Institute of Technology', 'Newcastle University', 'Northeastern University (Boston)', 'Northumbria University', 'Polytechnic University of Milan', 'PSL University', 'Queen Mary University of London', 'RMIT University', 'Seoul National University', 'Shandong University', 'Simon Fraser University', 'Singapore Management University', 'Temple University', 'Texas A and M University at Qatar', 'Texas A&M University', 'The Ohio State University - Columbus', 'The University of Queensland', 'The University of Texas at San Antonio', 'The University of Tokyo', 'University at Buffalo, the State University of New York', 'University of Bristol', 'University of California, Davis', 'University of California, Irvine', 'University of California, Merced', 'University of Florida', 'University of Freiburg', 'University of Granada', 'University of Iowa', 'University of Minnesota, Twin Cities', 'University of Oulu', 'University of Warwick', 'University of Wisconsin - Madison', 'Aalborg University', 'Carleton University', 'Changsha University of Science and Technology', 'Dalian Maritime University', 'De Montfort University', 'Duy Tan University', 'Eindhoven University of Technology', 'Guangzhou University', 'Hamad Bin Khalifa University-Qatar', 'Hangzhou Dianzi University', 'Hong Kong Baptist University', 'Institut Polytechnique de Paris', 'Korea University', 'Lulea University of Technology', 'Macau University of Science and Technology', 'Macquarie University', 'Nankai University', 'Northwestern University', 'Qatar University', 'Qingdao University', 'Radboud University Nijmegen', 'Sejong University', 'Shanghai University', 'Sorbonne University', 'Southern University of Science and Technology', 'Southwest University', 'St. Francis Xavier University', 'Stony Brook University', 'Technion-Israel Institute of Technology', 'Tel Aviv University', 'Thapar Institute of Engineering and Technology', 'Pennsylvania State University - University Park', 'The University of Manchester', 'University at Albany (State University of New York)', 'University of Amsterdam', 'University of Birmingham', 'University of Houston', 'University of Idaho', 'University of Illinois at Chicago', 'University of Pittsburgh', 'University of Science and Technology Beijing', 'University of Southampton', 'University of Tehran', 'University of Wollongong', 'University of Zurich', 'Vanderbilt University', 'Victoria University', 'Vienna University of Technology', 'Washington University in St. Louis', 'York University', 'Aarhus University', 'Anhui University', 'Anhui University of Technology', 'Beijing University of Technology', 'Ben-Gurion University of the Negev', 'Bohai University', 'Boston University', 'Cardiff University', 'Case Western Reserve University', 'Chalmers University of Technology', 'Chongqing University of Posts and Telecommunications', 'COMSATS University Islamabad', 'Concordia University', 'East China Normal University', 'East China University of Science and Technology', 'Ecole de Technologie Superieure - Canada', 'Florida Atlantic University', 'Fordham University', 'Fuzhou University', 'Georgia State University', 'Ghent University', 'Heidelberg University', 'Hohai University', 'Huaqiao University', 'Indiana University Bloomington', 'Karlsruhe Institute of Technology (KIT)', 'Linkoping University', 'McMaster University', 'National Taiwan University of Science and Technology', 'North Carolina State University - Raleigh', 'Norwegian University of Science and Technology - NTNU', 'Polytechnic University of Catalonia', 'Quaid-i-Azam University', "Queen's University Belfast", 'Queensland University of Technology', 'Qufu Normal University', 'Rensselaer Polytechnic Institute', 'RWTH Aachen University', 'Saarland University', 'Sapienza University of Rome', 'Shandong Normal University', 'Shandong University of Science and Technology', 'Southwest Jiaotong University', 'Stevens Institute of Technology', 'Swansea University', 'Tampere University', 'Technical University Darmstadt', 'Technical University of Berlin', 'The Chinese University of Hong Kong, Shenzhen', 'The University of Auckland', 'The University of Glasgow', 'The University of Sheffield', 'The University of Texas at Arlington', 'The University of Texas at Dallas', 'Ton Duc Thang University', 'Universiti Teknologi Malaysia', 'University of Calabria', 'University of California, Santa Barbara', 'University of Central Florida', 'University of Chicago', 'University of Colorado at Boulder', 'University of Essex', 'Exeter University', 'University of Fortaleza (UNIFOR)', 'University of Helsinki', 'University of Jordan', 'University of Kentucky', 'University of Leicester', 'University of Lincoln', 'University of Lisbon', 'University of Liverpool', 'University of Luxembourg', 'University of Malaya', 'University of Massachusetts Amherst', 'University of Muenster', 'University of Munich', 'University of Naples Federico II', 'University of North Carolina at Charlotte', 'University of Nottingham', 'University of Padua', 'University of Rhode Island', 'University of South Australia', 'University of South Carolina - Columbia', 'University of Trento', 'University of Twente', 'University of Utah', 'University of Virginia', 'Utrecht University', 'Vellore Institute of Technology', 'Victoria University of Wellington', 'Wenzhou University', 'Western Sydney University', 'Western University', "Xi'an Jiaotong-Liverpool University", 'Yale University', 'Yangzhou University', 'Yeungnam University', 'Yonsei University', 'Zagazig University', 'Zhejiang University of Technology', 'Auburn University', 'Binghamton University', 'California Institute of Technology', 'China University of Mining and Technology - Xuzhou', 'City, University of London', 'Curtin University', 'Czech Technical University in Prague', 'Dongguan University of Technology', 'Florida International University', 'Graz University of Technology', 'Guangdong University of Petrochemical Technology', 'Guilin University of Electronic Technology', 'Harbin Engineering University', 'Heriot-Watt University', 'Hunan University of Science and Technology', 'Illinois Institute of Technology', 'Iowa State University', 'Jiangsu Normal University', 'Jilin University', 'Jinan University', 'Khalifa University', 'King Fahd University of Petroleum & Minerals', 'Kyoto University', 'Kyung Hee University', 'La Trobe University', 'Leiden University', 'Liaoning University of Technology', 'Liverpool John Moores University', 'Loughborough University', 'Manchester Metropolitan University', 'Mansoura University', 'Memorial University of Newfoundland', 'Menofia University', 'Middlesex University', 'Missouri University of Science and Technology', 'National Taiwan University', 'National University of Sciences and Technology Pakistan', 'National Yang Ming Chiao Tung University', 'North China Electric Power University', 'Oklahoma State University', 'Polytechnic University of Madrid', 'Polytechnic University of Valencia', 'Pompeu Fabra University', 'Qingdao University of Science and Technology', 'Renmin University of China', 'Ryerson University', 'Sichuan Normal University', 'Soochow University (China)', 'Southwestern University of Finance and Economics', 'Sungkyunkwan University', 'SUNY New Paltz', 'Taiyuan University of Science and Technology', 'The Hebrew University of Jerusalem', 'The University of Calgary', 'The University of New Mexico - Albuquerque', 'The University of Newcastle, Australia', 'The University of Western Australia', 'Tohoku University', 'Università Della Svizzera Italiana', 'University College Dublin', 'University of Arizona', 'University of Arkansas at Fayetteville', 'University of Bergen', 'University of Bern', 'University of Bologna', 'University of Bonn', 'University of California, Riverside', 'University of California, Santa Cruz', 'University of East Anglia', 'University of Guelph', 'University of Jaen', 'University of Leeds', 'University of Liege', 'University of Manitoba', 'University of Montpellier', 'University of Nebraska - Lincoln', 'University of North Texas', 'University of Notre Dame', 'University of Oklahoma - Norman', 'University of Ottawa', 'University of Pisa', 'University of Quebec Montreal', 'University of Regina', 'University of Rochester', 'University of Salerno', 'University of Sao Paulo', 'University of Saskatchewan', 'University of Sherbrooke', 'University of South Florida', 'University of Stuttgart', 'University of Sussex', 'University of the Basque Country', 'University of Tuebingen', 'University of Victoria', 'Washington State University', 'West Virginia University', 'Wuhan University of Science and Technology', 'Wuhan University of Technology', 'Zhejiang Gongshang University', 'Zhongnan University of Economics and Law', 'Amirkabir University of Technology', 'Asia University', 'Autonomous University of Barcelona', 'Beijing Normal University', 'Beijing University of Chemical Technology', 'Cairo University', 'Carlos III University of Madrid', 'Catholic University of Louvain', 'China University of Petroleum (Huadong)', 'Clemson University', 'Cranfield University', 'Dartmouth College', 'Donghua University', 'Durham University', 'Edinburgh Napier University', 'Emory University', 'Federal University of Minas Gerais', 'Fujian Normal University', 'George Mason University', 'Henan University', 'Humboldt University of Berlin', 'Indian Institute of Technology Delhi', 'Indian Institute of Technology Kharagpur', 'ITMO University', 'Jiangnan University', 'Jiangsu University', 'Jiangxi University of Finance & Economics', 'Kyungpook National University', 'Kyushu Institute of Technology', 'Lakehead University', 'Lanzhou University', 'Laval University', 'Liaocheng University', 'Lund University', 'Massey University', 'Mayo Clinic Alix School of Medicine', 'National Institute of Technology Kurukshetra', 'National Tsing Hua University', 'Nazarbayev University', 'Nottingham Trent University', 'NOVA University Lisbon', 'Ocean University of China', 'Ontario Tech University', 'Oregon State University', 'Osaka University', 'Polytechnic University of Turin', 'Prince Sultan University', "Queen's University", 'Rice University', 'Rochester Institute of Technology', 'Shandong University of Finance and Economics', 'ShanghaiTech University', 'Sharif University of Technology', 'Stockholm University', 'The George Washington University', 'The University of Georgia', 'Trinity College Dublin', 'TU Dresden', 'Universidad Publica de Navarra', 'University of Aizu', 'University of Aveiro', 'University of Bath', 'University of Cagliari', 'University of Campinas', 'University of Chile', 'University of Cincinnati', 'University of Connecticut', 'University of Delaware', 'University of Duisburg-Essen', 'University of Geneva', 'University of Goettingen', 'University of Groningen', 'University of Hamburg', 'University of Jyvaskyla', 'University of Konstanz', 'University of Lille', 'University of Ljubljana', 'University of Lorraine', 'University of Malaga', 'University of Missouri - Columbia', 'University of New Brunswick', 'University of Paris', 'University of Porto', 'University of Salamanca', 'University of Seville', 'University of Shanghai for Science and Technology', 'University of Strathclyde', 'University of Tasmania', 'University of Tennessee - Knoxville', 'University of Turku', 'University of Vienna', 'University of Windsor', 'University of York', 'UOC Universitat Oberta de Catalunya', 'Uppsala University', 'Virginia Commonwealth University', 'Vrije Universiteit Brussel (VUB)', 'Wageningen University & Research', 'Zhejiang Normal University', 'Zhengzhou University']

In [21]:
def extract_cnci(driver):
    cnci_numbers = []
    while True:
        rows = driver.find_elements(By.XPATH, '//tr[@data-v-ae1ab4a8=""]')
        for row in rows:
            td_elements = row.find_elements(By.XPATH, './/td')
            if len(td_elements) >= 5:
                cnci_element = td_elements[4]  # Select the fifth td element (which is the cnci number)
                cnci_number = cnci_element.text.strip()
                cnci_numbers.append(cnci_number)  # Append the CNCI number to the list

        try:
            next_page_button = driver.find_element(By.XPATH, '//li[@title="下一页"]')
            if next_page_button.get_attribute('aria-disabled') == 'true':
                print("Next Page button is not clickable. Stopping loop.")
                break
            next_page_button.click()
            wait()
        except NoSuchElementException as e:
            print("No more pages available.", e)
            break

    return cnci_numbers
time.sleep(10)
back_to_first_page = driver.find_element(By.XPATH, '//li[@title="1"]')
time.sleep(10)
back_to_first_page.click()
time.sleep(12)
driver.execute_script("window.scrollTo(0, 0);")
time.sleep(3)
click_cnci(driver)
time.sleep(10)
cnci = extract_cnci(driver)
print(cnci)

Next Page button is not clickable. Stopping loop.
['81.1', '87.2', '83.5', '73.7', '74.7', '81.6', '79.9', '85.5', '72.2', '86.2', '87.5', '86.1', '87.1', '67.5', '66.6', '71.0', '90.1', '71.0', '76.6', '89.8', '82.2', '73.4', '72.4', '80.5', '75.3', '79.5', '73.6', '79.1', '90.6', '100.0', '72.1', '75.0', '83.0', '82.5', '69.6', '84.3', '81.4', '82.6', '77.8', '77.9', '76.5', '77.4', '78.8', '84.7', '71.3', '78.5', '84.2', '77.9', '67.9', '95.9', '81.6', '75.9', '88.4', '93.3', '93.9', '76.3', '74.4', '62.2', '72.7', '69.8', '77.9', '77.5', '72.0', '75.4', '79.0', '75.4', '82.5', '70.9', '84.5', '73.5', '70.1', '73.7', '74.3', '60.0', '74.9', '76.9', '82.4', '100.0', '89.9', '87.0', '59.1', '85.1', '75.4', '86.1', '66.3', '74.6', '81.5', '87.1', '100.0', '100.0', '82.0', '79.4', '81.8', '74.5', '63.6', '90.2', '74.2', '85.3', '81.6', '76.1', '67.6', '95.3', '97.9', '88.3', '70.1', '69.6', '73.9', '66.9', '74.0', '79.8', '79.2', '80.6', '72.8', '71.2', '76.9', '70.4', '66.0', '72.2', '87.9', '72.9', '67.4', '82.5', '73.9', '75.6', '79.0', '79.9', '60.1', '66.2', '70.7', '79.6', '85.4', '100.0', '66.7', '74.9', '84.8', '90.8', '57.6', '72.8', '76.4', '73.6', '75.6', '93.7', '74.2', '90.9', '89.3', '94.1', '69.6', '96.2', '76.1', '72.0', '74.8', '82.2', '100.0', '90.2', '96.8', '100.0', '64.5', '85.7', '84.7', '73.6', '86.5', '70.7', '69.3', '100.0', '91.6', '86.5', '79.1', '64.6', '84.2', '97.4', '97.1', '90.2', '73.7', '66.5', '81.6', '83.0', '99.3', '70.3', '58.5', '62.3', '98.1', '62.5', '75.1', '73.3', '70.2', '76.8', '74.6', '99.4', '79.5', '67.1', '78.5', '72.6', '80.9', '78.4', '88.1', '89.7', '100.0', '64.1', '78.1', '92.1', '65.1', '71.3', '100.0', '68.2', '54.3', '100.0', '66.9', '72.0', '89.1', '67.6', '73.1', '76.0', '72.3', '66.6', '80.7', '80.0', '97.1', '97.4', '75.0', '83.0', '68.5', '81.5', '72.9', '87.2', '69.3', '71.6', '75.4', '83.6', '71.4', '69.4', '69.7', '61.1', '90.7', '77.6', '71.0', '100.0', '71.2', '63.3', '62.0', '66.7', '78.4', '77.5', '74.8', '78.1', '83.0', '69.8', '60.8', '68.5', '95.2', '75.0', '72.5', '72.5', '73.3', '66.3', '86.8', '80.2', '83.0', '66.7', '68.4', '68.3', '65.7', '77.4', '83.8', '100.0', '71.7', '100.0', '81.2', '83.2', '89.4', '57.1', '68.8', '79.6', '81.1', '60.9', '94.0', '72.5', '74.3', '77.6', '68.2', '74.2', '95.7', '81.0', '84.5', '71.0', '72.9', '70.0', '66.9', '81.1', '84.3', '85.6', '100.0', '87.3', '75.5', '84.8', '62.9', '91.0', '95.8', '62.0', '99.4', '73.4', '79.1', '76.8', '66.9', '72.0', '76.5', '76.0', '63.7', '84.0', '78.5', '71.2', '94.8', '69.1', '66.2', '75.3', '89.6', '79.4', '69.5', '90.4', '61.1', '73.2', '72.8', '78.8', '62.1', '79.4', '77.8', '72.0', '100.0', '82.7', '79.4', '88.6', '92.4', '78.6', '82.0', '77.5', '77.2', '52.9', '70.6', '56.6', '75.8', '86.6', '59.8', '60.6', '67.0', '93.3', '64.8', '66.2', '100.0', '64.9', '90.6', '69.2', '87.6', '100.0', '63.4', '60.8', '73.4', '82.6', '76.1', '79.5', '76.9', '75.5', '65.8', '80.2', '76.4', '80.4', '65.4', '66.7', '67.6', '65.0', '81.8', '88.3', '82.3', '71.1', '86.5', '80.1', '69.7', '74.0', '83.6', '70.9', '81.3', '66.2', '69.3', '79.4', '84.1', '66.2', '70.0', '56.2', '74.1', '90.8', '71.1', '61.2', '74.6', '74.4', '66.1', '71.8', '80.7', '84.7', '85.9', '67.2', '77.5', '90.0', '64.3', '86.4', '61.7', '69.7', '80.1', '77.3', '57.3', '73.1', '71.0', '69.0', '74.4', '65.9', '72.9', '73.4', '78.8', '69.9', '64.7', '75.6', '60.6', '79.6', '71.5', '62.7', '63.0', '71.9', '65.8', '65.4', '78.8', '70.2', '81.7', '85.7', '77.6', '72.0', '92.2', '63.6', '77.6', '84.8', '91.7', '56.9', '74.9', '78.0', '73.2', '71.3', '72.8', '57.7', '54.0', '61.6', '83.4', '69.0', '64.6', '61.9', '81.4', '66.5', '62.1', '75.5', '72.6', '70.1', '65.3', '60.2', '76.0', '75.1', '73.0', '68.4', '73.2', '59.6', '64.4', '72.5', '65.5', '66.2', '72.8', '73.5', '77.5', '64.1', '70.8', '82.5', '72.1', '57.0', '69.7', '61.1', '62.0', '73.8', '78.0', '56.7', '65.7', '77.7', '63.2', '71.1', '69.1', '76.5', '63.4', '78.0', '64.3', '72.3', '60.1', '84.7', '65.2', '72.9', '68.1', '81.1', '83.0', '68.5']

In [22]:
def extract_top(driver):
    top_numbers = []
    while True:
        rows = driver.find_elements(By.XPATH, '//tr[@data-v-ae1ab4a8=""]')
        for row in rows:
            td_elements = row.find_elements(By.XPATH, './/td')
            if len(td_elements) >= 5:
                top_element = td_elements[4]  # Select the fifth td element
                top_number = top_element.text.strip()
                top_numbers.append(top_number)  # Append the top number to the list

        try:
            next_page_button = driver.find_element(By.XPATH, '//li[@title="下一页"]')
            if next_page_button.get_attribute('aria-disabled') == 'true':
                print("Next Page button is not clickable. Stopping loop.")
                break
            next_page_button.click()
            wait()
        except NoSuchElementException as e:
            print("No more pages available.", e)
            break

    return top_numbers
time.sleep(10)
back_to_first_page = driver.find_element(By.XPATH, '//li[@title="1"]')
time.sleep(10)
back_to_first_page.click()
time.sleep(12)
driver.execute_script("window.scrollTo(0, 0);")
time.sleep(3)
click_top(driver)
time.sleep(10)
top = extract_top(driver)
print(top)

Next Page button is not clickable. Stopping loop.
['100.0', '85.5', '82.9', '99.8', '81.3', '54.0', '72.8', '54.4', '63.9', '57.8', '50.3', '34.8', '56.0', '53.8', '57.2', '52.4', '47.0', '50.6', '63.7', '55.4', '29.6', '61.9', '42.8', '31.8', '53.7', '66.9', '32.3', '48.1', '44.5', '12.1', '41.2', '50.1', '33.6', '31.1', '56.9', '49.5', '67.3', '46.9', '40.7', '21.9', '33.6', '31.3', '26.7', '27.0', '28.8', '27.2', '46.4', '28.4', '60.5', '33.2', '34.0', '30.5', '8.9', '42.5', '4.0', '44.3', '27.3', '29.7', '12.7', '41.1', '21.9', '27.6', '50.2', '44.0', '32.4', '33.4', '36.0', '53.4', '44.0', '29.3', '61.7', '48.3', '43.0', '32.9', '29.7', '36.4', '17.6', '16.2', '13.3', '6.1', '50.8', '26.8', '33.2', '12.7', '43.4', '46.0', '14.7', '28.0', '12.1', '18.4', '37.3', '32.2', '30.0', '19.4', '29.7', '14.7', '48.5', '21.3', '31.0', '25.3', '16.0', '27.7', '7.2', '9.4', '11.7', '28.0', '44.8', '34.1', '18.0', '9.7', '28.4', '20.8', '32.6', '34.7', '29.4', '32.8', '19.0', '12.1', '18.2', '30.3', '48.0', '26.2', '26.1', '38.4', '26.9', '19.9', '42.1', '22.9', '39.5', '24.9', '17.1', '2.3', '35.6', '30.6', '21.5', '13.9', '50.7', '30.7', '31.9', '28.1', '35.2', '24.0', '23.4', '27.1', '4.0', '22.8', '38.6', '17.1', '23.2', '42.8', '23.9', '18.6', '3.2', '8.6', '5.6', '0.0', '31.0', '7.2', '19.9', '13.5', '18.9', '26.4', '20.7', '4.0', '8.9', '16.0', '22.5', '40.2', '5.6', '4.6', '14.1', '7.2', '13.7', '32.7', '17.9', '10.0', '0.0', '30.9', '46.1', '45.8', '0.0', '35.0', '17.4', '15.2', '29.2', '21.1', '18.4', '4.0', '29.4', '28.8', '9.2', '23.0', '10.5', '12.5', '21.5', '16.3', '5.1', '34.2', '24.8', '20.3', '32.4', '11.2', '3.2', '10.7', '34.3', '0.0', '32.0', '18.2', '12.3', '23.7', '6.5', '2.3', '13.7', '23.1', '4.6', '8.3', '9.4', '5.6', '7.2', '8.6', '14.3', '17.3', '4.6', '5.1', '29.9', '22.3', '18.0', '10.5', '10.0', '25.0', '16.0', '20.1', '2.3', '10.2', '26.6', '0.0', '23.2', '26.1', '36.3', '28.0', '9.4', '4.0', '9.4', '19.1', '14.3', '19.5', '31.7', '28.0', '11.0', '18.4', '22.3', '18.3', '20.1', '23.8', '0.0', '6.9', '14.5', '32.0', '27.9', '31.8', '32.3', '9.4', '9.7', '0.0', '19.7', '4.0', '16.8', '7.2', '14.3', '24.0', '21.5', '16.7', '4.6', '33.4', '9.7', '26.4', '13.7', '17.3', '24.9', '16.2', '6.1', '15.9', '15.2', '21.1', '20.8', '26.3', '27.6', '17.0', '3.2', '10.0', '5.1', '8.9', '12.7', '7.2', '32.8', '2.3', '5.6', '22.8', '0.0', '10.0', '7.9', '14.8', '30.4', '4.0', '12.5', '6.5', '24.9', '10.2', '10.0', '21.7', '0.0', '8.9', '6.9', '14.7', '3.2', '11.7', '16.3', '9.4', '12.7', '10.2', '7.9', '4.0', '22.4', '6.5', '6.5', '13.5', '0.0', '4.6', '10.2', '4.6', '0.0', '7.2', '2.3', '11.4', '11.4', '29.7', '7.2', '20.5', '5.6', '4.6', '8.9', '8.6', '18.3', '0.0', '19.4', '10.5', '2.3', '13.1', '4.0', '15.9', '0.0', '0.0', '29.3', '20.2', '12.7', '7.6', '12.3', '18.7', '12.9', '11.7', '15.0', '11.9', '16.3', '10.7', '17.3', '26.5', '23.2', '28.9', '10.5', '7.9', '5.1', '12.5', '7.9', '12.3', '18.2', '11.7', '7.9', '17.7', '5.1', '13.5', '17.4', '6.9', '8.9', '29.7', '12.5', '16.5', '16.5', '7.9', '11.9', '25.9', '18.4', '7.6', '27.0', '11.4', '15.2', '14.1', '5.1', '6.9', '7.6', '2.3', '6.5', '0.0', '15.5', '8.6', '4.6', '4.6', '12.7', '13.9', '4.6', '15.5', '5.1', '20.2', '4.0', '11.4', '6.9', '12.9', '17.0', '4.0', '21.2', '5.1', '9.7', '16.2', '13.9', '10.7', '8.3', '5.6', '3.2', '10.0', '6.5', '0.0', '3.2', '15.9', '0.0', '18.3', '6.5', '4.0', '0.0', '21.6', '6.9', '6.1', '10.5', '6.5', '13.3', '27.6', '23.7', '10.7', '3.2', '12.3', '28.1', '22.2', '4.0', '21.2', '13.9', '12.3', '10.7', '13.7', '13.1', '21.6', '5.1', '5.6', '7.6', '20.1', '7.9', '16.2', '13.1', '8.9', '14.8', '18.2', '11.2', '9.4', '10.5', '12.3', '14.7', '5.1', '13.7', '21.3', '12.1', '15.0', '10.0', '10.5', '6.9', '23.1', '11.7', '3.2', '7.6', '6.9', '11.2', '6.9', '14.5', '9.2', '17.4', '7.9', '19.0', '3.2', '19.4', '7.6', '11.0', '4.0', '6.9', '7.9']

In [23]:
# Append the data to the DataFrame
df["University"] = university
df["CNCI"] = cnci
df["TOP"] = top
df_shanghai = df

# Print the DataFrame
print(df_shanghai)
df_shanghai.to_excel('shanghai.xlsx', index=False)

                                      University  CNCI    TOP
0    Massachusetts Institute of Technology (MIT)  81.1  100.0
1                            Stanford University  87.2   85.5
2             University of California, Berkeley  83.5   82.9
3                     Carnegie Mellon University  73.7   99.8
4                            Tsinghua University  74.7   81.3
..                                           ...   ...    ...
495             Virginia Commonwealth University  72.9    7.6
496             Vrije Universiteit Brussel (VUB)  68.1   11.0
497             Wageningen University & Research  81.1    4.0
498                   Zhejiang Normal University  83.0    6.9
499                         Zhengzhou University  68.5    7.9

[500 rows x 3 columns]

Merging

In [24]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in /Users/aarthi/miniconda3/lib/python3.10/site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in /Users/aarthi/miniconda3/lib/python3.10/site-packages (0.21.1)
Requirement already satisfied: Levenshtein==0.21.1 in /Users/aarthi/miniconda3/lib/python3.10/site-packages (from python-Levenshtein) (0.21.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=2.3.0 in /Users/aarthi/miniconda3/lib/python3.10/site-packages (from Levenshtein==0.21.1->python-Levenshtein) (3.1.1)

In [41]:
df_qs['University'] = df_qs['University'].str.strip()
df_the['University'] = df_the['University'].str.strip()
df_shanghai['University'] = df_shanghai['University'].str.strip()
# Convert university names to lowercase and remove special characters
df_qs['University'] = df_qs['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)
df_the['University'] = df_the['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)
# Convert university names to lowercase and remove special characters
df_shanghai['University'] = df_shanghai['University'].str.lower().replace('[^a-z0-9 ]', '', regex=True)

In [42]:
from fuzzywuzzy import fuzz, process
import pandas as pd

# Define a function to find the best match for a given university name
def find_best_match(name, choices):
    best_match, score = process.extractOne(name, choices)
    if score >= 95:  # Adjust the threshold as needed
        return best_match
    else:
        return name

# Get unique university names from both dataframes
qs_universities = df_qs['University'].unique()
the_universities = df_the['University'].unique()

# Create a master list of all unique university names
all_universities = list(set(qs_universities))


# Standardize university names in df_the
df_the['New University'] = df_the.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Merge the dataframes based on standardized university names
merged_df = pd.merge(df_qs, df_the, on=['University', 'Country'], how='outer')

# Select the desired columns
merged_df = merged_df[['University', 'Country', 'QS Citations per Paper', 'QS Academic Reputation','QS Employer Reputation',
                       'Citations', 'Research', 'Teaching']]

# Display the merged dataframe
print(merged_df)

                                     University         Country  \
0     massachusetts institute of technology mit   United States
1                    carnegie mellon university   United States
2                           stanford university   United States
3         university of california berkeley ucb   United States
4                          university of oxford  United Kingdom
...                                         ...             ...
1359                       yamaguchi university           Japan
1360                         yanshan university           China
1361               yokohama national university           Japan
1362                         yuan ze university          Taiwan
1363                        university of ilina        Slovakia

     QS Citations per Paper QS Academic Reputation QS Employer Reputation  \
0                      93.7                     91                   98.2
1                      95.3                    100                   82.3
2                      99.9                   88.5                   96.3
3                       100                   85.4                     90
4                      94.2                   82.1                   96.7
...                     ...                    ...                    ...
1359                    NaN                    NaN                    NaN
1360                    NaN                    NaN                    NaN
1361                    NaN                    NaN                    NaN
1362                    NaN                    NaN                    NaN
1363                    NaN                    NaN                    NaN

     Citations Research Teaching
0          NaN      NaN      NaN
1         99.6     93.4     87.7
2        100.0     96.3     90.6
3          NaN      NaN      NaN
4         99.9     92.8     92.4
...        ...      ...      ...
1359      12.1      8.8     13.1
1360      20.2      8.9     12.4
1361      20.6     19.3     17.0
1362      28.3     10.7     14.1
1363      25.0     10.9     16.7

[1364 rows x 8 columns]

In [43]:
# from fuzzywuzzy import fuzz, process
# import pandas as pd

# Assuming you have dataframes named df_qs and df_the

# Define a function to find the best match for a given university name
def find_best_match(name, choices):
    best_match, score = process.extractOne(name, choices)
    if score >= 95:  # Adjust the threshold as needed
        return best_match
    else:
        return name

# Get unique university names from both dataframes
shanghai_universities = df_shanghai['University'].unique()
merged_universities = merged_df['University'].unique()

# Create a master list of all unique university names
all_universities = list(set(merged_universities))

# Standardize university names in df_the
df_shanghai['new University'] = df_shanghai.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Merge the dataframes based on standardized university names
new_merged_df = pd.merge(merged_df, df_shanghai, on=['University'], how='outer')

# Select the desired columns
new_merged_df = new_merged_df[['University', 'Country', 'QS Citations per Paper', 'QS Academic Reputation','QS Employer Reputation',
                       'Citations', 'Research', 'Teaching', 'CNCI', 'TOP']]

# Display the merged dataframe
print(new_merged_df)

                                             University         Country  \
0             massachusetts institute of technology mit   United States
1                            carnegie mellon university   United States
2                                   stanford university   United States
3                 university of california berkeley ucb   United States
4                                  university of oxford  United Kingdom
...                                                 ...             ...
1505                   university of missouri  columbia             NaN
1506                                university of paris             NaN
1507  university of shanghai for science and technology             NaN
1508                 university of tennessee  knoxville             NaN
1509                uoc universitat oberta de catalunya             NaN

     QS Citations per Paper QS Academic Reputation QS Employer Reputation  \
0                      93.7                     91                   98.2
1                      95.3                    100                   82.3
2                      99.9                   88.5                   96.3
3                       100                   85.4                     90
4                      94.2                   82.1                   96.7
...                     ...                    ...                    ...
1505                    NaN                    NaN                    NaN
1506                    NaN                    NaN                    NaN
1507                    NaN                    NaN                    NaN
1508                    NaN                    NaN                    NaN
1509                    NaN                    NaN                    NaN

     Citations Research Teaching  CNCI    TOP
0          NaN      NaN      NaN  81.1  100.0
1         99.6     93.4     87.7  73.7   99.8
2        100.0     96.3     90.6  87.2   85.5
3          NaN      NaN      NaN   NaN    NaN
4         99.9     92.8     92.4  72.2   63.9
...        ...      ...      ...   ...    ...
1505       NaN      NaN      NaN  73.8   10.5
1506       NaN      NaN      NaN  56.7   23.1
1507       NaN      NaN      NaN  71.1    6.9
1508       NaN      NaN      NaN  63.4   14.5
1509       NaN      NaN      NaN  84.7    3.2

[1510 rows x 10 columns]

In [44]:
# from fuzzywuzzy import fuzz, process
# import pandas as pd

# Assuming you have a dataframe named merged_df
# Define a function to find the best match for a given university name
def find_best_match(name, choices):
    best_match, score = process.extractOne(name, choices)
    if score >= 93:  # Adjust the threshold as needed
        return best_match
    else:
        return name

# Create a list of all unique university names
all_universities = new_merged_df['University'].unique()

# Standardize university names in the merged DataFrame
new_merged_df['University'] = new_merged_df.apply(lambda x: find_best_match(x['University'], all_universities), axis=1)

# Combine values for similar university names
for idx, row in new_merged_df.iterrows():
    university_name = row['University']
    
    # Find similar matches in the merged DataFrame based on university name (excluding the current row)
    similarity_threshold = 97  # Adjust the similarity score threshold as needed
    similar_matches = new_merged_df[new_merged_df.apply(lambda x: fuzz.token_sort_ratio(x['University'], university_name), axis=1) >= similarity_threshold]
    similar_matches = similar_matches[similar_matches.index != idx]
    
    # Check if there are any similar matches
    if not similar_matches.empty:
        # Get the first similar match (you can implement a more sophisticated logic here)
        similar_row = similar_matches.iloc[0]
        
        # Iterate through the columns to fill in missing values with non-null values from either row
        for column in new_merged_df.columns:
            if pd.isnull(row[column]) and not pd.isnull(similar_row[column]):
                new_merged_df.at[idx, column] = similar_row[column]
            elif pd.isnull(similar_row[column]) and not pd.isnull(row[column]):
                new_merged_df.at[idx, column] = row[column]

# Display the updated DataFrame
print(new_merged_df)

                                             University         Country  \
0             massachusetts institute of technology mit   United States
1                            carnegie mellon university   United States
2                                   stanford university   United States
3                 university of california berkeley ucb   United States
4                                  university of oxford  United Kingdom
...                                                 ...             ...
1505                   university of missouri  columbia   United States
1506                                university of paris             NaN
1507  university of shanghai for science and technology             NaN
1508                 university of tennessee  knoxville             NaN
1509                uoc universitat oberta de catalunya             NaN

     QS Citations per Paper QS Academic Reputation QS Employer Reputation  \
0                      93.7                     91                   98.2
1                      95.3                    100                   82.3
2                      99.9                   88.5                   96.3
3                       100                   85.4                     90
4                      94.2                   82.1                   96.7
...                     ...                    ...                    ...
1505                   75.8                   39.2                   53.5
1506                    NaN                    NaN                    NaN
1507                    NaN                    NaN                    NaN
1508                    NaN                    NaN                    NaN
1509                    NaN                    NaN                    NaN

     Citations Research Teaching  CNCI    TOP
0          NaN      NaN      NaN  81.1  100.0
1         99.6     93.4     87.7  73.7   99.8
2        100.0     96.3     90.6  87.2   85.5
3          NaN      NaN      NaN   NaN    NaN
4         99.9     92.8     92.4  72.2   63.9
...        ...      ...      ...   ...    ...
1505       NaN      NaN      NaN  73.8   10.5
1506       NaN      NaN      NaN  56.7   23.1
1507       NaN      NaN      NaN  71.1    6.9
1508       NaN      NaN      NaN  63.4   14.5
1509       NaN      NaN      NaN  84.7    3.2

[1510 rows x 10 columns]

In [45]:
# Fill NaN values with 0 for every row except 'country' column
country_column = new_merged_df['Country']
new_merged_df.drop('Country', axis=1, inplace=True)
new_merged_df.fillna(0, inplace=True)
new_merged_df['Country'] = country_column
new_merged_df[['University', 'Country', 'QS Citations per Paper', "Citations", 'CNCI', 'QS Academic Reputation',
              'QS Employer Reputation', 'Research', 'Teaching', 'TOP']]
new_merged_df

,University,QS Citations per Paper,QS Academic Reputation,QS Employer Reputation,Citations,Research,Teaching,CNCI,TOP,Country
0,massachusetts institute of technology mit,93.7,91,98.2,0,0,0,81.1,100.0,United States
1,carnegie mellon university,95.3,100,82.3,99.6,93.4,87.7,73.7,99.8,United States
2,stanford university,99.9,88.5,96.3,100.0,96.3,90.6,87.2,85.5,United States
3,university of california berkeley ucb,100,85.4,90,0,0,0,0,0,United States
4,university of oxford,94.2,82.1,96.7,99.9,92.8,92.4,72.2,63.9,United Kingdom
...,...,...,...,...,...,...,...,...,...,...
1505,university of missouri columbia,75.8,39.2,53.5,0,0,0,73.8,10.5,United States
1506,university of paris,0,0,0,0,0,0,56.7,23.1,NaN
1507,university of shanghai for science and technology,0,0,0,0,0,0,71.1,6.9,NaN
1508,university of tennessee knoxville,0,0,0,0,0,0,63.4,14.5,NaN
1509,uoc universitat oberta de catalunya,0,0,0,0,0,0,84.7,3.2,NaN

In [51]:
import pandas as pd
new_merged_df['QS Citations per Paper'] = pd.to_numeric(new_merged_df['QS Citations per Paper'], errors='coerce')
new_merged_df['Citations'] = pd.to_numeric(new_merged_df['Citations'], errors='coerce')
new_merged_df['CNCI'] = pd.to_numeric(new_merged_df['CNCI'], errors='coerce')

# Calculate the "final citation score" for each row based on the specified logic
def calculate_final_score_citations(row):
    qs_citations_per_paper = row['QS Citations per Paper']
    citations = row['Citations']
    cnci = row['CNCI']

    if qs_citations_per_paper != 0 and citations != 0 and cnci != 0:
        final_score = (((qs_citations_per_paper + citations + cnci) / 3) / 100) * 0.8 + 0.2
    elif (qs_citations_per_paper != 0 and citations != 0) or (qs_citations_per_paper != 0 and cnci != 0) or (citations != 0 and cnci != 0):
        final_score = (((qs_citations_per_paper + citations + cnci) / 2) / 100) * 0.8 + 0.1
    elif qs_citations_per_paper != 0 or citations != 0 or cnci != 0:
        final_score = (max(qs_citations_per_paper, citations, cnci) / 100) * 0.8
    else:
        final_score = 0

    return (final_score*100)

# Apply the calculation to each row and create a new 'final citation score' column
new_merged_df['final citation score'] = new_merged_df.apply(calculate_final_score_citations, axis=1)

# Display the updated DataFrame
print(new_merged_df)

                                             University  \
0             massachusetts institute of technology mit
1                            carnegie mellon university
2                                   stanford university
3                 university of california berkeley ucb
4                                  university of oxford
...                                                 ...
1505                   university of missouri  columbia
1506                                university of paris
1507  university of shanghai for science and technology
1508                 university of tennessee  knoxville
1509                uoc universitat oberta de catalunya

      QS Citations per Paper QS Academic Reputation QS Employer Reputation  \
0                       93.7                     91                   98.2
1                       95.3                    100                   82.3
2                       99.9                   88.5                   96.3
3                      100.0                   85.4                     90
4                       94.2                   82.1                   96.7
...                      ...                    ...                    ...
1505                    75.8                   39.2                   53.5
1506                     0.0                      0                      0
1507                     0.0                      0                      0
1508                     0.0                      0                      0
1509                     0.0                      0                      0

      Citations Research Teaching  CNCI    TOP         Country  \
0           0.0        0        0  81.1  100.0   United States
1          99.6     93.4     87.7  73.7   99.8   United States
2         100.0     96.3     90.6  87.2   85.5   United States
3           0.0        0        0   0.0      0   United States
4          99.9     92.8     92.4  72.2   63.9  United Kingdom
...         ...      ...      ...   ...    ...             ...
1505        0.0        0        0  73.8   10.5   United States
1506        0.0        0        0  56.7   23.1             NaN
1507        0.0        0        0  71.1    6.9             NaN
1508        0.0        0        0  63.4   14.5             NaN
1509        0.0        0        0  84.7    3.2             NaN

      final citation score
0                79.920000
1                91.626667
2                96.560000
3                80.000000
4                91.013333
...                    ...
1505             69.840000
1506             45.360000
1507             56.880000
1508             50.720000
1509             67.760000

[1510 rows x 11 columns]

In [ ]:
def calculate_final_score_rep(row):
    cols = ['TOP', 'QS Academic Reputation', 'QS Employer Reputation', 'Research', 'Teaching']
    non_zero_cols = [col for col in cols if row[col] != 0]
    non_zero_count = len(non_zero_cols)

    # Convert relevant columns to numeric
    numeric_cols = row[non_zero_cols].apply(pd.to_numeric, errors='coerce')

    if non_zero_count == 5:
        final_score = (((numeric_cols.sum() / 5) / 100) * 0.8) + 0.2
    elif non_zero_count == 4:
        final_score = (((numeric_cols.sum() / 4) / 100) * 0.8) + 0.15
    elif non_zero_count == 3:
        final_score = (((numeric_cols.sum() / 3) / 100) * 0.8) + 0.1
    elif non_zero_count == 2:
        final_score = (((numeric_cols.sum() / 2) / 100) * 0.8) + 0.05
    elif non_zero_count == 1:
        final_score = (numeric_cols[non_zero_cols[0]] / 100) * 0.8
    else:
        final_score = 0

    return (final_score * 100)

# Apply the calculation to each row and create a new 'final reputation score' column
new_merged_df['final reputation score'] = new_merged_df.apply(calculate_final_score_rep, axis=1)

# Display the updated DataFrame
print(new_merged_df)

In [54]:
new_merged_df['overall score'] = 0.2 * new_merged_df['final citation score'] + 0.8 * new_merged_df['final reputation score']
new_merged_df.sort_values(by='overall score', ascending=False, inplace=True)
new_merged_df.reset_index(drop=True, inplace=True)
new_merged_df.index += 1
new_merged_df

In [1]:
new_merged_df.to_csv('FINAL_ranking_list.csv')

NameError: name 'new_merged_df' is not defined

In [ ]:
# Combined